<div id="impacs-tab">
  <div class="impacs-tab-right d-flex">
    <div class="d-flex" *ngIf="selectedIndex != 2">
      <button class="new_case"   *ngIf="selectedIndex != 3"  mat-raised-button (click)="exportFile(labelNames[this.selectedIndex]?.name,labelNames[this.selectedIndex]?.value)"><i-feather name="download" matTooltip="Download"></i-feather>Download</button>
      <mat-icon class="btn-icon" *ngIf="selectedIndex != 3" (click)="openDeleteDialog()">
        <i-feather name="trash-2" matTooltip="Delete"></i-feather>
      </mat-icon>
      <button class="new_case" mat-raised-button (click)="onCreateEditClicked()">
        <i-feather name="plus" matTooltip="New {{labelNames[selectedIndex]?.name}}"></i-feather>New {{labelNames[selectedIndex]?.name}}
      </button>
    </div>

    <div class="d-flex" *ngIf="selectedIndex == 2">
      <mat-form-field appearance="fill" class="adminform">
        <mat-label>Record Type </mat-label>
        <mat-select   [(ngModel)]="selectedRecordId" (selectionChange)="onChangeRecordName($event.value)">
          <mat-option *ngFor="let recordName of allRecordList" [value]="recordName.entityTypeId">
            {{recordName?.componentValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
  <div class="apptab">
    <app-tab [displayedLables]="labelNames" [selectedIndex]="selectedIndex" (onSelectedTab)="onSelectedTab($event.index)">
    </app-tab>
  </div>
  
    <app-table [observableData]="dataSource" [customTableColumnSize]="customTableColumnSize"
      [displayedColumnswidth]="displayedColumnswidth" [displayedColumns]="displayedColumns"
      (onCreateEditClicked)="onCreateEditClicked($event)" (onRowCheck)="onSelected($event)"
      (onSorted)="onSorted($event)" (onSearched)="onSearched($event)" (onPageChanged)="onPageChanged($event)"
      [isToggle]="isToggle" [entityTypeId]="entityTypeID" [searchKeyValue]="searchKey" [menuName]="menuName" [selectedTabName]="labelNames[this.selectedIndex].name"></app-table>

</div>