.adminform{
  margin: -21px
}
.apptab{
  margin-top:20px
}
.firstcell-link {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #007ACC;
  color: #007ACC;
}
.mat-select{
  position: relative!important;
  top: 10px!important;
}
::ng-deep .adminform .mat-form-field-wrapper {
  height: 60px!important;
}