<div class="content-box p-4"  id=impacs-tab >
    <div class="row">
        <div class="col-2">
            <img src="../../../../../assets/images/IMPACS_trans.png" alt="" width="100" height="100"  class="center">
        </div>
        <div class="col-8" class="center-title">
            <h3>Incident Submission Form</h3>
        </div>
        <div class="col-2">
        </div>
    </div>
        <div class="scrollbar" id="scroll-bar">
            <div class="row center card">
                <h4>Use this form to report incidents</h4>
                <div class="mb-3" >
                    <form [formGroup]="publicIncidentForm">
                    <!-- TextBox -->
                    <mat-form-field appearance="fill" class="col-md-8 mb-3">
                        <mat-label>Name</mat-label>
                        <mat-label class="text-danger">*</mat-label>
                        <input matInput formControlName="name" autocomplete="off"/>
                    </mat-form-field>
                    <div class="text-danger col-md-3 mb-3" *ngIf="publicIncidentForm.controls['name'].touched && publicIncidentForm.controls['name']?.errors?.required"><mat-error>Name is required</mat-error></div>
                    
                    <mat-form-field appearance="fill" class="col-md-8 mb-3">
                        <mat-label>Email</mat-label>
                        <mat-label class="text-danger">*</mat-label>
                        <input matInput type="email" formControlName="email" autocomplete="off"/>
                    </mat-form-field>
                    <div class="text-danger col-md-3 mb-3" *ngIf="publicIncidentForm.controls['email'].touched && publicIncidentForm.controls['email']?.errors?.required"><mat-error>Email is required</mat-error></div>
                    <div  *ngIf="publicIncidentForm.controls['email']?.errors?.email">
                    <mat-error>Email must be a valid Email address.</mat-error>
                  </div>
                    <!-- // DateTime -->
                    <mat-form-field appearance="fill" class="col-md-8 mb-3">
                        <mat-label>Incident Date</mat-label>
                        <mat-label class="text-danger">*</mat-label>
                        <input matInput [ngxMatDatetimePicker]="startPicker" formControlName="incidentDate"
                        >
                        <mat-datepicker-toggle matSuffix [for]="$any(startPicker)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #startPicker></ngx-mat-datetime-picker>
                    </mat-form-field>
                    <div class="text-danger col-md-3 mb-3" *ngIf="publicIncidentForm.controls['incidentDate'].touched && publicIncidentForm.controls['incidentDate']?.errors?.required"><mat-error>Incident Date is required</mat-error></div>

                   
                    <!-- // TextArea -->
                    <mat-form-field appearance="fill" class="col-md-8 mb-3">
                        <mat-label>Description</mat-label>
                        <mat-label class="text-danger">*</mat-label>
                        <textarea matInput formControlName="description" placeholder="Please enter a brief description of the incident" rows="4" cols="40" autocomplete="off"></textarea> 
                    </mat-form-field>
                    <div class="text-danger col-md-3 mb-3" *ngIf="publicIncidentForm.controls['description'].touched && publicIncidentForm.controls['description']?.errors?.required"><mat-error>Description is required</mat-error></div>

                        <!-- Upload -->
                    <mat-form-field  class="file-upload col-md-8 mb-3">
                        <mat-label>Attachment</mat-label>
                        <div class="d-flex p-1">
                            <ngx-mat-file-input #fileInput accept="*" [multiple]=true
                                formControlName="fileUpload"  (change)="onFileSelected($event)">
                            </ngx-mat-file-input>
                            <i-feather name="upload" matTooltip="File Upload"></i-feather>
                        </div>
                    
                        <div class="uploadfile-preview"  *ngIf="listOfFiles.length > 0">Uploaded File
                            <mat-chip-list #chipList >
                                <mat-chip *ngFor="let selected of listOfFiles;let index = index" [selectable]="selectable"
                                [removable]="removable" (removed)="removeSelectedFile(index)"
                                >
                                {{selected.name ? selected.name : selected.fileName}}
                                <button matChipRemove>
                                    <mat-icon matTooltip="Cancel">cancel</mat-icon>
                                </button>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </mat-form-field>

                    <div class="col-md-8 mb-3">
                        <re-captcha (resolved)="resolved($event)" siteKey={{sitekey}} formControlName="recaptcha"></re-captcha>
                    </div>
                    <div class="text-danger col-md-3 mb-3" *ngIf="publicIncidentForm.controls['recaptcha'].touched && publicIncidentForm.controls['recaptcha']?.errors?.required"><mat-error>Recaptcha is required</mat-error></div>
                    
                    </form>
                    <div class="form-btn" >
                        <button mat-raised-button class="modal-submit" (click)="submit()" >Submit</button>
                    </div>
                </div>
            </div>
            
            <div class="submit-btn" >
            </div>
        </div>
</div> 


<div id="pause"  class="d-flex align-items-center justify-content-center" *ngIf="isLoading">
    <div class="chatbot-loader" >
      <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
      <br />
          Please wait...
    </div>
  </div>