.mat-chip.mat-standard-chip {
    background-color: #007ACC;
    color: #fff;
    font-weight: 400;
    min-height: 25px;
    padding-right: 13px;
  }
  ::ng-deep .mat-chip.mat-standard-chip .mat-chip-remove{
    opacity: unset;
  }
  ::ng-deep input.mat-chip-input{
    bottom: unset;
  }
  ::ng-deep .mat-standard-chip .mat-chip-remove, .mat-standard-chip .mat-chip-trailing-icon {
    margin-left: 0px;
    margin-right: 0;
  }
  .uploadfile-preview{
    border: 1px dashed #707070;
    padding: 1rem;
    border-radius: 10px;
    color: #707070;
    height: 100px;
    overflow-y: scroll;
    margin-top: 50px;
   }
  ::ng-deep .uploadfile-preview .mat-chip-list-wrapper{
    margin-top: 0.25rem !important;
  }
  .uploadfile-preview button mat-icon{
    color: #fff;
  }
  .file-upload .mat-form-field-flex{
    padding: 0 10px !important;
  }
  .my-5{
    margin-top: 10rem!important;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .center-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 40px;
  }
  .submit-btn{
    padding-left: 35rem;
    margin-top: 4rem !important;
    margin-bottom: 20rem!important;
  }

  .modal-submit{
    &:disabled {
      cursor: not-allowed;
      }
  }
  .card{
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px
  }
 /*Loader */ 
  @keyframes frames {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    }
  } 
  #pause {
    display: block;
    background:
      rgba(0, 0, 0, 0.3)
      no-repeat
      0 0;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1100;
    user-select: none;
  }