<div class="content-box p-4">
  <div class="head-box d-flex justify-content-between mb-2">
    <div class="d-flex">
      <mat-icon (click)="cancel()" matTooltip="Back">keyboard_arrow_left</mat-icon>
      <h3 class="back_arrow_left">Roles And Permission</h3>
    </div> 
  </div>
  <b>Note:</b>
  <div class="row">
    <div class="col-6">
      <p><b>Create</b> - Giving access to create, enables users to create an record in a specific module</p>
      <p><b>Read</b> - Giving access to read, enables users to read records in a specific module</p>
    </div>
    <div class="col-6">
      <p><b>Update</b> - Giving access to update, enables users to update an record in a specific module</p>
      <p><b>Delete</b> - Giving access to delete, enables users to delete records in a specific module</p>
    </div>
    <div class="col-6">
      <p><b>--</b> - User does not have permission</p>
    </div>
  </div>

  <div class="example-container mat-elevation-z8 table-casetype  mb-4">
    <mat-table class="impacs-table" [dataSource]="dataSource"> 
      <ng-container *ngFor="let column of displayedColumns">
        <ng-container [matColumnDef]="column" *ngIf="column == 'displayName'">
          <mat-header-cell *matHeaderCellDef class="roles_permission_header text-capitalize">{{column}}</mat-header-cell>
          <ng-container>
            <mat-cell *matCellDef="let row"> {{row[column]}} </mat-cell>
          </ng-container>
        </ng-container>

        <ng-container [matColumnDef]="column" *ngIf="column != 'displayName'">
          <mat-header-cell *matHeaderCellDef class="roles_permission_header text-capitalize">{{column}}</mat-header-cell>
          <ng-container>
            <mat-cell *matCellDef="let row;">
              <section class="example-section"  *ngIf="row?.menuAction?.[column] !='--'">
                <mat-checkbox class="example-margin" [checked]="row?.menuAction?.[column]"
                  (change)="onChangePermission(row,$event,column)">
                </mat-checkbox>
              </section>
              <div *ngIf="row?.menuAction?.[column] =='--'"> --</div>
            </mat-cell>
          </ng-container>
        </ng-container>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <div class="table-content-wrapper">
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </div>
    </mat-table>
  </div>
  <div class="d-flex justify-content-center my-5 form-btn">
    <button mat-raised-button class="modal-submit" (click)="updateRolePermission()">Submit</button>
    <button mat-raised-button class="modal-cancel" (click)="cancel()">Cancel</button>
  </div>
</div>