<div class="content-box p-4" id=impacs-tab>
  <div class="head-box d-flex justify-content-between" *ngFor="let view of viewList">
    <div class="d-flex">
      <mat-icon (click)="cancel()" matTooltip="Back">keyboard_arrow_left</mat-icon>
      <h3 class="back_arrow_left">Task Template : {{view?.['Incident Type'] ? view?.['Incident Type'] : view?.['Case Type'] ? view?.['Case
        Type'] : view?.['Event Type']}}</h3>
    </div>
  </div>
  <div class="user-task-template">
    <div *ngFor="let taskTemplateTitle of taskTemplateList;let i=index;">
      <div *ngIf="taskTemplateTitle?.isTitle == true">
        <p>{{taskTemplateTitle?.entityTypeAttributeName}}</p>
        <mat-card class="mb-3">
          <form class="my-3" [formGroup]="taskTemplateForm">
            <div class="row">
              <div class="col-md-4" *ngFor="let taskAttribute of taskTemplateList;let i=index;">
                <div *ngIf="taskTemplateTitle?.groupId == taskAttribute?.groupId">
                  <div *ngIf="taskAttribute?.isTitle == false">
                    {{taskAttribute?.entityTypeAttributeName}}
                    <mat-form-field appearance="fill" *ngIf="taskAttribute.componentName== attributeTypeValue?.TEXT_BOX">
                      <mat-label>{{taskAttribute?.entityTypeAttributeNam}}</mat-label>
                      <mat-label *ngIf="taskAttribute.isRequired" class="text-danger">*</mat-label>
                      <input matInput [formControlName]="taskAttribute.entityTypeAttributeName" autocomplete="off"/>
                    </mat-form-field>

                    <mat-form-field appearance="fill" *ngIf="taskAttribute.componentName== attributeTypeValue?.DATE_TIME">
                      <mat-label>{{taskAttribute?.entityTypeAttributeName}}</mat-label>
                      <mat-label *ngIf="taskAttribute.isRequired" class="text-danger">*</mat-label>
                      <input matInput [ngxMatDatetimePicker]="startPicker" 
                        [formControlName]="taskAttribute.entityTypeAttributeName"
                        (dateChange)="onChangeStart()">
                      <mat-datepicker-toggle matSuffix [for]="$any(startPicker)"></mat-datepicker-toggle>
                      <ngx-mat-datetime-picker #startPicker></ngx-mat-datetime-picker>
                    </mat-form-field>

                    <mat-form-field appearance="fill" *ngIf="taskAttribute.componentName== attributeTypeValue?.TEXT_AREA">
                      <mat-label>{{taskAttribute?.entityTypeAttributeName}}</mat-label>
                      <mat-label *ngIf="taskAttribute.isRequired" class="text-danger">*</mat-label>
                      <textarea matInput [formControlName]="taskAttribute.entityTypeAttributeName" autocomplete="off"></textarea>
                    </mat-form-field>

                    <div
                      *ngIf="taskTemplateForm?.get(taskAttribute?.entityTypeAttributeName)?.touched && taskTemplateForm?.get(taskAttribute?.entityTypeAttributeName)?.errors?.required">
                      <mat-error>{{taskAttribute?.entityTypeAttributeName}} is required</mat-error>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </mat-card>
      </div>
      <div class="no-task-template" *ngIf="taskTemplateTitle.isTitle == false && i==0">
        No Data Found
      </div>
    </div>

    <div class="no-task-template" *ngIf="taskTemplateList == 0">
      No Data Found
    </div>
  </div>
</div>