
  <div class="modal-head">
    <h5>Preview</h5>
  </div>
  <button mat-icon-button class="close-button" (click)="onNoClick()">
    <mat-icon class="close-icon" color="warn" matTooltip="Close">close</mat-icon>
  </button>

  <div mat-dialog-content class="text-center p-3 del-body">
    <div class="d-flex justify-content-center p-3" *ngIf="imageSource">
      <img [src]="imageSource" height="370" alt="Image Source">
      <ngx-extended-pdf-viewer
      [src]="imageSource"
      [height]="'58vh'"
      [useBrowserLocale]="true"
    >
    </ngx-extended-pdf-viewer>
    </div>
  </div>
  <div class="d-flex justify-content-center my-5 form-btn">
    <button *ngIf="previewReq.download" mat-raised-button class="modal-submit" (click)="download()">Download</button>
    <button *ngIf="previewReq.delete" mat-raised-button class="modal-submit" (click)="delete()">Delete</button>
    <button mat-raised-button class="modal-cancel" (click)="onNoClick()">Cancel</button>
  </div>
