::ng-deep  .head-box button .mat-icon {
  display: inline-flex; 
  align-items: center;
  float:left;
}
.blog-box{
  background: #fff;
  box-shadow: 0px 2px 5px #ccc;
  height: 350px;
  border-radius: 10px;
  position: relative;
}
.blog-head{
  background: #cce3f38a;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-body{
  padding: 1rem;
}
.blog-body p{
  margin: 0;
  font-size: 13px;
  color: #707070;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-body h6{
  color: #000;
  font-weight: 600;
}
.blog-foot{
  width: 100%;
  padding: 0 1rem;
  font-size: 12px;
}
.blog-foot .mat-divider{
 margin-bottom: 1rem;
}
.blog-foot p{
  color: #707070;
  margin: 0;
}
.blog-list  .col-md-9{
  border-right: 1px solid #ccc;
}
.has-search .form-control {
  padding-left: 2.375rem;
  background: #fff;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 15px;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  margin-left: 10px;
}
.type-tags button{
  background: #cccccc73;
  color: #707070;
  padding: 0.2rem 0.7rem;
  border-radius: 50px;
  font-weight: 400;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 12px;
  border: transparent;
}
.add-cursor{
  cursor: pointer;
}
.nodata_display_blog {
  left: 0;
  right: 0;
  text-align: center;
}
.search-tag {
  color : Black!important;
}
.search-tag.active {
 color : white!important;
 background-color: #007bff!important;
}
.head-box button{
  padding-left: 0px;
}
.blog-wh{
  height:100px;
  width:100px;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-height: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .blog-foot .mat-divider{
      margin-bottom: 0.5rem;
     }
  }