<div class="content-box p-4">
    <div class="head-box d-flex justify-content-between">
        <div class="d-flex">
            <h3>Blog</h3>
        </div>
        <button mat-button (click)="onCreateEditClicked()">
            <mat-icon>
                <i-feather name="plus" matTooltip="New Blog"></i-feather>
            </mat-icon>
            New Blog
        </button>
    </div>
    <div class="blog-list my-3">
        <div class="row"> 
            <div class="col-md-9">
                <div class="row" *ngIf="blogLists?.length>0">
                    <div class="col-lg-4 col-md-6 mb-4 add-cursor" *ngFor="let blog of blogLists;let i=index;">
                        <div class="blog-box" (click)="onCreateEditClicked(blog)">
                            <div class="blog-head justify-content-center p-3">
                                <div *ngIf="blog?.['Thumb Image'] == null || blog?.['Thumb Image'] == '[]'">No Image Found</div>
                                <div *ngIf="blog?.['Thumb Image'] != null">
                                    <div *ngFor="let img of imageSource"><span *ngIf="i == img.index"><img  [src]="img.image" height="100"
                                    width="100" alt="Image Source"></span>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="blog-body">
                                <h6>{{blog?.Title ? blog?.Title : blog?.title}}</h6>
                                <p class="blog-wh" [innerHTML]="blogDataHtml[i]"></p>
                            </div>
                            <div class="blog-foot">
                                <mat-divider></mat-divider>
                                <div class="d-flex justify-content-between">
                                    <p>{{blog?.createdBy}}</p>
                                    <p>{{blog?.createdOn | date:'yyyy-MM-dd h:mm a'}}</p>
                                    <p>{{blog?.Tags}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center my-5 nodata_display_blog" *ngIf="blogLists?.length == 0">
                    No Data Found
                </div>
                <ng-container *ngIf="paginationResult?.Entities?.length > 0">  <app-pagination [paginationList]="paginationResult" (onPageChanged)="onPageChanged($event)"></app-pagination></ng-container>
              
            </div>
            <div class="col-md-3">
                <div class="blog-search">
                    <form>
                        <label>Search</label>
                        <div class="form-group has-search">
                            <i-feather class="form-control-feedback" name="search" matTooltip="Search"></i-feather>
                            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchKey"
                                [ngModelOptions]="{standalone: true}" (keyup)="search(searchKey)" autocomplete="off">
                        </div>
                        <div class="type-tags">
                            <label>Tags</label>
                            <div class="d-flex flex-wrap">
                                <button class="search-tag" [ngClass]="{'active':getActiveTag(tag?.id)}"
                                    *ngFor="let tag of tagLists; let i = index"
                                    (click)="searchTags(tag)">{{tag?.entityName}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>