<div id="weblogin">

    <app-login-header></app-login-header>
    
    <div class="body-impacs-content">
        <div class="login-box">
            <div class="row">
                <div class="col-md-6 p-0">
                    <div class="left-side">
                        <img src="../../../../../assets/images/loginbanner.png" alt="afs">
                        <h3>Welcome to IMPACS</h3>
                    </div>
                </div>
                <div class="col-md-6 p-0 second-col">
                    <div class="right-side h-100">
                        <mat-card class="example-card h-100">
                            <mat-card-header class="heading d-block">
                              <mat-card-title class="mb-4">Login</mat-card-title>
                              <mat-card-subtitle>Please enter your username and password to continue</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content class="pt-3">
                                <form [formGroup]="loginForm" (ngSubmit)="handleSubmit($event)">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Username</mat-label>
                                        <input matInput formControlName="emailAddress"  autocomplete="off">
                                    </mat-form-field>
                                    <mat-error class="pb-2" *ngIf="loginForm.controls['emailAddress'].touched && loginForm.controls['emailAddress'].errors?.required">  Username is Required.
                                    </mat-error>

                                    <mat-form-field appearance="fill" class="pt-4 example-full-width">
                                        <mat-label>Password</mat-label>
                                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" (keyup)="handleKeyUp($event)"  autocomplete="off">
                                        <button class="eye-icon" mat-icon-button matSuffix >
                                            <mat-icon (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                    </mat-form-field>
                                    <mat-error class="pb-2" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.required">Password is Required.
                                    </mat-error>
                                </form>
                               
                                <div class="button-spinners-container">
                                    <div class="spinners-container" *ngIf="isLoading">
                                            Please wait...
                                    <mat-spinner diameter="24"></mat-spinner>
                                    </div>
                                    <button type="submit" class="mt-4 btn-login" mat-raised-button color="primary" (click)="login()">Login </button>
                                </div>
                                <div class="forgot-pwd pt-4">
                                    <a [routerLink]="['/forgot-password']">Forgot Password?</a>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-login-footer></app-login-footer>

</div>


