<div class="modal-head">
    <h5>Edit Setting</h5>
  </div>
  <button mat-icon-button class="close-button">
    <mat-icon class="close-icon" color="warn" matTooltip="Close" (click)="onNoClick()">close</mat-icon>
  </button>
  <form [formGroup]="settingForm" class="px-3">
    <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Session Timeout</mat-label>
            <input class="mt-3" type="text" (keypress)="onkeypressNumber($event)"  matInput formControlName="sessionTimeout" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Otp TimeOut</mat-label>
              <input class="mt-3" type="text"  (keypress)="onkeypressNumber($event)"  matInput formControlName="otpTimeOut" autocomplete="off">
            </mat-form-field>
          </div>
      </div>
   
    <div class="my-3 text-center">
      <button mat-button class="btn modal-submit mr-3" (click)="createUpdate()">Submit</button>
      <button mat-button class="btn modal-cancel" (click)="onNoClick()">Cancel</button>
    </div>
  </form>
