<div class="modal-head">
    <h5>{{formResponse?.headers}}</h5>
</div>
<button mat-icon-button class="close-button" (click)="onNoClick()">
    <mat-icon class="close-icon" color="warn" matTooltip="Close">close</mat-icon>
</button>

<form [formGroup]="modalForm" class="px-3">
    <div class="popform"  *ngFor="let attribute of formResponse.result">
        <div *ngIf="!RadioButtonHide">
            <div class="example-full-width mb-3" appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.CHECK_BOX">
                <label>{{attribute?.entityTypeAttributeName}}</label>
                <mat-radio-group class="d-block" aria-label="Select an option" name="Radio_Value"
                    [formControlName]="attribute.entityTypeAttributeName">
                    <ng-container *ngFor="let template of  formResponse.RadioResponse">
                        <mat-radio-button color="primary" class="ml-10" 
                            *ngIf="attribute.entityTypeAttributeId == template.entityTypeAttributeId"
                            [value]="template.entityId">{{template?.componentValue}}</mat-radio-button>
                    </ng-container>
                </mat-radio-group>
            </div>
        </div>
        <mat-form-field class="example-full-width mb-3" appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_BOX && attribute.isAdmin == true">
            <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
            <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
            <input matInput [formControlName]="attribute.entityTypeAttributeName" autocomplete="off">
        </mat-form-field>

        <mat-form-field class="example-full-width mb-3" appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_FIELD">
            <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
            <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
            <input matInput [formControlName]="attribute.entityTypeAttributeName" autocomplete="off">
        </mat-form-field>

        <div *ngIf="modalForm?.get(attribute?.entityTypeAttributeName)?.touched && modalForm?.get(attribute?.entityTypeAttributeName)?.errors?.required">
            <mat-error>{{attribute?.entityTypeAttributeName}} is required</mat-error>
        </div>

        <mat-form-field class="example-full-width mb-3" appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.MULTI_DROP_DOWN">
            <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
            <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
                <mat-chip-list #chipList >
                    <mat-chip class="tag-list-cursor" [ngClass]="{'active':getActiveTag(tag?.id)}"
                    *ngFor="let tag of tagLists; let i = index" (click)="searchTags(tag)"  >
                    {{tag?.entityName}}
                    </mat-chip>
                    <input matInput [matChipInputFor]="chipList" [formControlName]="attribute.entityTypeAttributeName">
                </mat-chip-list>
        </mat-form-field>   
         
         <div *ngIf="searchTagName.length == 0 && attribute.componentName== attributeTypeValue?.MULTI_DROP_DOWN && multiDropDownSelect">
                <mat-error>{{attribute?.entityTypeAttributeName}} is required</mat-error>
        </div>   

    </div>
    <div class="my-3 text-center">
        <button mat-button class="btn modal-submit mr-3" (click)="updateSkills()">Save</button>
        <button mat-button class="btn modal-cancel" (click)="onNoClick()">Cancel</button>
    </div>
</form>