.mat-chip.mat-chip.mat-focus-indicator.mat-primary.mat-standard-chip.ng-star-inserted.active {
    background: #007ACC;
    color: #fff;
}
.tag-list-cursor{
  cursor: pointer;
}
.popform{
  margin-top: 10px;
}
.ml-10{
  margin-left: 10px;
}