<div class="flex d-flex justify-content-between align-items-center text-white">
    <div class="left-container">
        <i [ngClass]="data['type']==='info'?'fa fa-info-circle':data['type']==='warning'?
        'fa fa-exclamation-triangle':data['type']==='error'?'fa fa-ban':'fa fa-check-circle-o'"></i>
    </div>
    <div class="message" *ngIf="!data.isMessageContainsArray">{{data?.message}}</div>
    <div class="d-flex flex-column" *ngIf="data.isMessageContainsArray">
        <div class="message" *ngFor="let msg of data.message">
            {{msg?.Error}}</div>
    </div>
    <div class="dismiss">
        <i class="fa fa-times-circle" (click)="snackBarRef.dismiss()"></i>
    </div>
</div>