@keyframes frames {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg);
  }
} 

#pause {
	display: block;
	background:
		rgba(0, 0, 0, 0.3)
		no-repeat
		0 0;
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1100;
	user-select: none;
}
.chatbot-loader{
    position: absolute!important;
    bottom: 50px!important;
    right: 160px!important;
}