<div id="pause"  class="d-flex align-items-center justify-content-center" *ngIf="isLoading && !isChatBotLoading">
  <div class="text-center" >
    <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
    <br />
        Please wait...
  </div>
</div>


<div id="pause"  class="d-flex align-items-center justify-content-center" *ngIf="isChatBotLoading">
  <div class="chatbot-loader" >
    <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
    <br />
        Please wait...
  </div>
</div>