<div class="content-box p-4" id=impacs-tab >
    <div class="head-box d-flex justify-content-between">
      <div class="d-flex align-items-center mb-4">
        <mat-icon (click)="cancel()" matTooltip="Back">keyboard_arrow_left</mat-icon>
        <h3 class="m-0 back_arrow_left">View Public Incident</h3>
      </div>
    </div>

    <mat-card class="create-case-form">
        <div class="scrollbar" id="scroll-bar">
          <div class="row">
            <div class="col-md-3 mb-3" *ngFor="let attribute of section0?.attributeName">
              <form [formGroup]="templateForm">
                <!-- TextBox -->
                <mat-form-field appearance="fill">
                  <mat-label>{{attribute}}
                </mat-label>
                  <input matInput [formControlName]="attribute" autocomplete="off" readonly/>
                </mat-form-field>
              </form>
            </div>
            <div class="col-md-3 mb-3" *ngFor="let attribute of section1?.attributeName">
                <form [formGroup]="templateForm">
                  <!-- TextBox -->
                  <mat-form-field appearance="fill">
                    <mat-label>{{attribute}}
                  </mat-label>
                    <input matInput [formControlName]="attribute" autocomplete="off" readonly/>
                  </mat-form-field>
                </form>
              </div>

              <div class="col-md-3 mb-3" *ngFor="let attribute of section2?.attributeName">
                <form [formGroup]="templateForm">
                  <!-- TextBox -->
                  <mat-form-field appearance="fill">
                    <mat-label>{{attribute}}
                  </mat-label>
                    <input matInput [formControlName]="attribute" autocomplete="off" readonly/>
                  </mat-form-field>
                </form>
              </div>

              <div class="col-md-3 mb-3" *ngFor="let attribute of section3?.attributeName">
                <form [formGroup]="templateForm">
                  <!-- TextBox -->
                  <mat-form-field appearance="fill">
                    <mat-label>{{attribute}}
                  </mat-label>
                    <input matInput [formControlName]="attribute" autocomplete="off" readonly/>
                  </mat-form-field>
                </form>
              </div>
      
              <div class="col-md-3 mb-3" *ngFor="let item of objectFileList; let i=index;">
                <p ><b>File Description:</b><span class="ml-2">{{item?.['File Description']}}</span></p>
                <div><b> Please upload supporting evidence:</b>
                    <div *ngFor="let fileItems of item?.['Please upload supporting evidence']">
                        <div class="logo-cursor uploaded-file-name-public-incident ml-2 mb-2" *ngIf="fileItems?.fileName" (click)="downloadPublicIncidentFile(fileItems)">{{fileItems?.fileName}}
                        </div>
                     </div>
                </div>
              </div>
          </div>
    
     
          <div class="d-flex justify-content-center my-5 form-btn">
            <button  mat-raised-button class="modal-submit" (click)="escalate()">Escalate</button>
              <button mat-raised-button class="modal-cancel" (click)="cancel()">Cancel</button>
          </div>
        </div>
      </mat-card>
</div>

