<div id="impacs-tab" class="mt-4">
  <div class="head-box d-flex justify-content-between mx-4 mb-2">
    <div class="d-flex">
      <h3>Report</h3>
    </div>
  </div>
  <mat-card class="mx-4">
      <div class="row justify-content-end">
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Module Name</mat-label>
            <mat-select  (selectionChange)="onChangeModule($event.value)" [(ngModel)]="moduleName">
                <mat-option *ngFor="let name of labelNames" [value]="name.value">
                {{name?.name}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate">
            <mat-datepicker-toggle matSuffix [for]="$any(startPicker)"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endPicker" [(ngModel)]="endDate">
            <mat-datepicker-toggle matSuffix [for]="$any(endPicker)"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
  
  <form [formGroup]="filterForm">
    <div class="row">
        <div class="col-md-3" *ngFor="let attribute of filterDisplayesColumns">
          <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.DROP_DOWN">
            <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
            <mat-select [formControlName]="attribute.entityTypeAttributeName">
              <ng-container *ngFor="let dropdown of dropDownResponse">
                <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown?.entityTypeAttributeId"
                  [value]="dropdown?.entityId">
                  {{dropdown?.componentValue}}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.DATE_TIME">
            <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
            <input matInput [ngxMatDatetimePicker]="startPicker"
              [formControlName]="attribute.entityTypeAttributeName">
            <mat-datepicker-toggle matSuffix [for]="$any(startPicker)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #startPicker></ngx-mat-datetime-picker>
          </mat-form-field>
        </div>
    </div>
    <div class="my-3 text-center"> 
      <button mat-button class="btn modal-submit mr-3" (click)="filter(false)">Filter</button>
      <button *ngIf="isDefaultFilterDownload" mat-button class="btn modal-submit mr-3" (click)="download()">Download to Excel</button>
    </div>
  </form>
</mat-card>

  <div class="my-3 text-center">
    <mat-checkbox  color="primary"   [(ngModel)]="checkAdvanceFilter" 
    (change)="onChangeAdvanceFilter($event.checked)">Advanced Filter</mat-checkbox>
  </div>

  <mat-card *ngIf="showAdvanceFilterForm">
    <div >
      <div class="mb-4">
        <mat-checkbox  color="primary"   
        [checked]="allChecked" 
        [indeterminate]="isFewSelected()" 
        (change)="setAll($event.checked)">
                Select / UnSelect All
        </mat-checkbox>
      </div>
        
        <div class="row">
          <div class="col-md-3" *ngFor="let header of headerlist;" >
              <mat-checkbox class="example-margin"  color="primary"    [(ngModel)]="header.selected" 
              (change)="onChange($event)" [value]="header.entityTypeAttributeName">{{header?.entityTypeAttributeName}}</mat-checkbox>
          </div>
      </div>
      <div class="my-3 row justify-content-center align-items-center">
        <div class="col-md-3">
          <button mat-button class="btn modal-submit mr-3" (click)="filter(true)">Filter</button>
        </div>
        <div class="col-md-3" *ngIf="isAdvancedFilterDownload">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Download Type</mat-label>
              <mat-select  (selectionChange)="onChangeDownload($event.value)">
                  <mat-option [value]="true">Download to PDF</mat-option>
                  <mat-option [value]="false">Download to Excel</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>