::ng-deep .mat-checkbox-layout{
    white-space: normal !important;
}
::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    line-height: 18px !important;
}
::ng-deep .mat-select{
    position: relative;
    top: 10px;
}