<div class="content-box p-4">
  <div class="head-box d-flex justify-content-between">
    <div class="d-flex">
      <mat-icon (click)="cancel()" matTooltip="Back">keyboard_arrow_left</mat-icon>
      <h3 class="px-2 back_arrow_left">Log Detail</h3>
    </div>
  </div>
  <mat-card class="my-3">
    <div class="row">
      <div class="col-md-9">
        <div class="example-container mat-elevation-z8">
          <mat-table [dataSource]="dataSource" class="impacs-table">

            <ng-container matColumnDef="fields">
              <mat-header-cell mat-header-cell *matHeaderCellDef> Fields </mat-header-cell>
              <mat-cell *matCellDef="let element;">
                {{element?.fieldName}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="selectedEvenInfo">
              <mat-header-cell mat-header-cell *matHeaderCellDef>
                <div class="input-table">
                  <input type="text" class="col-input" [(ngModel)]="selectedEvenDate" autocomplete="off">
                </div>
              </mat-header-cell>
              <mat-cell *matCellDef="let element;">
                {{element?.evenValues}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="selectedOddInfo">
              <mat-header-cell mat-header-cell *matHeaderCellDef>
                <div class="input-table">
                  <input type="text" class="col-input" [(ngModel)]="selectedOddDate" autocomplete="off">
                </div>
              </mat-header-cell>
              <mat-cell *matCellDef="let element;">
                {{element?.oddValues}}
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
            <div class="table-content-wrapper">
              <mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="row.oddValues !='' && row.oddValues !=row.evenValues ? 'active' : ''"></mat-row>
            </div>
          </mat-table>
        </div>
      </div>

      <div class="col-md-3">
        <div class="example-container mat-elevation-z8">
          <mat-table class="impacs-table" [dataSource]="dataSourceDate">
            <ng-container matColumnDef="date">
              <mat-header-cell mat-header-cell *matHeaderCellDef class="d-flex"> Date
              </mat-header-cell>
              <mat-cell *matCellDef="let element;let i = index" (click)="onChangeDate(element, i)"
                [ngClass]="{'active': clicked=== i}" class="auditlog-date" (click)="clicked = i">
                {{element}}
              </mat-cell>
            </ng-container>
            <mat-header-row class="matheaderrow" *matHeaderRowDef="displayedColumnsDate;sticky: true"></mat-header-row>
            <div class="table-content-wrapper">
              <mat-row *matRowDef="let row; columns: displayedColumnsDate;"></mat-row>
            </div>
          </mat-table>
        </div>
      </div>
    </div>
  </mat-card>
</div>