<div class="header-breadcrumb d-flex">
    <nav aria-label="breadcrumb" class="pl-1">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/case-management/case-mangement-list']"><i
                        class="ri-home-4-fill" matTooltip="Home"></i></a></li>
            <ng-container *ngFor="let breadCrumbItem of breadcrumpitems">
                <mat-icon class="py-1">keyboard_arrow_right</mat-icon>
                <div>
                    <ng-container
                        *ngIf="!breadCrumbItem?.relativeRouterUrl && !breadCrumbItem?.queryParams;else elseTemplateTable">
                        <li class="breadcrumb-item active" aria-current="page" *ngIf="breadCrumbItem?.menuName == 'Case-Management'">
                            <span class="mt-2">{{breadCrumbItem?.menuName}}</span>
                            <mat-icon class="py-1">keyboard_arrow_right</mat-icon>
                            <span class="mt-2">{{breadCrumbItem?.title}}</span></li>
                            <li *ngIf="breadCrumbItem?.menuName != 'Case-Management'" class="breadcrumb-item active" aria-current="page">
                                {{breadCrumbItem?.title}}</li>
                    </ng-container>
                    <ng-template #elseTemplateTable>
                        <li class="breadcrumb-item active" aria-current="page" *ngIf="breadCrumbItem?.relativeRouterUrl
                        && !breadCrumbItem?.queryParams"><a class="breadcrumb-link"
                                [routerLink]="breadCrumbItem?.relativeRouterUrl">{{breadCrumbItem?.title}}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"
                            *ngIf="breadCrumbItem?.relativeRouterUrl && breadCrumbItem?.queryParams">
                            <a class="breadcrumb-link" [routerLink]="breadCrumbItem?.relativeRouterUrl"
                                [queryParams]="breadCrumbItem?.queryParams">{{breadCrumbItem?.title}}</a>
                        </li>
                    </ng-template>
                </div>
            </ng-container>
        </ol>
    </nav>
</div>
