.header-breadcrumb::before{
    content: '';
    display: inline-block;
    width: 2px;
    height: 30px;
    background: #ccc;
    margin-left: 0.5rem;
 }
.header-breadcrumb a{
    padding: 0rem 0.5rem;
}
.header-breadcrumb a i {
    font-size: 1.3rem;
    color: #707070;
}
.breadcrumb{
    background-color: transparent;
    margin: 0;
    padding: 0;
    align-items: center;
}
.breadcrumb-link {
    color: #707070 !important;
}
.breadcrumb-item.active{
    padding: 5px 0px;
    color: #707070 !important;
     font-weight: 500;
     font-size: 0.9rem;
 }