<div class="body-impacs-content">
    <div class="login-box" *ngIf="currentPageUrl == '/home'">
        <div class="row">
            A welcome page / site overview and introduction. This page will provide anyone who visits the site an introduction to the mission of the CARICOM IMPACS program in general and the DFMP in particular. The overview page will provide navigation buttons to the following functional areas:
            <span class="login-menupage">About, Contact, Get Involved, Legal.</span>
        </div>
    </div>

    <div class="login-box" *ngIf="currentPageUrl == '/about'">
        <div class="row">
            More detailed introductions to CARICOM and the IMPACS’ mission, objectives, member countries, key personnel, etc.
        </div>
    </div>

    <div class="login-box" *ngIf="currentPageUrl == '/contact'">
        <div class="row">
            Contact forms to direct inquiries to the appropriate recipients.
        </div>
    </div>

    
    <div class="login-box" *ngIf="currentPageUrl == '/get-involved'">
        <div class="row">
            Information on the different functional areas within IMPACS and ways that interested parties can help.
        </div>
    </div>

    <div class="login-box" *ngIf="currentPageUrl == '/legal'">
        <div class="row">
            Information about the legal environment, disclaimers, governing bodies, etc.
        </div>
    </div>
</div>