<div class="content-box p-4">
    <div class="head-box d-flex justify-content-between">
        <div class="d-flex">
            <mat-icon (click)="cancel()" matTooltip="Back">keyboard_arrow_left</mat-icon>
            <h3 class="px-2 back_arrow_left">RSS-Feeds</h3>
        </div>
    </div>
</div> 
<div class="research-type-head d-flex" id="impacs-tab">
    <div class="research">
        <div class="research-search">
            <form class="example">
                <input type="text" [(ngModel)]="previousSearchKey" name="search"                  (keyup)="onKeyupSearch($event)" autocomplete="off">
                <button type="button" class="clear-btn" *ngIf="previousSearchKey"  (click)="previousSearchKey=''" > <i-feather name="x" matTooltip="Clear"></i-feather></button>
                <button type="button" (click)="onSearchRss_Feeds(previousSearchKey)">
                    <i-feather name="search" matTooltip="Search"></i-feather>Search
                </button>
            </form>
        </div>
    </div>
    <div class="plus-right">
        <mat-icon class="btn-icon" (click)="onCreateClicked()">
            <i-feather name="plus" matTooltip="New RSS Feeds"></i-feather>
        </mat-icon>
    </div>
</div>
<div class="p-4 research-content">
    <div class="row">
        <div class="col-md-9">
            <p>Search Results</p>
            <mat-card class="p-3 mb-4 research-type" *ngFor="let rss of rssFeedsLists;let i=index;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="result-content">
                            <div class="d-flex justify-content-between rss_feeds_title">
                                <h5 (click)="rss_feeds_details(rss)">{{rss?.Title ? rss?.Title : '--'}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="result-content">
                            <div class="d-flex justify-content-between rss_feeds_title">
                                <span>Type: {{rss?.Type ? rss?.Type : '--'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-2 media-text scrollbar">
                    <div [innerHTML]="addMediaHtml[i]"></div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-6 result-by-date">
                            <p>Tags: {{rss?.Tags  ? rss?.Tags : '--'}}</p>
                            <p>Member State: {{rss?.['Member State'] ? rss?.['Member State'] : '--'}}</p>
                    </div>
                    <div class="col-md-6 result-by-date">
                        <p>Created By: {{rss?.createdBy ? rss?.createdBy : '--'}}</p>
                        <p>Created On: {{rss?.createdOn | date:'yyyy-MM-dd h:mm a'}}</p>
                    </div>
                </div>
               
            </mat-card>
            <div class="text-center my-5 nodata_display_blog" *ngIf="rssFeedsLists?.length == 0">
                No Data Found
            </div>
            <ng-container *ngIf="paginationResult?.Entities?.length > 0"> <app-pagination [paginationList]="paginationResult" (onPageChanged)="onPageChanged($event)"></app-pagination></ng-container>
           

        </div>
        <div class="col-md-3"> 
            <div class="filter-box">
                <div class="filter-head">
                    Filter
                </div>
                <div class="filter-body">
                    <mat-checkbox class="example-margin" *ngFor="let filter of filterLists ; let i = index"
                        (click)="filterTags(filter)" color="primary">{{filter?.componentValue}}</mat-checkbox>
                </div>
            </div>
            <div class="research-tags">
                <h5 class="my-4">Tags</h5>
                <div class="d-flex flex-wrap">
                    <button [ngClass]="{'active':getActiveTag(tag?.id)}" *ngFor="let tag of tagLists; let i = index"
                        (click)="searchTags(tag)">{{tag?.entityName}}</button>
                </div>
            </div>
        </div>
    </div>
</div>