.plus-right{
  float: right;
  margin: 1.5rem;
} 
.plus-right .mat-icon{
  background: #fff;
}
.research-type-head{
  background: #fff;
  margin: 0.3rem 0;
}
.research{
  width: 90%;
  margin: 1.5rem;
}
.research-search form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #ccc;
  float: left;
  width: 85%;
  background: #f1f1f1;
  height: 45px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  outline:unset !important;
}
.research-search  form.example button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #eacc03;
  color: #003a91;
  font-size: 17px;
  border: 1px solid #ccc;
  border-left: none;
  cursor: pointer;
  font-weight: 500;
  height: 45px;
  border-bottom-right-radius:5px;
  border-top-right-radius:5px;
}
.research-search  form.example button:hover {
  background: #eacc03;
}
.research-search form.example::after {
  content: "";
  clear: both;
  display: table;
}
.research form i-feather{
  width: 20px;
  margin-right: 1rem;
}
.research-content p{
  color: #707070;
}
.research-type{
  background: #fff;
}
.research-type span{
  float: right;
  color: #707070;
  font-size: 0.9rem;
}
.result-content h5{
  color: #007acc;
  text-decoration: underline;
}
.result-by-date p{
  margin: 0;
  color: #afaeae;
  font-weight: 500;
}
.filter-box{
  margin-top: 2.5rem;
  background: #fff;
  box-shadow: 0px 1px 5px #ccc;
  border-radius: 5px;
}
.filter-head{
  background: #007ACC;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.9rem 1.5rem;
  font-size: 1.2rem;
}
.filter-body{
  display: grid;
  padding: 0.9rem 1.5rem;
}
.filter-body mat-checkbox{
  margin-top: 0.5rem;
}
.research-tags button{
  background: #cccccc73;
  color: #707070;
  padding: 0.2rem 0.7rem;
  border-radius: 50px;
  font-weight: 400;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border: transparent;
  font-size: 0.9rem;
}
.research-tags button:hover,.research-tags button.active{
  background: #007ACC;
  color: #fff;
}
.rss_feeds_title{
  cursor: pointer;
}
.clear-btn{
  width: 50px!important;
}
.col-12.mt-2.media-text.scrollbar{
  height: 250px;
}