<div class="content-box p-4 only-viewincident" id=impacs-tab *ngFor="let view of viewList">
    <div class="head-box d-flex justify-content-between">
        <div class="d-flex">
            <mat-icon (click)="cancel()" matTooltip="Back">keyboard_arrow_left</mat-icon>
            <h3 class="back_arrow_left">{{view?.['Incident Name'] ? 'Incident': view?.['Case Name'] ? 'Case' : 'Event'}} ID #{{view?.['Incident
                ID'] ? view?.['Incident ID'] : view?.['Case ID'] ? view?.['Case ID'] : view?.['Event ID']}}</h3>
        </div>
        <div class="d-flex align-items-center">
            <mat-icon class="btn-icon" (click)="caseManagementInfo()">
                <i-feather name="link" matTooltip="Mapping Link"></i-feather>
            </mat-icon>
            <mat-icon class="btn-icon" (click)="onEditClicked()">
                <i-feather name="edit" matTooltip="Edit"></i-feather>
            </mat-icon>
            <mat-icon class="btn-icon" (click)="openDeleteDialog()"> 
                <i-feather name="trash-2" matTooltip="Delete"></i-feather>
            </mat-icon>
            <button mat-button class="ml-2" (click)="taskTemplate()">
                Task Template
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <mat-card class="incident-box">
                <div class="row">
                    <div class="col-md-auto">
                        <h6>{{view?.['Incident Name'] ? 'Incident': view?.['Case Name'] ? 'Case' : 'Event'}} Name</h6>
                        <p>{{view?.['Incident Name'] ? view?.['Incident Name'] : view?.['Case Name'] ? view?.['Case
                            Name'] : view?.['Event Name']}}</p>
                    </div>
                    <div class="col-md">
                        <h6>{{view?.['Incident Name'] ? 'Incident': view?.['Case Name'] ? 'Case' : 'Event'}} Type</h6>
                        <p>{{view?.['Incident Type'] ? view?.['Incident Type'] : view?.['Case Type'] ? view?.['Case
                            Type'] : view?.['Event Type']}}</p>
                    </div>
                    <div class="col-md">
                        <h6>Assignee</h6>
                        <p>{{view?.['Assignee']}}</p>
                    </div>
                    <div class="col-md">
                        <h6>Status</h6>
                        <p>{{view?.['Status']}}</p>
                    </div>
                    <div class="col-md">
                        <h6>Priority</h6>
                        <span
                            [ngClass]="view?.['Priority'] == 'Low' ? 'priority-level low' : view?.['Priority'] == 'High' ? 'priority-level high' : view?.['Priority'] == 'Medium' ? 'priority-level' : '' ">{{view?.['Priority']}}</span>
                    </div>
                </div>
            </mat-card>
            <mat-card class="mt-2 incident-detailbox">
                <div class="row pb-3">
                    <div class="col-md-7" *ngIf="templateList?.length>0">
                        <div class="row" *ngFor="let template of templateList;">
                            <div class="col-md-4 sub-incidentlabel"> 
                                <h6>{{template?.entityTypeAttributeName}}</h6>
                            </div>
                            <div class="col-md-8" *ngIf="template?.componentName != 'Upload'">
                                <h6>{{template?.attributeValue}}</h6>
                            </div>
                            <div class="col-md-12" *ngIf="template?.componentName == 'Upload'">
                                <div class="uploaded-file-name">
                                    <span class="sortable" *ngFor="let customfile of customFileList" (click)="downloadCustomTemplateFile(customfile)">{{customfile?.fileName}}</span>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="mapping-data p-3" *ngIf="templateList?.length == 0">
                        <p class="m-0">No Data Found</p>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-4 pl-0">
            <mat-card class="p-0 mt-2 incident-map ScrollBar-Case scrollbar">
                <mat-card-title class="p-3 m-0">Mapped Details</mat-card-title>
                <div class="col-6 p-3" *ngIf="mappingResults?.length > 0">
                    <p>Mapped with</p>
                    <a class="sortable map-text" 
                        [ngClass]="{'active':getActiveTag(item)} " tooltipposition="top"
                        *ngFor="let item of mapping_entityName let i = index" (click)="onCreateEditClicked(item)"
                        matTooltip="{{item.entityname}}">{{item?.entityname +','}} </a>
                    <br>
                </div>
                <div class="mapping-data p-3" *ngIf="mappingResults?.length == 0">
                    <p class="m-0">No Mapping Data</p>
                </div>
            </mat-card>
        </div>
    </div>
    <mat-card class="mt-2">
        <mat-tab-group class="view-incident-comment">
            <mat-tab label="Comments">
                <h6 class="font-weight-bold">{{commentListsAttributeValue?.length}} Comments here</h6>
                <div *ngFor="let commentlist of commentListsAttributeValue; let i=index">
                    <div class="incident-comments d-flex my-3">
                        <div>
                            <p class="mb-2 font-weight-bold">{{commentlist?.createdBy}}<span>{{commentlist?.CreatedOn |
                                    date:'yyyy-MM-dd h:mm a'}}</span> </p>
                            <p class="m-0 pb-2">{{commentlist?.comments}}</p>

                            <div *ngFor="let replylist of replyListsAttributeValue; let i=index">
                                <div *ngIf="commentlist?.CreatedOn == replylist?.comments?.CreatedOn">
                                    <p><b> Replied:<span>{{replylist?.reply}}</span></b></p>
                                </div>
                            </div>
                            <button class="reply-button" mat-raised-button (click)="reply(i)">Reply</button>
                            <div *ngFor="let reply of replyFields">
                                <div *ngIf="reply?.componentName== attributeTypeValue?.REPLY">
                                    <form [formGroup]="replyForm">
                                        <div class="d-flex align-items-center py-2 reply-box"
                                            *ngIf="replyText.replyListIndex == i && showReplyField">
                                            <mat-form-field appearance="fill">
                                                <mat-label>{{reply.entityTypeAttributeName}}</mat-label>
                                                <input matInput [formControlName]="reply.entityTypeAttributeName" autocomplete="off"/>
                                            </mat-form-field>
                                            <button class="reply-button" mat-raised-button [disabled]="!replyForm.valid"
                                                (click)="postReply(commentlist)">post</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngFor="let comment of commentsFields">
                    <div *ngIf="comment?.componentName== attributeTypeValue?.COMMENTS">
                        <form [formGroup]="commentForm">
                            <div class="comment-text-box mb-3">
                                <mat-card class="p-0 mt-2 incident-map">
                                    <mat-card-title class="p-3 m-0">
                                        {{comment?.entityTypeAttributeName}}
                                    </mat-card-title>
                                    <div class="mapping-data px-3">
                                        <mat-form-field appearance="fill">
                                            <textarea matInput
                                                [formControlName]="comment.entityTypeAttributeName"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <mat-card-footer>
                                        <button mat-raised-button [disabled]="!commentForm.valid" (click)="postComments()">Post</button>
                                    </mat-card-footer>
                                </mat-card>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Attachments"  *ngIf="attachmentList?.length >0">
                <div class="row attachmentrow">
                    <div class="col-md-4">
                        <h5>Preview</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Created On</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Created By</h5>
                    </div>
                </div>
                <div class="row attachmentrow" *ngFor="let file of attachmentList">
                    <div class="col-md-4 mt-4">
                        <div class="uploaded-file-name">
                            <span class="sortable uploaded-file-name ml-2 mb-2"  (click)="downloadFile(file)">{{file?.fileName}}</span> <span *ngIf="file?.new == true" class="new-attachment">New</span>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <span>{{file?.createdOn | date:'yyyy-MM-dd h:mm a'}}</span>
                    </div>
                    <div class="col-md-4 mt-4">
                        <span>{{file?.createdBy}}</span>
                    </div>
                </div>
            </mat-tab>
     
        </mat-tab-group>

        <div class="d-flex justify-content-center my-5 form-btn" *ngIf="currentRouterValues?.isEscalate == 'true'">
            <button mat-raised-button class="modal-submit" (click)="escalate()">Escalate</button>
        </div>
    </mat-card>
</div>