.only-viewincident .incident-box h6 {
  color: #707070;
}
.only-viewincident .incident-box p {
  color: #000;
  font-weight: 600;
}
.only-viewincident .incident-box span {
  background: #FFA500;
  color: #fff;
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
  font-size: 0.9rem;
}
.only-viewincident .incident-box span.low {
  background: #3CC480;
}
.only-viewincident .incident-box span.high {
  background: #FF4141;
}
.only-viewincident .incident-detailbox p {
  margin: 0;
}
.only-viewincident .sub-incidentlabel h6 {
  color: #707070;
}
.only-viewincident .incident-div {
  width: -webkit-fill-available !important;
}
.only-viewincident .incident-detailbox-bottom span {
  background: #007ACC;
  color: #fff;
  padding: 2px 10px;
  border-radius: 10px;
}
.only-viewincident .comment-text-box .mat-card-title button {
  position: absolute;
  top: 15px;
}
.only-viewincident .comment-text-box .mat-card-title button .mat-icon {
  color: #000 !important;
}
.only-viewincident .incident-map .mat-card-title {
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  font-weight: 600;
}
.only-viewincident .mapping-data p {
  text-align: center;
  color: #ccc;
}
.only-viewincident .incident-comments span {
  color: #707070;
  font-weight: 500;
  margin-left: 1rem;
}
::ng-deep .only-viewincident .comment-text-box {
  width: 600px;
}
::ng-deep .only-viewincident .comment-text-box .incident-map {
  margin-left: 0.2rem;
  box-shadow: 0px 0px 7px #ccc;
}
.only-viewincident .comment-text-box .mat-card-footer {
  margin: 0;
  border-top: 1px solid #ccc;
  padding: 0.5rem;
  text-align: right;
}
.only-viewincident .comment-text-box .mat-card-footer button {
  background: #eacc03;
  line-height: 30px;
}
::ng-deep .only-viewincident .comment-text-box .mat-form-field-wrapper {
  background: transparent;
}
::ng-deep .only-viewincident .comment-text-box .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: transparent;
}
::ng-deep .only-viewincident .comment-text-box .mat-form-field-underline {
  display: none;
}
.ScrollBar-Case {
  height: 150px;
}
.reply-button {
  background: #eacc03;
  line-height: 2;
  height: 30px;
}
.reply-button .mat-button-wrapper {
  font-size: 13px;
}
.sortable {
  cursor: pointer;
}
::ng-deep .mat-tab-label {
  min-width: 100px !important;
  margin-right: 3rem !important;
  padding: 0 !important;
}
::ng-deep .mat-tab-label .mat-tab-label-content{
  font-size: 1.1rem;
  font-weight: 500;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #eacc03 !important;
}
::ng-deep .mat-tab-header{
  padding: 0 1.5rem;
  margin: 1rem 0;
}
.uploaded-file-name span{
  background: #007ACC;
  color: #ffff;
  padding: 0.2rem 1rem;
  border-radius: 50px;
  margin-right: 1rem;
}
.attachmentrow{
  width: 100%;
  overflow: hidden;
}
.new-attachment{
  margin-left: -7px;
  background: #eacc03 !important;
}
