<!-- /** Case Management and Policies Menu Form */ -->
<div class="content-box p-4" id=impacs-tab *ngIf="!templatePage">
  <div class="head-box d-flex justify-content-between">
    <div class="d-flex align-items-center mb-4">
      <mat-icon (click)="cancel()" matTooltip="Back">keyboard_arrow_left</mat-icon>
      <h3 class="m-0 back_arrow_left">{{moduleName}}</h3>
    </div>
  </div>
  <mat-card class="create-case-form">
    <div class="scrollbar" id="scroll-bar">
      <h4 *ngIf="menuName == menuNameLists?.POLICIES">{{dynamicApiUrl}} Details</h4>
      <div class="row">
        <div class="col-md-3 mb-3" *ngFor="let attribute of formResponses">
          <form [formGroup]="templateForm">
            <!-- TextBox -->
            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_BOX">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <input matInput [formControlName]="attribute.entityTypeAttributeName" minLength="4" maxLength="60" (keypress)="onkeypress($event)" autocomplete="off"/>
            </mat-form-field>
            <!-- TextField -->
            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_FIELD">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <input matInput [formControlName]="attribute.entityTypeAttributeName" minLength="4" maxLength="60" (keypress)="onkeypressTextField($event)" autocomplete="off"/>
            </mat-form-field>

            <!-- Number -->
            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.NUMBER">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <input matInput [formControlName]="attribute.entityTypeAttributeName" minLength="4" maxLength="60" (keypress)="onkeypressNumber($event)" autocomplete="off"/>
            </mat-form-field>

            <!-- TextArea -->
            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_AREA">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <textarea matInput [formControlName]="attribute.entityTypeAttributeName" (keyup)="onKeyuptextarea($event)" maxlength="500" autocomplete="off"></textarea>
            </mat-form-field>
            
            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.DROP_DOWN">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <!-- Approvers-Role -->
              <ng-container
                *ngIf="attribute.entityTypeAttributeName != 'Approvers-Role' && attribute.entityTypeAttributeName != 'Approvers-Name/Team' && attribute.entityTypeAttributeName != 'Notify-Role' && attribute.entityTypeAttributeName != 'Notify-Name/Team' && attribute.entityTypeAttributeName != 'Type'">
                <mat-select [formControlName]="attribute.entityTypeAttributeName"
                  (selectionChange)="onChangeEntity($event.value,dropDownValues)">
                  <ng-container *ngFor="let dropdown of  dropDownValues">
                    <mat-option *ngIf="attribute.id == dropdown.entityTypeAttributeId" [value]="dropdown.entityId">
                      {{dropdown.componentValue}}
                    </mat-option>
                    <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown.entityTypeAttributeId"
                      [value]="dropdown.entityId">
                      {{dropdown.componentValue}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </ng-container>
              <!-- Approvers-Role -->
              <ng-container *ngIf="attribute.entityTypeAttributeName == 'Approvers-Role'">
                <mat-select [formControlName]="attribute.entityTypeAttributeName"
                  (selectionChange)="onChangePoliciesRole($event.value,'Approve')">
                  <ng-container *ngFor="let role of  roleResult">
                    <mat-option [value]="role.id">
                      {{role.entityName}}
                    </mat-option>
                  </ng-container>
                  <!-- dropDownValues -->
                  <ng-container *ngFor="let dropdown of  dropDownValues">
                    <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown.entityTypeAttributeId"
                      [value]="dropdown.entityId">
                      {{dropdown.componentValue}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </ng-container>
              <!-- Approvers-Name/Team -->
              <ng-container *ngIf="attribute.entityTypeAttributeName == 'Approvers-Name/Team'">
                <mat-select [formControlName]="attribute.entityTypeAttributeName">
                  <ng-container *ngFor="let approvers of  approversNameList">
                    <mat-option [value]="approvers.id">
                      {{approvers.firstName}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </ng-container>


                  <!-- Notify-Role -->
                <ng-container *ngIf="attribute.entityTypeAttributeName == 'Notify-Role'">
                  <mat-select [formControlName]="attribute.entityTypeAttributeName"
                    (selectionChange)="onChangePoliciesRole($event.value,'Notify')">
                    <ng-container *ngFor="let role of  roleResult">
                      <mat-option [value]="role.id">
                        {{role.entityName}}
                      </mat-option>
                    </ng-container>
                    <!-- dropDownValues -->
                    <ng-container *ngFor="let dropdown of  dropDownValues">
                      <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown.entityTypeAttributeId"
                        [value]="dropdown.entityId">
                        {{dropdown.componentValue}}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </ng-container>
                <!-- Notify-Name/Team -->
              <ng-container *ngIf="attribute.entityTypeAttributeName == 'Notify-Name/Team'">
                <mat-select [formControlName]="attribute.entityTypeAttributeName">
                  <ng-container *ngFor="let notify of  notifyNameList">
                    <mat-option [value]="notify.id">
                      {{notify.firstName}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </ng-container>


              <ng-container *ngIf="attribute.entityTypeAttributeName == 'Type'">
                <mat-select [formControlName]="attribute.entityTypeAttributeName"
                  (selectionChange)="onChangeResearchType($event.value,dropDownValues)">
                  <ng-container *ngFor="let dropdown of  dropDownValues">
                    <mat-option *ngIf="attribute.id == dropdown.entityTypeAttributeId" [value]="dropdown.entityId">
                      {{dropdown.componentValue}}
                    </mat-option>
                    <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown.entityTypeAttributeId"
                      [value]="dropdown.entityId">
                      {{dropdown.componentValue}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </ng-container>

            </mat-form-field>

             <!-- Multi DropDown -->
            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.MULTI_DROP_DOWN">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <ng-container>
                <mat-select  [formControlName]="attribute.entityTypeAttributeName" multiple [compareWith]="comparer"
                >
                  <ng-container *ngFor="let dropdown of  dropDownValues">
                    <mat-option *ngIf="attribute.id == dropdown.entityTypeAttributeId" [value]="dropdown.entityId">
                      {{dropdown.componentValue}}
                    </mat-option>
                    <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown.entityTypeAttributeId"
                      [value]="dropdown.entityId">
                      {{dropdown.componentValue}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </ng-container>
            </mat-form-field>

            <!-- DateTime -->
            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.DATE_TIME">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <input matInput [ngxMatDatetimePicker]="startPicker"
                [formControlName]="attribute.entityTypeAttributeName"
                (dateChange)="onChangeStart()">
              <mat-datepicker-toggle matSuffix [for]="$any(startPicker)"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #startPicker></ngx-mat-datetime-picker>
            </mat-form-field>
            
            <!-- Upload -->
            <mat-form-field *ngIf="attribute.componentName== attributeTypeValue?.UPLOAD && showFileUpload" class="file-upload" matTooltip="You can upload maximum 5 files">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <div class="d-flex p-1 hide-filenames">
                <ngx-mat-file-input #fileInput accept="*" [multiple]=true
                  [formControlName]="attribute.entityTypeAttributeName" (change)="onFileSelected($event)">
                </ngx-mat-file-input>
                <i-feather name="upload" matTooltip="File Upload"></i-feather>
              </div>
              
              <div class="progressbar mt-3" *ngIf="listOfFiles.length > 0 && hideProgressBar">
                <span class="status" ></span>
                {{progress}} %
              </div>

              <div class="uploadfile-preview"  *ngIf="listOfFiles.length > 0 && !hideProgressBar">
                Uploaded File Download here
                <mat-chip-list #chipList >
                  <mat-chip *ngFor="let selected of listOfFiles;let index = index" [selectable]="selectable"
                    [removable]="removable" (removed)="removeSelectedFile(index,selected)"
                    (click)="download(selected)">
                    {{selected.name ? selected.name : selected.fileName}}
                    <button matChipRemove>
                      <mat-icon matTooltip="Cancel">cancel</mat-icon>
                    </button>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </mat-form-field>
            <!-- Toggle -->
            <section *ngIf="attribute.componentName== attributeTypeValue?.TOGGLE">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <div class="mt-3">
                <mat-slide-toggle [formControlName]="attribute.entityTypeAttributeName"></mat-slide-toggle>
              </div>
            </section>
            <!-- Label -->
            <mat-form-field appearance="fill" *ngIf="attribute.componentName==  attributeTypeValue?.LABEL">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <input matInput [formControlName]="attribute.entityTypeAttributeName" minLength="4" maxLength="60" (keypress)="onkeypressTextField($event)" autocomplete="off"/>
            </mat-form-field>

            <!-- Email -->
            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.EMAIL">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <input matInput [formControlName]="attribute.entityTypeAttributeName" autocomplete="off"/>
            </mat-form-field>
            
            <div
              *ngIf="templateForm?.get(attribute.entityTypeAttributeName)?.touched && templateForm?.get(attribute.entityTypeAttributeName)?.errors?.required">
              <mat-error>
                {{attribute.entityTypeAttributeName}} is required
              </mat-error>
            </div>
          </form>
        </div>
      </div>
    <!-- Approver step in Policy & Legislation -->
    <h4 *ngIf="menuName == menuNameLists?.POLICIES">Approver & Notify Step</h4>
      <div class="row">
        <div class="col-md-3 mb-3" *ngFor="let attribute of approvalRoleResponse">
          <form [formGroup]="templateForm">

            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.DROP_DOWN">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <!-- Approvers-Role -->
              <ng-container *ngIf="attribute.entityTypeAttributeName == 'Approvers-Role'">
                <mat-select [formControlName]="attribute.entityTypeAttributeName"
                  (selectionChange)="onChangePoliciesRole($event.value,'Approve')">
                  <ng-container *ngFor="let role of  roleResult">
                    <mat-option [value]="role.id">
                      {{role.entityName}}
                    </mat-option>
                  </ng-container>
                  <!-- dropDownValues -->
                  <ng-container *ngFor="let dropdown of  dropDownValues">
                    <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown.entityTypeAttributeId"
                      [value]="dropdown.entityId">
                      {{dropdown.componentValue}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </ng-container>
              <!-- Approvers-Name/Team -->
              <ng-container *ngIf="attribute.entityTypeAttributeName == 'Approvers-Name/Team'">
                <mat-select [formControlName]="attribute.entityTypeAttributeName" matTooltip="{{approversNameList?.length == 0 ? 'There is no one approvers in this role.' : approversNameList?.length> 0 ? '' : 'Approvers-Name/Team is based on the Approvers-Role. Select the Approvers-Role.'}}">
                  <ng-container *ngFor="let approvers of  approversNameList">
                    <mat-option [value]="approvers.id">
                      {{approvers.firstName}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </ng-container>

            </mat-form-field>

            <!-- Multi DropDown -->
            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.MULTI_DROP_DOWN">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <ng-container>
                <mat-select  [formControlName]="attribute.entityTypeAttributeName" multiple [compareWith]="comparer"
                >
                  <ng-container *ngFor="let dropdown of  dropDownValues">
                    <mat-option *ngIf="attribute.id == dropdown.entityTypeAttributeId" [value]="dropdown.entityId">
                      {{dropdown.componentValue}}
                    </mat-option>
                    <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown.entityTypeAttributeId"
                      [value]="dropdown.entityId">
                      {{dropdown.componentValue}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </ng-container>
            </mat-form-field>

            <!-- Label -->
            <mat-form-field appearance="fill" *ngIf="attribute.componentName==  attributeTypeValue?.LABEL">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <input matInput [formControlName]="attribute.entityTypeAttributeName" minLength="4" maxLength="60" (keypress)="onkeypressTextField($event)" autocomplete="off"/>
            </mat-form-field>

            <div
              *ngIf="templateForm?.get(attribute.entityTypeAttributeName)?.touched && templateForm?.get(attribute.entityTypeAttributeName)?.errors?.required">
              <mat-error>
                {{attribute.entityTypeAttributeName}} is required
              </mat-error>
            </div>
          </form>
        </div>
      </div>

    <!-- Notify step in Policy & Legislation -->
      <div class="row">
        <div class="col-md-3 mb-3" *ngFor="let attribute of notifyRoleResponse">
          <form [formGroup]="templateForm">

            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.DROP_DOWN">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
                  <!-- Notify-Role -->
                <ng-container *ngIf="attribute.entityTypeAttributeName == 'Notify-Role'">
                  <mat-select [formControlName]="attribute.entityTypeAttributeName"
                    (selectionChange)="onChangePoliciesRole($event.value,'Notify')">
                    <ng-container *ngFor="let role of  roleResult">
                      <mat-option [value]="role.id">
                        {{role.entityName}}
                      </mat-option>
                    </ng-container>
                    <!-- dropDownValues -->
                    <ng-container *ngFor="let dropdown of  dropDownValues">
                      <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown.entityTypeAttributeId"
                        [value]="dropdown.entityId">
                        {{dropdown.componentValue}}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </ng-container>
            </mat-form-field>

            <!-- Multi DropDown -->
            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.MULTI_DROP_DOWN">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <ng-container>
                <mat-select  [formControlName]="attribute.entityTypeAttributeName" multiple [compareWith]="comparer"
                matTooltip="{{notifyNameList?.length == 0 ? 'There is no one notifier in this role.' : notifyNameList?.length> 0 ? '' : 'Notify-Name/Team is based on the Notify-Role. Select the Notify-Role.'}}">
                <ng-container *ngFor="let notify of  notifyNameList">
                  <mat-option [value]="notify.id">
                    {{notify.firstName}}
                  </mat-option>
                </ng-container>
                </mat-select>
              </ng-container>
            </mat-form-field>

            <!-- Label -->
            <mat-form-field appearance="fill" *ngIf="attribute.componentName==  attributeTypeValue?.LABEL">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <input matInput [formControlName]="attribute.entityTypeAttributeName" minLength="4" maxLength="60" (keypress)="onkeypressTextField($event)" autocomplete="off"/>
            </mat-form-field>

            <div
              *ngIf="templateForm?.get(attribute.entityTypeAttributeName)?.touched && templateForm?.get(attribute.entityTypeAttributeName)?.errors?.required">
              <mat-error>
                {{attribute.entityTypeAttributeName}} is required
              </mat-error>
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-4">
          <div *ngFor="let attribute of formResponse">
            <form [formGroup]="templateForm">
              <!-- RichTextEditor -->
                <div *ngIf="attribute.componentName== attributeTypeValue?.RICH_TEXT_EDITOR">
                  <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
                  <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
                  <div
                    *ngIf="templateForm?.get(attribute.entityTypeAttributeName)?.touched && templateForm?.get(attribute.entityTypeAttributeName)?.errors?.required">
                    <mat-error>
                      {{attribute.entityTypeAttributeName}} is required
                    </mat-error>
                  </div>
                  
                  <div [formControlName]="attribute.entityTypeAttributeName" *ngIf="selectedType == ''"
                  [ngxSummernote]="config"></div>
                  <div [formControlName]="attribute.entityTypeAttributeName" *ngIf="selectedType == researchType?.VIDEO"
                  [ngxSummernote]="videoConfig"></div>
                  <div [formControlName]="attribute.entityTypeAttributeName" *ngIf="selectedType == researchType?.WEB_PAGE"
                  [ngxSummernote]="webpageConfig"></div>
                  <div [formControlName]="attribute.entityTypeAttributeName" *ngIf="selectedType == researchType?.EBOOKS"
                  [ngxSummernote]="ebookConfig"></div>


                </div>
            </form>
          </div>
        </div>
      </div>

    <!-- Files Fields - Policy & Legislation -->
      <div class="row" *ngIf="menuName == menuNameLists?.POLICIES">
        <div class="col-md-3 mb-3" *ngFor="let attribute of policyFileFields">
        <form [formGroup]="templateForm">
            <!-- Upload -->
            <mat-form-field *ngIf="attribute.componentName== attributeTypeValue?.UPLOAD && showFileUpload" class="file-upload" matTooltip="You can upload maximum 5 files">
                      <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
                      <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
                      <div class="d-flex p-1 hide-filenames">
                        <ngx-mat-file-input #fileInput accept="*" [multiple]=true
                          [formControlName]="attribute.entityTypeAttributeName" (change)="onFileSelected($event)">
                        </ngx-mat-file-input>
                        <i-feather name="upload" matTooltip="File Upload"></i-feather>
                      </div>
                      
                      <div class="progressbar mt-3" *ngIf="listOfFiles.length > 0 && hideProgressBar">
                        <span class="status" ></span>
                        {{progress}} %
                      </div>
        
                      <div class="uploadfile-preview"  *ngIf="listOfFiles.length > 0 && !hideProgressBar">
                        Uploaded File Download here
                        <mat-chip-list #chipList >
                          <mat-chip *ngFor="let selected of listOfFiles;let index = index" [selectable]="selectable"
                            [removable]="removable" (removed)="removeSelectedFile(index,selected)"
                            (click)="download(selected)">
                            {{selected.name ? selected.name : selected.fileName}}
                            <button matChipRemove>
                              <mat-icon matTooltip="Cancel">cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </mat-chip-list>
                      </div>
            </mat-form-field>
            <!-- TextBox -->
            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_BOX">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <input matInput [formControlName]="attribute.entityTypeAttributeName" minLength="4" maxLength="60" (keypress)="onkeypress($event)" autocomplete="off"/>
            </mat-form-field>
            <!-- TextArea -->
            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_AREA">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <textarea matInput [formControlName]="attribute.entityTypeAttributeName" (keyup)="onKeyuptextarea($event)" maxlength="500" autocomplete="off"></textarea>
            </mat-form-field>
            <div
            *ngIf="templateForm?.get(attribute.entityTypeAttributeName)?.touched && templateForm?.get(attribute.entityTypeAttributeName)?.errors?.required">
            <mat-error>
              {{attribute.entityTypeAttributeName}} is required
            </mat-error>
          </div>
        </form>
        </div>
      </div>

      <!-- New Template -->
      <div class="row">
        <div class="col-md-12">
        <h3 *ngIf="newTemplateResult?.length>0">{{selectedCaseTypeName}} Info</h3>
      </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-3" *ngFor="let templateAttribute of newTemplateResult">
          <form [formGroup]="newtemplateForms">
            <mat-form-field appearance="fill" *ngIf="templateAttribute.componentName== attributeTypeValue?.TEXT_BOX">
              <mat-label>{{templateAttribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="templateAttribute.isRequired" class="text-danger">*</mat-label>
              <input matInput [formControlName]="templateAttribute.entityTypeAttributeName" minLength="4" maxLength="60" autocomplete="off"/>
            </mat-form-field>
            <!-- DropDown -->
            <mat-form-field appearance="fill" *ngIf="templateAttribute.componentName== attributeTypeValue?.DROP_DOWN">
              <mat-label>{{templateAttribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="templateAttribute.isRequired" class="text-danger">*</mat-label>
              <ng-container *ngIf="templateAttribute.entityTypeAttributeName != 'Role'">
                <mat-select [formControlName]="templateAttribute.entityTypeAttributeName">
                  <ng-container *ngFor="let templatedropdown of  templateMultiResult">
                    <mat-option *ngIf="templateAttribute.id == templatedropdown.entityTypeAttributeId"
                      [value]="templatedropdown.id">
                      {{templatedropdown.componentValue}}
                    </mat-option>
                    <mat-option
                      *ngIf="templateAttribute.entityTypeAttributeId == templatedropdown.entityTypeAttributeId"
                      [value]="templatedropdown.id">
                      {{templatedropdown.componentValue}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </ng-container>
            </mat-form-field>
            <!-- DateTime -->
            <mat-form-field appearance="fill" *ngIf="templateAttribute.componentName== attributeTypeValue?.DATE_TIME">
              <mat-label>{{templateAttribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="templateAttribute.isRequired" class="text-danger">*</mat-label>
              <input matInput [ngxMatDatetimePicker]="startPicker"
                [formControlName]="templateAttribute.entityTypeAttributeName"
                (dateChange)="onChangeStart()">
              <mat-datepicker-toggle matSuffix [for]="$any(startPicker)"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #startPicker></ngx-mat-datetime-picker>
            </mat-form-field>
            <!-- TextArea -->
            <mat-form-field appearance="fill" *ngIf="templateAttribute.componentName== attributeTypeValue?.TEXT_AREA">
              <mat-label>{{templateAttribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="templateAttribute.isRequired" class="text-danger">*</mat-label>
              <textarea matInput [formControlName]="templateAttribute.entityTypeAttributeName"
                (keyup)="onKeyuptextarea($event)" maxlength="500" autocomplete="off"></textarea>
            </mat-form-field>
            <!-- Checkbox -->
            <div *ngIf="templateAttribute.componentName== attributeTypeValue?.CHECK_BOX">
              <mat-label>{{templateAttribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="templateAttribute.isRequired" class="text-danger">*</mat-label>
              <div class="d-flex flex-wrap">
                <div *ngFor="let checkboxTemplateValue of templateMultiResult">
                  <label>
                    <mat-checkbox [formControlName]="templateAttribute.entityTypeAttributeName" *ngIf="templateAttribute.id == checkboxTemplateValue.entityTypeAttributeId" class="example-margin cust-check-box" color="primary"  [checked]="checkboxTemplateValue.entityId">{{checkboxTemplateValue.componentValue}}</mat-checkbox>
                    <mat-checkbox [formControlName]="templateAttribute.entityTypeAttributeName" *ngIf="templateAttribute.entityTypeAttributeId == checkboxTemplateValue.entityTypeAttributeId" class="example-margin cust-check-box" color="primary" type="checkbox"  [value]="checkboxTemplateValue.entityId">{{checkboxTemplateValue.componentValue}}</mat-checkbox>
                  
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
            <!-- Upload -->
            <mat-form-field *ngIf="templateAttribute.componentName== attributeTypeValue?.UPLOAD" class="file-upload" matTooltip="You can upload maximum 5 files">
              <mat-label>{{templateAttribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="templateAttribute.isRequired" class="text-danger">*</mat-label>
              <div class="d-flex p-1">
                <ngx-mat-file-input #fileInput accept="*" [multiple]=true
                  [formControlName]="templateAttribute.entityTypeAttributeName" (change)="onFileSelected($event, 'customTemplate')">
                </ngx-mat-file-input>
                <i-feather name="upload" matTooltip="File Upload"></i-feather>
              </div>
              
              <div class="progressbar mt-3" *ngIf="listOfTemplateFiles.length > 0 && hideProgressBar">
                <span class="status" ></span>
                {{progress}} %
              </div>

              <div class="uploadfile-preview"  *ngIf="listOfTemplateFiles.length > 0 && !hideProgressBar">
                Uploaded File Download here
                <mat-chip-list #chipList >
                  <mat-chip *ngFor="let selected of listOfTemplateFiles;let index = index" [selectable]="selectable"
                    [removable]="removable" (removed)="removeSelectedFile(index,selected, 'customTemplate')"
                    (click)="download(selected)">
                    {{selected.name ? selected.name : selected.fileName}}
                    <button matChipRemove>
                      <mat-icon matTooltip="Cancel">cancel</mat-icon>
                    </button>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </mat-form-field>

            <!-- Toggle -->
            <section *ngIf="templateAttribute.componentName== attributeTypeValue?.TOGGLE">
              <mat-label>{{templateAttribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="templateAttribute.isRequired" class="text-danger">*</mat-label>
              <div class="mt-3">
                <mat-slide-toggle [formControlName]="templateAttribute.entityTypeAttributeName"></mat-slide-toggle>
              </div>
            </section>
            <div
              *ngIf="newtemplateForms?.get(templateAttribute?.entityTypeAttributeName)?.touched && newtemplateForms?.get(templateAttribute?.entityTypeAttributeName)?.errors?.required">
              <mat-error>{{templateAttribute?.entityTypeAttributeName}} is required</mat-error>
            </div>
          </form>
        </div>
      </div>
      <div class="d-flex justify-content-center my-5 form-btn">
        <button  mat-raised-button class="modal-submit" (click)="createUpdate()">{{menuName == 'Blog' ? 'Publish' :
          'Submit'}}</button>
          <button mat-raised-button class="modal-cancel" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </mat-card>
</div>

<!-- /** Configuration & Admin Menu Template **/ -->
<div class="content-box p-4" *ngIf="templatePage">
  <div class="head-box d-flex justify-content-between">
    <div class="d-flex">
      <mat-icon (click)="cancel()" matTooltip="Back">keyboard_arrow_left</mat-icon>
      <h3 class="back_arrow_left">{{moduleName}}</h3>
    </div>
  </div>

  <mat-card class="my-3 create-case-form">
    <div class="row">
      <div class="col-md-3 mb-3" *ngFor="let attribute of formResponse">
        <form [formGroup]="templateForm">
           <!-- TextBox -->
          <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_BOX">
            <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
            <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
            <input matInput [formControlName]="attribute.entityTypeAttributeName" minLength="4" maxLength="60" (keypress)="onkeypress($event)" autocomplete="off"/>
          </mat-form-field>
           <!-- Email -->
          <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.EMAIL">
            <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
            <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
            <input matInput [formControlName]="attribute.entityTypeAttributeName" autocomplete="off"/>
          </mat-form-field>
            <!-- Number -->
            <ng-container *ngIf="attribute.componentName== attributeTypeValue?.NUMBER">
              <div class="row">
              <div class="col-4">
                <mat-form-field appearance="fill" >
                  <mat-label>Country Code</mat-label>
                  <input matInput [value]="selectedCountrycode" readonly/>
                </mat-form-field>
              </div>
              <div class="col-8">
              <mat-form-field appearance="fill" >
                <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
                <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
                <input matInput [formControlName]="attribute.entityTypeAttributeName" maxLength="10"
                  (keypress)="onkeypressNumber($event)" autocomplete="off" />
              </mat-form-field>
              </div>
              </div>
            </ng-container>
          
          <!-- TextField -->
          <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_FIELD">
            <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
            <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
            <input matInput [formControlName]="attribute.entityTypeAttributeName" minLength="4" maxLength="60" (keypress)="onkeypressTextField($event)" autocomplete="off"/>
          </mat-form-field>
          <!-- // DropDown -->
          <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.DROP_DOWN">
            <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
            <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
            <ng-container *ngIf="attribute.entityTypeAttributeName != 'Role' && attribute.entityTypeAttributeName != 'Member State'">
              <mat-select [formControlName]="attribute.entityTypeAttributeName"                   (selectionChange)="onChangeAdminConfigDropdown(attribute.entityTypeAttributeName, $event.value)">
                <ng-container *ngFor="let dropdown of  dropDownValues">
                  <mat-option *ngIf="attribute.id == dropdown.entityTypeAttributeId" [value]="dropdown.entityId">
                    {{dropdown?.componentValue}}
                  </mat-option>
                  <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown.entityTypeAttributeId" [value]="dropdown.entityId">
                    {{dropdown?.componentValue}}
                  </mat-option>
          
                </ng-container>
              </mat-select>
            </ng-container>
            <!-- // Role -->
            <ng-container *ngIf="attribute.entityTypeAttributeName == 'Role'">
              <mat-select [formControlName]="attribute.entityTypeAttributeName" (selectionChange)="onChangeUserRole(attribute.entityTypeAttributeName, $event.value)">
                <ng-container *ngFor="let role of  roleResult">
                  <mat-option [value]="role.id">
                    {{role.entityName}}
                  </mat-option>
                </ng-container>
                <ng-container *ngFor="let dropdown of  dropDownValues">
                  <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown.entityTypeAttributeId"
                    [value]="dropdown.entityId">
                    {{dropdown.componentValue}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </ng-container>

            <!-- //Member State -->
            <ng-container *ngIf="attribute.entityTypeAttributeName == 'Member State'">
              <mat-select [formControlName]="attribute.entityTypeAttributeName"  (selectionChange)="onChangeAdminConfigDropdown(attribute.entityTypeAttributeName, $event.value)">
                <ng-container *ngFor="let dropdown of  dropDownValues">
                <ng-container  *ngIf="dropdown.componentValue == 'ALL' && isSuperAdmin">
                  <mat-option *ngIf="attribute.id == dropdown.entityTypeAttributeId" [value]="dropdown.entityId" disabled>
                    {{dropdown?.componentValue}}
                  </mat-option>
                </ng-container>
                <ng-container  *ngIf="dropdown.componentValue != 'ALL' && isSuperAdmin">
                  <mat-option *ngIf="attribute.id == dropdown.entityTypeAttributeId" [value]="dropdown.entityId" >
                    {{dropdown?.componentValue}}
                  </mat-option>
                </ng-container>


                <ng-container  *ngIf="dropdown.componentValue != 'ALL' && !isSuperAdmin">
                  <mat-option *ngIf="attribute.id == dropdown.entityTypeAttributeId" [value]="dropdown.entityId" disabled>
                    {{dropdown?.componentValue}}
                  </mat-option>
                </ng-container>
                <ng-container  *ngIf="dropdown.componentValue == 'ALL' && !isSuperAdmin">
                  <mat-option *ngIf="attribute.id == dropdown.entityTypeAttributeId" [value]="dropdown.entityId" >
                    {{dropdown?.componentValue}}
                  </mat-option>
                </ng-container>
<!-- Edit -->

                    <ng-container  *ngIf="dropdown.componentValue == 'ALL' && isSuperAdmin">
                      <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown.entityTypeAttributeId" [value]="dropdown.entityId" disabled>
                        {{dropdown?.componentValue}}
                      </mat-option>
                    </ng-container>
                    <ng-container  *ngIf="dropdown.componentValue != 'ALL' && isSuperAdmin">
                      <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown.entityTypeAttributeId" [value]="dropdown.entityId" >
                        {{dropdown?.componentValue}}
                      </mat-option>
                    </ng-container>


                    <ng-container  *ngIf="dropdown.componentValue != 'ALL' && !isSuperAdmin">
                      <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown.entityTypeAttributeId" [value]="dropdown.entityId" disabled>
                        {{dropdown?.componentValue}}
                      </mat-option>
                    </ng-container>
                    <ng-container  *ngIf="dropdown.componentValue == 'ALL' && !isSuperAdmin">
                      <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown.entityTypeAttributeId" [value]="dropdown.entityId" >
                        {{dropdown?.componentValue}}
                      </mat-option>
                    </ng-container>

                  
                </ng-container>
              </mat-select>
            </ng-container>
            
          </mat-form-field>
          <!-- // DateTime -->
          <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.DATE_TIME">
            <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
            <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
            <input matInput [ngxMatDatetimePicker]="startPicker" [formControlName]="attribute.entityTypeAttributeName"
              (dateChange)="onChangeStart()">
            <mat-datepicker-toggle matSuffix [for]="$any(startPicker)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #startPicker></ngx-mat-datetime-picker>
          </mat-form-field>
          <!-- // TextArea -->
          <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_AREA">
            <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
            <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
            <textarea matInput [formControlName]="attribute.entityTypeAttributeName" (keyup)="onKeyuptextarea($event)" maxlength="500" autocomplete="off"></textarea>
          </mat-form-field>
          <!-- // Upload -->
          <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.UPLOAD" matTooltip="You can upload maximum 5 files">
            <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
            <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
            <div class="d-flex p-0">
              <ngx-mat-file-input accept="*" [multiple]=true [formControlName]="attribute.entityTypeAttributeName">
              </ngx-mat-file-input>
              <i-feather name="upload" matTooltip="File Upload"></i-feather>
            </div>
          </mat-form-field>
          <!-- // Toggle -->
          <section *ngIf="attribute.componentName== attributeTypeValue?.TOGGLE">
            <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
            <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
            <div class="mt-3">
               <mat-slide-toggle [formControlName]="attribute.entityTypeAttributeName"></mat-slide-toggle>
            </div>
          </section>
          <!-- // Control Error -->
          <div
            *ngIf="templateForm?.get(attribute?.entityTypeAttributeName)?.touched && templateForm?.get(attribute?.entityTypeAttributeName)?.errors?.required">
            <mat-error>{{attribute?.entityTypeAttributeName}} is required</mat-error>
          </div>
           <!-- // Email Control Error -->
          <div
            *ngIf="templateForm?.get(attribute?.entityTypeAttributeName)?.errors?.email || templateForm?.get(attribute?.entityTypeAttributeName)?.errors?.pattern">
            <mat-error *ngIf="attribute?.entityTypeAttributeName == 'Email'">Email must be a valid
              {{attribute?.entityTypeAttributeName}} address.</mat-error>
          </div>
          <!-- // Email Control Error -->
          <div *ngIf="templateForm?.get(attribute?.entityTypeAttributeName)?.errors?.pattern">
            <mat-error *ngIf="attribute?.entityTypeAttributeName != 'Email'">Please, Enter 10 digit
              {{attribute?.entityTypeAttributeName}}.</mat-error>
          </div>
        </form>
      </div>
    </div>
  </mat-card>

  <!-- Drag & Drop Template -->
  <div  *ngIf="dragDropTemplate">
    <app-drag-drop [templateForms]="templateForm" [dynamicApiUrl]="dynamicApiUrl" [formResponse]="formResponse" [selectedIndex]="selectedIndex" [selectedCaseTypeId]="selectedId"></app-drag-drop>
  </div>

  <div class="d-flex justify-content-center my-5 form-btn" *ngIf="!dragDropTemplate">
    <button mat-raised-button class="modal-submit" (click)="createUpdate()">Submit</button>
    <button mat-raised-button class="modal-cancel" (click)="cancel()">Cancel</button>
  </div>
</div>