.mat-select{
  position: relative;
  top: 10px;
}
::ng-deep .w-mat-timepicker{
  width: 100%;
}
::ng-deep .dynamic-scroll{
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
::ng-deep .create-case-form .mat-form-field .mat-form-field-wrapper{
  height: 60px;
}
::ng-deep .time-picker .mat-form-field-flex{
  padding: 0.75em 0.75em 0 0.75em;
}
.mat-chip.mat-standard-chip {
  background-color: #007ACC;
  color: #fff;
  font-weight: 400;
  min-height: 35px;
  padding-right: 13px;
}
::ng-deep .mat-chip.mat-standard-chip .mat-chip-remove{
  opacity: unset;
}
::ng-deep input.mat-chip-input{
  bottom: unset;
}
::ng-deep .mat-standard-chip .mat-chip-remove, .mat-standard-chip .mat-chip-trailing-icon {
  margin-left: 0px;
  margin-right: 0;
}
.uploadfile-preview{
 border: 1px dashed #707070;
 padding: 1rem;
 border-radius: 10px;
 color: #707070;
 height: 100px;
 overflow-y: scroll;
 margin-top: 50px;
}
::ng-deep .uploadfile-preview .mat-chip-list-wrapper{
  margin-top: 0.25rem !important;
}
.uploadfile-preview button mat-icon{
  color: #fff;
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: rgb(235, 240, 241); /*replace with your color*/
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color:rgb(16, 167, 10);  /*replace with your color*/
}
.file-upload .mat-form-field-flex{
  padding: 0 10px !important;
}
.content-box{
  color: #333;
}
.head-box h3{
  font-weight: 600;
}
.head-box .mat-icon{
  font-size: 2rem;
  font-weight: 600;
}
::ng-deep .file-upload .mat-form-field-flex{
  display: unset;
}
::ng-deep .file-upload .mat-form-field-flex .mat-form-field-infix{
  width: auto;
}
.cust-check-box{
  margin-right:10px;
}
::ng-deep .hide-filenames span.filename {
  display: none !important;
}
.progressbar {
  position: relative;
  background-color: #3CC480;
  border-radius: 0.3em;
  text-align: center;
  color: #fff;
}

.progressbar > .status {
  display: block;
  position: absolute;
  height: 100%;
  animation: 1s progressbar 0s linear normal;
  animation-delay: var(--delay);
  animation-play-state: paused;
}