<app-tab [displayedLables]="labelNames" [selectedIndex]="selectedIndex" (onSelectedTab)="onSelectedTab($event.index)">
</app-tab>

<div class="skill-box pb-4 mx-4 border rounded" id="admin">
    <div class="impacs-tab-right d-flex skills-status">
        <div class="d-flex">
          <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="selectedStatus" (selectionChange)="onChangeStatus($event.value)">
            <mat-option value="All">All </mat-option>
            <mat-option value="Open">Open </mat-option>
            <mat-option value="Approved">Approved </mat-option>
            <mat-option value="Rejected">Rejected </mat-option>
        </mat-select>
            </mat-form-field>
        </div>
      </div>
      
    <div class="inner-box mx-3">
        <div class="row my-3" >
            <div class="col-md-12 mb-3">
                <form [formGroup]="skillSetForm">
                    <div [formArrayName]="'skillSetsArray'" *ngFor="let control of getskillSetsArray?.controls;let i=index;let last=last">
                        <div class="row flex-nowrap mb-1 cus-colwidth customfeildW" [formGroupName]="i">
                            <div class="d-flex align-items-center mb-3" *ngFor="let attribute of skillList" class="skillset-align" >
                                <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_BOX">
                                    <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
                                    <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
                                    <input matInput [formControlName]="attribute.entityTypeAttributeName" minLength="4" maxLength="60" (keypress)="onkeypress($event)" autocomplete="off"/>
                                  </mat-form-field>
                                  
                                <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.DROP_DOWN">
                                    <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
                                    <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
                                    <mat-select  [formControlName]="attribute.entityTypeAttributeName">
                                      <ng-container *ngFor="let dropdown of  dropDownResponse">
                                      <mat-option  *ngIf="attribute.entityTypeAttributeId == dropdown.entityTypeAttributeId" [value]="dropdown.entityId">
                                        {{dropdown?.componentValue}}
                                       </mat-option>
                                    </ng-container>
                                    </mat-select>
                                  </mat-form-field>
                                  <mat-form-field appearance="fill"  *ngIf="attribute.componentName== attributeTypeValue?.UPLOAD" class="upload-files">
                                    <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
                                    <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
                                    <div class="d-flex p-0">
                                    <ngx-mat-file-input accept="*" [formControlName]="attribute.entityTypeAttributeName"></ngx-mat-file-input>
                                    <i-feather name="upload" matTooltip="File Upload"></i-feather>
                                    </div>
                                  </mat-form-field>

                                  <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.DATE_TIME">
                                    <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
                                    <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
                                    <input matInput [matDatepicker]="startPicker"
                                      [formControlName]="attribute.entityTypeAttributeName">
                                    <mat-datepicker-toggle matSuffix [for]="$any(startPicker)"></mat-datepicker-toggle>
                                    <mat-datepicker #startPicker></mat-datepicker>
                                  </mat-form-field>
                                    <!-- TextArea -->
                                    <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_AREA">
                                        <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
                                        <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
                                        <textarea matInput [formControlName]="attribute.entityTypeAttributeName" (keyup)="onKeyuptextarea($event)" maxlength="500" autocomplete="off"></textarea>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_FIELD">
                                        <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
                                        <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
                                        <textarea matInput [formControlName]="attribute.entityTypeAttributeName" (keyup)="onkeypress($event)" minLength="4" maxLength="60"  autocomplete="off"></textarea>
                                    </mat-form-field>
                            </div>
                            <div class="d-flex align-items-center">
                                <button class="action-button float-left add-icons" type="button" (click)="addGroup(i)" *ngIf="last">
                                    <i  class="drop-add ri-add-circle-fill pull-right" matTooltip="add"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="example-container mat-elevation-z8">
        <mat-table class="impacs-table"  [dataSource]="listOfSkills"  matSort  (matSortChange)= "onSortColumn($event)" matSortActive="createdOn" matSortDirection="desc">
            <form [formGroup]="skillSetForm">
                <ng-container  *ngFor="let column of displayedColumns; let i= index"  >
                    <ng-container [matColumnDef]="column" *ngIf="column != 'Action' && column !='Upload' && column !='Skillset'">
                        <mat-header-cell *matHeaderCellDef  >
                        <div class="input-table">
                            <div mat-sort-header >{{column}}</div>
                        </div>
                        </mat-header-cell>
                        <ng-container>
                            <mat-cell *matCellDef="let row">{{row[column]}}</mat-cell>
                        </ng-container>
                    </ng-container>

                    <ng-container [matColumnDef]="column" *ngIf="column == 'Skillset'">
                        <mat-header-cell *matHeaderCellDef  >
                        <div class="input-table">
                            <div mat-sort-header >{{column}}</div>
                        </div>
                        </mat-header-cell>
                        <ng-container>
                            <mat-cell *matCellDef="let row">
                                <span *ngFor="let skills of dropDownResponse">
                                    <span *ngIf="row[column] == skills.entityId">
                                        {{skills.componentValue}}
                                    </span>
                                </span>
                            </mat-cell>
                        </ng-container>
                    </ng-container>

                    <ng-container [matColumnDef]="column" *ngIf="column == 'Upload'">
                        <mat-header-cell *matHeaderCellDef  >
                        <div class="input-table">
                            <div>{{column}}</div>
                        </div>
                        </mat-header-cell>
                        <ng-container>
                            <mat-cell *matCellDef="let row; let i = index"> 
                                <div class="row uploaded-file-name" >
                                <span class="add-cursor" 
                                (click)="download(fileLists[i])">{{fileLists[i]?.fileName ? fileLists[i]?.fileName : '--'}}</span>
                              </div>
                            </mat-cell>
                        </ng-container>
                    </ng-container>

                    <ng-container [matColumnDef]="column"  *ngIf="column == 'Action'">
                        <mat-header-cell *matHeaderCellDef  >
                        <div class="input-table">
                            <div >{{column}}</div>
                        </div>
                        </mat-header-cell>
                        <ng-container>
                            <mat-cell *matCellDef="let row">
                                <button class="action-button float-left" type="button" (click)="removeGroup(i,row.EntityId)">
                                    <i  class="drop-delete ri-delete-bin-line pull-right" matTooltip="Delete"></i>
                                </button>
                            </mat-cell>
                        </ng-container>
                    </ng-container>

                </ng-container>

                <div class="table-content-wrapper">
                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></mat-header-row>
                  </div>
                    <div class="table-content-wrapper">
                    <mat-row  *matRowDef="let row; columns: displayedColumns;" class="text-break"></mat-row>
                    </div>
            </form>
        </mat-table>

        <ng-container>
            <div  class="text-center my-5 nodata_display" *ngIf="listOfSkills?.length === 0">
              No Data Found
          </div>
          </ng-container>
        </div>

    </div>
    <ng-container *ngIf="paginationResult?.Entities?.length > 0">
        <app-pagination [paginationList]="paginationResult" (onPageChanged)="onPageChanged($event)"></app-pagination>
    </ng-container>

</div>
