.skills-row {
    background-color: #007ACC !important;
    color: #fff;
} 
.action-button {
  background: transparent;
  border: none;
}
.skill-box {
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    background: white;
}
.mat-select{
  position: relative;
  top: 10px;
}
::ng-deep .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-underline::before {
  background-color: rgba(0,0,0,.42) !important;
  bottom: 5px;
}
::ng-deep abbr.mat-calendar-abbr {
  text-decoration: none !important;
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1180px){
    .skills-row .col-lg-2.col-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 19.666667%;
      max-width: 19.666667%;
  }
  .cus-colwidth .col-lg-2.col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 19.3%;
    max-width: 19.3%;
}
  }

  .skillset-align{
    width: 12%;
    padding-left: 10px;
  }
  .skills-status{
    margin-right: 1rem;
    margin-bottom: 10px;
    justify-content: end;
    margin-top: 10px;
  }
  /* in global css document: */
/* this makes it so that sort header arrow is always shown: */
::ng-deep .mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
  opacity: 1 !important;
  color: transparent;
}
/* Hide the default sort arrow display: */
::ng-deep .mat-sort-header-stem {
  display: none  !important;
}
::ng-deep .mat-sort-header-pointer-left, .mat-sort-header-pointer-right {
  display: none  !important;
  width: auto !important;
}
::ng-deep .mat-sort-header-pointer-middle{
  width: 0px !important;
  height: 0px !important;
}
/* show two carets on top of each other when not sorted takes place: */
::ng-deep .mat-sort-header-arrow {
       .mat-sort-header-indicator {
         &::before {
           content: "<>"; 
           position: absolute;
           opacity: 1 !important;
           color:  #ffffff8f !important;
           font-size: 1.2em;
           transform: translate(-10%, 20%)   rotate(90deg) !important;
         }
       }
}
.d-flex.p-0 {
  height: 2vh;
}
.uploaded-file-name span{
  background: #007ACC;
  color: #ffff;
  padding: 0.2rem 1rem;
  border-radius: 50px;
  margin-right: 1rem;
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.add-icons{
  margin-right: 10rem;
}
::ng-deep .customfeildW mat-form-field .mat-form-field-wrapper{
  height: 70px;
}
::ng-deep .customfeildW textarea.mat-input-element{
  margin: 0px 0 !important;
}