<div >
    <div class="modal-head">
      <h5> {{data?.moduleName}}
      </h5>
    </div>
    <button mat-icon-button class="close-button" (click)="onNoClick()">
      <mat-icon class="close-icon" color="warn" matTooltip="Close">close</mat-icon>
    </button>
    <div mat-dialog-content class="text-center p-3 del-body" >
         <p>Are you sure, you want to {{data?.event == true ? 'Activate' : 'Deactivate'}} this {{data?.moduleName == 'User' ? 'User' : 'Group' }}?</p>
    </div>
    <div class="text-center p-3 del-body">
      <span *ngIf="data?.event == false">Note: {{data?.moduleName == 'User' ? 'If this user is disabled. This user cannot login.' : 'If this Group is disabled. Disables users in this group.Those users cannot login.' }}</span>
    </div>
    <div mat-dialog-actions >
      <button mat-button class="btn modal-submit px-5" (click)="update()">Yes</button>
      <button mat-button class="btn modal-cancel px-5" (click)="onNoClick()">No</button>
    </div>
  </div>