<div id="impacs-tab">
  <div class="impacs-tab-right d-flex member-state">
    <div class="d-flex">
      <mat-form-field appearance="fill" class="memberstateform">
        <mat-label>Member State</mat-label>
        <mat-select [(ngModel)]="selectedMemeberstateId" (selectionChange)="onChangeMemberState($event.value,memberstates)">
            <mat-option *ngFor="let state of memberstates" [value]="state.EntityId">
             {{state?.['Member State']}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
  </div>
  </div>
<div class="dashboard-status p-1">
    <div class="row justify-content-between">
      <div class="col-md " *ngFor="let totalCount of overallCount">
        <div class="status-box p-3 d-flex">
          <div class="innerbox-left">
            <h6 matTooltip="{{totalCount.entityName}}s">{{totalCount?.entityName}}s</h6>
            <h2 matTooltip="{{totalCount.count}}">{{totalCount?.count}}</h2>
          </div>
          <div class="graph">
            <img src="../../../../assets/images/incidentchart.png" alt="impacs">
          </div>
        </div>
      </div>
    </div>
</div>
<div class="dashboard-data py-3"> 
    <div class="row">
      <div class="col-md-3">
        <div class="d-flex justify-content-between">
          <h6 class="pb-3" matTooltip="{{pieChartEntityType?.Incident}} Overall Progress">{{pieChartEntityType?.Incident}} Overall Progress</h6>
        </div>
        <div id="scroll-bar" class="chart-box px-4"  *ngIf="incidentLength>0">
          <canvas baseChart height="170" width="250%!important" class="pie-chart-pointer" [data]="incidentpieChartData" [chartType]="pieChartType"
            [options]="pieChartOptions" [colors]="pieChartColors" [labels]="incidentpieChartLabels" (chartClick)="onPieChartClicked($event, 1)">
          </canvas>
        </div>
        <mat-card class="no-data-chart" *ngIf="incidentLength == 0">
          <div class="no-data">
              No Data Found
            </div>
        </mat-card>
      </div>
      <div class="col-md-3">
        <div class="d-flex justify-content-between">
          <h6 class="pb-3" matTooltip="{{pieChartEntityType?.Case}} Overall Progress">{{pieChartEntityType?.Case}} Overall Progress</h6>
        </div>
        <div id="scroll-bar" class="chart-box px-4"  *ngIf="caseLength>0">
          <canvas baseChart height="170" width="250%!important" class="pie-chart-pointer" [data]="casepieChartData" [chartType]="pieChartType"
            [options]="pieChartOptions" [colors]="pieChartColors" [labels]="casepieChartLabels"
            (chartClick)="onPieChartClicked($event, 2)">
          </canvas>
        </div>
        <mat-card class="no-data-chart" *ngIf="caseLength == 0">
          <div class="no-data">
              No Data Found
            </div>
        </mat-card>
      </div>
      <div class="col-md-3">
        <div class="d-flex justify-content-between">
          <h6 class="pb-3" matTooltip="{{pieChartEntityType?.Event}} Overall Progress">{{pieChartEntityType?.Event}} Overall Progress</h6> 
        </div>
        <div id="scroll-bar" class="chart-box px-4" *ngIf="eventLength>0">
          <canvas baseChart height="170" width="250%!important" class="pie-chart-pointer"  [data]="eventpieChartData" [chartType]="pieChartType"
            [options]="pieChartOptions" [colors]="pieChartColors" [labels]="eventpieChartLabels" (chartClick)="onPieChartClicked($event, 3)">
          </canvas>
        </div>
        <mat-card class="no-data-chart" *ngIf="eventLength == 0">
          <div class="no-data">
              No Data Found
            </div>
        </mat-card>
      </div>
      <div class="col-md-3">
        <div class="d-flex justify-content-between">
          <h6 class="pb-3" matTooltip="{{pieChartEntityType?.RSSFeeds}} Overall Progress">{{pieChartEntityType?.RSSFeeds}} Overall Progress</h6> 
        </div>
        <div id="scroll-bar" class="chart-box px-4" *ngIf="RSSLength>0">
          <canvas baseChart height="170" width="250%!important"  [data]="rssFeedspieChartData" [chartType]="pieChartType"
            [options]="pieChartOptions" [colors]="pieChartColors" [labels]="rssFeedspieChartLabels" >
          </canvas>
        </div>
        <mat-card class="no-data-chart" *ngIf="RSSLength == 0">
          <div class="no-data">
              No Data Found
            </div>
        </mat-card>
      </div>
      <div class="col-md-3 pie-chart-box">
        <div class="d-flex justify-content-between">
          <h6 class="pb-3" matTooltip="{{pieChartEntityType?.Blog}} Overall Progress">{{pieChartEntityType?.Blog}} Overall Progress</h6> 
        </div>
        <div id="scroll-bar" class="chart-box px-4" *ngIf="blogLength>0">
          <canvas baseChart height="170" width="250%!important"  [data]="blogpieChartData" [chartType]="pieChartType"
            [options]="pieChartOptions" [colors]="pieChartColors" [labels]="blogpieChartLabels">
          </canvas>
        </div>
        <mat-card class="no-data-chart" *ngIf="blogLength == 0">
          <div class="no-data">
              No Data Found
            </div>
        </mat-card>
      </div>
    </div>

</div>