.dashboard-data h6 {
    font-weight: 500;
} 
.graph {
    width: 110px;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}
.graph img {
    width: 100%;
}
.chart-box {
    background: #ffff;
    border-radius: 5px;
    overflow-y: scroll;
    box-shadow: 0px 7px 29px 0px #e7e4e4;
}
.chartjs-render-monitor {
    margin: 2.5rem 0rem;
}
.pie-chart-pointer{
    cursor: pointer;
}
.pie-chart-box{
    top: 14px;
}
.status-box{
    background: #fff;
    box-shadow: 0px 7px 29px 0px #e7e4e4;
    border-radius: 5px;
    justify-content: space-between;
    height: 110px;
}
.status-box h6{
    color: #707070;
}
.status-box p{
    color: #3CC480;
    display: flex;
    align-items: center;
}
.status-box p i{
    color: #3CC480;
}
.status-box h2{
    font-weight: 600;
}
.member-state{
    top: -10px;
}
::ng-deep .memberstateform .mat-form-field-wrapper {
    height: 55px!important;
}
.no-data-chart{
    height: 250px;
}
.no-data{
    margin-left: 90px;
    margin-top: 100px!important;
}