
.card {
    margin-bottom: 30px;
    -webkit-transition: .5s;
    transition: .5s;
    box-shadow: 0px 0px 1px #cccc;
    border: 1px solid #007ACC;
    border-radius: 0.25rem;
}
.padding {
    padding: 3rem !important
}
body {
    background-color: #f9f9fa
}
.card-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 20px;
    background-color: transparent;
    border-bottom: 1px solid rgba(77, 82, 89, 0.07);
    background: #007ACC;
    color: #fff;
}
.impac-chatbot .card-header .close{
    opacity: unset !important;
}
.impac-chatbot .card-header .close-icon{
    opacity: unset !important;
    color: #fff !important;
    position: relative;
    bottom: 0;
    font-size: 1.2rem;
    font-weight: unset;
}
.btn-sent{
    background: #eacc03 !important;
    color: rgba(0,0,0,.87);
    border: transparent;
    font-weight: 500;
}
.chat-body{
    padding-bottom: 1px;
    max-height: 350px;
    overflow-y: scroll;
    margin: 0;
}
.card-header .card-title {
    padding: 0;
    border: none
}
.chat-arrow{
    padding: 0;
}
.chat-arrow i{
    font-size: 1.5rem;
    color: #fff;
}
h4.card-title {
    font-size: 17px
}
.card-title {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0;
}
.ps-container {
    position: relative;
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear
}
.media .avatar {
    flex-shrink: 0
}
.avatar {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 100%;
    background-color: #f5f6f7;
    color: #8b95a5;
    text-transform: uppercase
}
.media-chat .media-body {
    -webkit-box-flex: initial;
    flex: initial;
    display: table
}

.media-chat .media-body p {
    position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
    font-weight: 100;
}
.media-chat .media-body p.meta {
    background-color: transparent !important;
    padding: 0;
    opacity: .8
}
.media-meta-day {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0;
    color: #8b95a5;
    opacity: .8;
    font-weight: 400
}

.media-chat.media-chat-reverse {
    padding-right: 12px;
    padding-left: 64px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse
}

.media-chat.media-chat-reverse .media-body p {
    float: right;
    clear: right;
    background-color: #48b0f7;
    color: #fff
}

.border-light {
    border-color: #f1f2f3 !important
}
.bt-1 {
    border-top: 1px solid #ebebeb !important
}
.publisher {
    position: sticky;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    background-color: #f9fafb;
    bottom: 0;
    width: 100%;
}
.publisher-input {
    -webkit-box-flex: 1;
    flex-grow: 1;
    border: none;
    outline: none !important;
    background-color: transparent;
    margin-right: 1rem;
    height: 30px;
    resize: none;
}
.impac-chatbot{
    position: fixed;
    bottom: 0; 
    right: 30px;
    width: 400px;
    z-index: 100;
}
.activeLink {
    color: #007ACC;
    text-decoration: underline !important;
    cursor: pointer;
} 
.custom-x{
    left: 0px; 
    bottom: 0px;
}
.custom-x .ps-scrollbar-x{
    left: 0px; 
    width: 0px;
}
.custom-y .ps-scrollbar-y{
    top: 0px; 
    height: 2px;
}
.custom-y{
    top: 0px; 
    height: 0px; 
    right: 2px;
}