

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

<div class=" page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-6 impac-chatbot">
                <div class="card card-bordered">
                    <div class="card-header py-1" id="accordion">
                        <h4 class="card-title"><strong>Chat</strong></h4> 
                        <div>
                            <div class="btn-group pull-right">
                                <a type="button" class="btn btn-default chat-arrow" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                            </div>
                            <button type="button" class="close" (click)="closeChatbot()">
                                <mat-icon class="close-icon" matTooltip="Close">close</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="chat-body collapse show" id="collapseOne"  #scrollMe [scrollTop]="scrollMe.scrollHeight">
                        <div *ngFor="let chatBot of chatBotLists" class="ps-container ps-theme-default ps-active-y" id="chat-content">
                            <div class="media media-chat"> 
                                <!-- <img class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."> -->
                                <div class="media-body">
                                    <p>{{chatBot?.sendMessage}}</p>
                                    <!-- <p class="meta"><time datetime="2018">23:58</time></p> -->
                                </div>
                            </div>
                            <div class="media media-chat media-chat-reverse">
                                <div class="media-body">
                                    <p>{{chatBot?.receiveMessage}}</p>
                                    <div *ngIf="chatBot?.viewMoreLink != null"> <a class="activeLink" (click)="openLink(chatBot?.viewMoreLink)">For More details please refer to this video link</a></div>
                                   
                                    <!-- <p class="meta"><time datetime="2018">00:06</time></p> -->
                                </div>
                            </div>
                            <div class="ps-scrollbar-x-rail custom-x" >
                                <div class="ps-scrollbar-x" tabindex="0" ></div>
                            </div>
                            <div class="ps-scrollbar-y-rail custom-y" >
                                <div class="ps-scrollbar-y" tabindex="0" ></div>
                            </div>
                        </div>
                        <div class="panel-footer publisher bt-1 border-light"> 
                            <form [formGroup]="chatBotForm" class="w-100">
                                <div class="input-group align-items-center">
                                    <input  id="btn-input" class="publisher-input" type="text" formControlName="chat" placeholder="Write something"  autocomplete="off">
                                    <span class="input-group-btn">
                                        <button class="btn btn-warning btn-sent" id="btn-chat" [disabled]="!chatBotForm.valid" (click)="send()">
                                            Send</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


