<div class="content-box p-4">

    <div class="head-box d-flex justify-content-between">
        <div class="d-flex">
            <mat-icon (click)="cancel()" matTooltip="Back">keyboard_arrow_left</mat-icon>
            <h3 class="px-2 back_arrow_left">View Policies</h3>
        </div>
    </div>
    <div class="py-4 mx-4" id="admin">
        <div class="impacs-tab-right d-flex">
            <div class="case-group-icon d-flex">
                <div *ngIf="selectedIndex == 0" class="d-flex">

                    <div class="approve-i" *ngFor="let policyInfo of policyInfolist">
                        <div>
                            <label class="m-0">Status :    <span
                                [ngClass]="policyInfo?.['Status'] == 'Approved' ? 'priority-level low' : policyInfo?.['Status'] == 'Rejected' ? 'priority-level high' :policyInfo?.['Status'] == 'Open' ? 'priority-level' : '' ">{{policyInfo?.['Status'] ? policyInfo?.['Status'] : '--'}}</span></label>
                        </div>
                        <div class="row" *ngIf="policyInfo.Status == 'Open'">
                            <div class="col-md-3 mr-2">
                                <mat-icon class="btn-icon" (click)="openReasonPopEdit('Approved')">
                                    <i-feather name="check-square" matTooltip="Approve"></i-feather>
                                </mat-icon>
                            </div>
                            <div class="col-md-3">
                                <mat-icon class="btn-icon" (click)="openReasonPopEdit('Rejected')">
                                    <i-feather name="x-square" matTooltip="Reject"></i-feather>
                                </mat-icon>
                            </div>
                        </div>
                      
                    </div>

                    <mat-icon class="btn-icon" (click)="openDeleteDialog()">
                        <i-feather name="trash-2" matTooltip="Delete"></i-feather>
                    </mat-icon>
                    <mat-icon class="btn-icon" (click)="onEditClicked()">
                        <i-feather name="edit" matTooltip="Edit"></i-feather>
                    </mat-icon>

                </div>
            </div>
        </div>
        <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedIndex"
            (selectedTabChange)="onSelectedTab($event.index)">
            <mat-tab label="Policy Info">
                <div *ngIf="selectedIndex == 0">
                    <div *ngFor="let policyInfo of policyInfolist">
                        <div class="row policy-info-tab">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="pl-4 policy-info-h6">
                                            <h6>Policy ID</h6>
                                            <h6>Policy Title</h6>
                                            <h6>Policy Sub Type</h6>
                                            <h6>Status</h6>
                                            <h6>Approvers-Role</h6>
                                            <h6>Notify-Step</h6>
                                            <h6>Notify-Name/Team</h6>
                                            <h6>Created By</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h6>{{policyInfo?.['Policy ID'] ? policyInfo?.['Policy ID'] : '--'}}</h6>
                                        <h6>{{policyInfo?.['Policy Title'] ? policyInfo?.['Policy Title'] : '--'}}</h6>
                                        <h6>{{policyInfo?.['Policy Sub Type'] ? policyInfo?.['Policy Sub Type'] : '--'}}</h6>
                                        <h6>{{policyInfo?.['Status'] ? policyInfo?.['Status'] : '--'}}</h6>
                                            <h6>{{policyInfo?.['Approvers-Role'] ? policyInfo?.['Approvers-Role'] : '--'}}</h6>
                                            <h6>{{policyInfo?.['Notify-Step'] ? policyInfo?.['Notify-Step'] : '--'}}</h6>
                                            <h6>{{policyInfo?.['Notify-Name/Team'] ? policyInfo?.['Notify-Name/Team'] : '--'}}</h6>
                                            <h6>{{policyInfo?.['Created By'] ? policyInfo?.['Created By'] : '--'}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="pl-4 policy-info-h6">
                                            <h6>Policy Type</h6>
                                            <h6>Collaborator User</h6>
                                            <h6>Member State</h6>
                                            <h6>Approvers-Step</h6>
                                            <h6>Approvers-Name/Team</h6>
                                            <h6>Notify-Role</h6>
                                            <h6>Created On</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h6>{{policyInfo?.['Policy Type'] ? policyInfo?.['Policy Type'] : '--'}}
                                        </h6>
                                        <h6>{{policyInfo?.['Collaborator User'] ? policyInfo?.['Collaborator User'] : '--'}}</h6>
                                        <h6>{{policyInfo?.['Member State'] ? policyInfo?.['Member State'] : '--'}}</h6>
                                        <h6>{{policyInfo?.['Approvers-Step'] ? policyInfo?.['Approvers-Step'] : '--'}}</h6>
                                        <h6>{{policyInfo?.['Approvers-Name/Team'] ? policyInfo?.['Approvers-Name/Team'] : '--'}}</h6>
                                        <h6>{{policyInfo?.['Notify-Role'] ? policyInfo?.['Notify-Role'] : '--'}}</h6>
                                        <h6>{{policyInfo?.['Created On'] | date:'yyyy-MM-dd h:mm a'}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pl-4 pt-3 policy-document">
                            <div *ngIf="!showEditRichTextEditor">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h5>Policy Document Text (Version {{policyInfo?.['Version']}})    
                                        </h5>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-icon class="btn-icon" >
                                            <i-feather name="edit" matTooltip="Edit" (click)="editDocumentText()"></i-feather>
                                        </mat-icon>
                                    </div>
                                </div>
                                   
                                <div class="my-3 py-3 px-4 pol-documenttext-box"
                                   [innerHTML]="policyDocument">
                                </div>
                            </div>
                            <div *ngIf="showEditRichTextEditor" class="col-md-12 mb-4">
                                <div >
                                    <!-- RichTextEditor -->
                                      <div *ngIf="editorResponse.componentName== attributeTypeValue?.RICH_TEXT_EDITOR">
                                        <mat-label>{{editorResponse.entityTypeAttributeName}}</mat-label>
                                        <div  [(ngModel)]="editorValue"
                                        [ngxSummernote]="config"></div>
                                      </div>

                                      <div class="d-flex justify-content-center my-5 form-btn">
                                        <button mat-raised-button class="modal-submit" (click)="updateDocumentText(editorValue)">Update</button>
                                        <button mat-raised-button class="modal-cancel" (click)="cancelDocumentText()">Cancel</button>
                                      </div>
                                  
                                </div>
                            </div>
    
    
                            <div class="policy-uploadfile" >
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mt-4">
                                            <div class="col-md-3">
                                                <div class="policy-info-h6">
                                                    <h6>Uploaded Files</h6>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="uploaded-file-name mb-3" *ngFor="let file of uploadedFileList">
                                                    <span class="add-cursor" 
                                                        (click)="download(file)">{{file?.fileName ? file?.fileName : '--'}}</span>
                                                </div>
                                                <span *ngIf="uploadedFileList?.length == 0">--</span>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="mb-2" *ngFor="let file of uploadedFileList">
                                                        <div  *ngIf="showDeleteIcons && uploadedFileList.length >1">
                                                            <mat-icon class="btn-icon" (click)="deleteFiles(file)">
                                                                <i-feather name="trash-2" matTooltip="Delete"></i-feather>
                                                            </mat-icon>
                                                        </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mt-4">
                                            <div class="col-md-4">
                                                <div class="policy-info-h6">
                                                    <h6>File Description</h6>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="uploaded-file-name">
                                                  <h6>{{policyInfo?.['File Description'] ? policyInfo?.['File Description'] : '--'}}</h6>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-2" *ngIf="!showEditFiles">
                                                <mat-icon class="btn-icon" (click)="editDocumentText('Files')">
                                                    <i-feather name="edit" matTooltip="Edit"></i-feather>
                                                </mat-icon>
                                            </div>
                                            <div class="col-md-2" *ngFor="let file of uploadedFileList">
                                                <div *ngIf="showDeleteIcons && uploadedFileList.length==1">
                                                    <mat-icon class="btn-icon" (click)="deleteFiles(file)">
                                                        <i-feather name="trash-2" matTooltip="Delete"></i-feather>
                                                    </mat-icon>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div  class="col-md-10 mt-4" *ngIf="showEditFiles" >
                                <div class="row">
                                    <div class="col-md-4 policyFiles">
                                        <mat-form-field class="file-upload">
                                            <mat-label>File upload</mat-label>
                                            <div class="d-flex p-0 hide-filename">
                                              <ngx-mat-file-input accept="*" [multiple]=true (change)="onFileSelected($event)">
                                              </ngx-mat-file-input>
                                              <i-feather name="upload" matTooltip="File Upload"></i-feather>
                                            </div>

                                            <div class="progressbar" *ngIf="listOfFiles.length > 0 && hideProgressBar">
                                                <span class="status" ></span>
                                                {{progress}} %
                                              </div>

                                            <div class="uploadfile-preview"  *ngIf="listOfFiles.length > 0 && !hideProgressBar">
                                                Uploaded File Download here
                                                <mat-chip-list #chipList >
                                                  <mat-chip *ngFor="let selected of listOfFiles;let index = index" [selectable]="selectable"
                                                    [removable]="removable" (removed)="removeSelectedFile(index,selected)"
                                                    (click)="downloadFiles(selected)">
                                                    {{selected.name ? selected.name : selected.fileName}}
                                                    <button matChipRemove>
                                                      <mat-icon matTooltip="Cancel">cancel</mat-icon>
                                                    </button>
                                                  </mat-chip>
                                                </mat-chip-list>
                                              </div>
                                          </mat-form-field>

                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>File Description</mat-label>
                                            <textarea matInput [(ngModel)]="editorDescValue" (keyup)="onKeyuptextarea($event)" maxlength="500" autocomplete="off"></textarea>
                                          </mat-form-field>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center my-5 form-btn">
                                    <button mat-raised-button class="modal-submit" (click)="uploadDocumentFiles(editorDescValue)">Update</button>
                                    <button mat-raised-button class="modal-cancel" (click)="cancelDocumentFiles()">Cancel</button>
                                  </div>
                              </div>


                        </div>

                     
                    </div>
                </div>

            </mat-tab>
            <mat-tab label="Approval History">
                <div class="px-4 approval-history" *ngIf="selectedIndex == 1">
                    <div class="example-container mat-elevation-z8">
                        <mat-table class="impacs-table" [dataSource]="dataSource">
                            <ng-container *ngFor="let column of displayedColumns">
                                <ng-container [matColumnDef]="column">
                                    <mat-header-cell *matHeaderCellDef class="approval-history">{{column}}</mat-header-cell>
                                    <ng-container>
                                        <mat-cell *matCellDef="let row"> {{row[column]}} </mat-cell>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                            <div class="table-content-wrapper">
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </div>
                        </mat-table>
                        <ng-container>
                            <div class="text-center my-5 nodata_display" *ngIf="dataSource.filteredData.length === 0">
                                No Data Found
                            </div>
                        </ng-container>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Version">
                <div class="pl-4 policy-version" *ngIf="selectedIndex == 2">
                    <p>Comparing Version</p>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-3">
                                    <h6>Version</h6>
                                </div>
                                <div class="col-md-3">
                                    <h6>Submitted Date</h6>
                                </div>
                                <div class="col-md-3">
                                    <h6>Approved By</h6>
                                </div>
                                <div class="col-md-auto">
                                    <h6>Status</h6>
                                </div>
                            </div>
                            <form [formGroup]="policyVersionForm">
                                <div class="version-compare" [formArrayName]="'policyVersionArray'"
                                    *ngFor="let control of getPolicyVersionArray?.controls;let i=index;let last=last">
                                    <div class="row flex-nowrap mb-1" [formGroupName]="i">

                                        <div class="col-md-1 d-flex justify-content-center align-items-center">
                                            <mat-checkbox color="primary" class="example-margin"
                                                (change)="$event ? selection.toggle(control) : null; onRowChecked()"
                                                [checked]="selection.isSelected(control)" #i
                                                [disabled]="getcheckboxDisable(i)"></mat-checkbox>
                                        </div>
                                        <div class="col-md-3 mb-4">
                                            <mat-form-field appearance="fill">
                                                <input matInput formControlName="version" autocomplete="off">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field appearance="fill">
                                                <input matInput formControlName="submittedOn" autocomplete="off">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field appearance="fill">
                                                <input matInput formControlName="approvedBy" autocomplete="off">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field appearance="fill">
                                                <input matInput formControlName="status" autocomplete="off">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                            <ng-container *ngIf="paginationResult?.Entities?.length > 0"><app-pagination [paginationList]="paginationResult" (onPageChanged)="onPageChanged($event)"></app-pagination></ng-container>
                            
                        </div>
                    </div>
                    <div class="center-btn py-5 text-center">
                        <button class="compare-button" mat-raised-button (click)="compareVersion()">Compare</button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<div class="py-4 mx-4 version-compare-box" *ngIf="showCompareVersion">
    <div class="row">
        <div class="col-md-6" *ngFor="let version of versionCompare">
            <h6>Version {{version?.attributeValue}} </h6>
        </div>
    </div>
    <div class="row" id="scroll-bar">
        <div class="col-md-12">
            <div class="row" [innerHTML]="compareHtmlFile"></div>
        </div>
    </div>
</div>