.policy-info-h6 h6{
  color: #707070;
}
.policy-info-h6 a{
  cursor: pointer;
}
.policy-info-tab h6{
  margin-bottom: 1rem; 
}
.policy-document h5{
  color: #707070;
}
.pol-documenttext-box{
  border: 1px dashed #707070;
  border-radius: 7px;
  height: 400px;
  overflow-y: scroll;
}
.uploaded-file-name span{
  background: #007ACC;
  color: #ffff;
  padding: 0.2rem 1rem;
  border-radius: 50px;
  margin-right: 1rem;
  word-break: break-all;
  margin-bottom: 5px;
  display: block;
}
#admin{
  position: relative;
}
#admin .impacs-tab-right {
  padding: 1rem;
   position: absolute;
   right: 0;
   z-index: 10;
}
.policy-version p{
  font-size: 1.1rem;
  font-weight: 600;
}
.policy-version h6{
  color: #707070;
}
::ng-deep .version-compare .mat-form-field-wrapper{
  background: #cccccc59;
}
::ng-deep .version-compare input.mat-input-element{
  bottom: unset;
  color: #707070;
  font-weight: 500;
}
::ng-deep .version-compare  .mat-form-field-appearance-fill .mat-form-field-flex{
  padding: 0 1rem !important;
}
::ng-deep .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-underline::before {
  background-color: rgba(0,0,0,.42);
}
.version-compare-box{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 6px #ccc;
  padding: 2.5rem;
}
.version-compare-box h6{
  color: #707070;
  font-size: 1.2rem;
}
.add-cursor{
  cursor: pointer;
}
.priority-level.approved{
  background: #3CC480;
   color: #fff;
   padding: 5px 10px;
   border-radius: 50px;
   font-size: 12px;
   text-align: center;
}
.priority-level.Open{
  background: white;
  color: #121010;
  padding: 6px 25px;
  font-size: 14px;
  border: 2px solid #007acc;
  cursor: pointer;
}
.priority-level.rejected{
  background: #FF4141;
}
.compare-button{
  background: #eacc03;
}
.approval-history{
  text-transform: capitalize;
}
::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}
::ng-deep .mat-tab-label {
  min-width: 100px !important;
  margin-right: 3rem !important;
  padding: 0 !important;
}
::ng-deep .mat-tab-label .mat-tab-label-content{
  font-size: 1.1rem;
  font-weight: 500;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #eacc03 !important;
}
::ng-deep .mat-tab-header{
  padding: 0 1.5rem;
  margin: 1rem 0;
}
::ng-deep .policy-uploadfile{
  margin-bottom: 2rem;}

::ng-deep .approve-i{
  display: flex;
    align-items: center;
    gap: 20px;
}  
.mat-chip.mat-standard-chip {
  background-color: #007ACC;
  color: #fff;
  font-weight: 400;
  min-height: 35px;
  padding-right: 13px;
}
::ng-deep .mat-chip.mat-standard-chip .mat-chip-remove{
  opacity: unset;
}
::ng-deep input.mat-chip-input{
  bottom: unset;
}
::ng-deep .mat-standard-chip .mat-chip-remove, .mat-standard-chip .mat-chip-trailing-icon {
  margin-left: 0px;
  margin-right: 0;
}
.uploadfile-preview{
 border: 1px dashed #707070;
 padding: 1rem;
 border-radius: 10px;
 color: #707070;
 height: 100px;
 overflow-y: scroll;
 margin-top: 50px;
}
::ng-deep .uploadfile-preview .mat-chip-list-wrapper{
  margin-top: 0.25rem !important;
}
.uploadfile-preview button mat-icon{
  color: #fff;
}
.file-upload .mat-form-field-flex{
  padding: 0 10px !important;
}
::ng-deep .file-upload .mat-form-field-flex{
  display: unset;
}
::ng-deep .file-upload .mat-form-field-flex .mat-form-field-infix{
  width: auto;
}
::ng-deep .hide-filename span.filename {
  display: none !important;
}
::ng-deep .policyFiles .file-upload .mat-form-field-wrapper {
  height: 10vh!important;
}

.progressbar {
  position: relative;
  background-color: #3CC480;
  border-radius: 0.3em;
  text-align: center;
  color: #fff;
}

.progressbar > .status {
  display: block;
  position: absolute;
  height: 100%;
  animation: 1s progressbar 0s linear normal;
  animation-delay: var(--delay);
  animation-play-state: paused;
}