<div class="content-box py-4" id="impacs-tab">

    <div class="head-box d-flex justify-content-between mx-4 mb-2">
      <div class="d-flex">
        <h3>Setting</h3>
      </div>
    </div>
    <div class="example-container mat-elevation-z8 table-casetype mx-4 mb-4" >
        <mat-table class="impacs-table"  [dataSource]="dataSource">
       
          <ng-container  *ngFor="let column of displayedColumns; let i= index"  >
    
            <ng-container [matColumnDef]="column" *ngIf="column != 'Action'">
              <mat-header-cell *matHeaderCellDef >
                <div class="input-table">
                  <div class="title"> {{column == 'sessionTimeout' ? 'Idle TimeOut' : 'OTP TimeOut'}}</div>
                </div>
              </mat-header-cell>
              <mat-cell #tooltip="matTooltip" matTooltipPosition="right" 
              matTooltip="{{row[column]}}" *matCellDef="let row"> {{row[column]+ ' minutes'}}</mat-cell>
            </ng-container> 
      
            <ng-container [matColumnDef]="column"   *ngIf="column == 'Action'" >
                <mat-header-cell *matHeaderCellDef >{{column}}</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-icon class="btn-icon" (click)="onCreateEditClicked(row)">
                    <i-feather name="edit" matTooltip="Edit" ></i-feather>
                  </mat-icon>
                </mat-cell>
              </ng-container>
      
      
          </ng-container>
          <div class="table-content-wrapper">
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></mat-header-row>
          </div>
          <div class="table-content-wrapper">
            <mat-row  *matRowDef="let row; columns: displayedColumns;" class="text-break"></mat-row>
          </div>
      
        </mat-table>
      

      
      </div>
  </div>