    <app-header (showChatBot)="setChatbot($event)"></app-header>
    <app-sidebar></app-sidebar>
    <app-loader [isLoading]="isLoading">
        
    </app-loader>
    <div class="scrollbar">

    </div>

    <app-chatbot *ngIf="isShowChatBot" (onChatBotClosed)="setChatbot($event)"></app-chatbot>
