.skill-box {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  background: white;
}
.firstcell-link {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #007ACC;
  color: #007ACC;
}
.priority-level.approved {
  background: #3CC480;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 12px;
  text-align: center;
}
.priority-level.Open {
  background: #007ACC;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 12px;
  text-align: center;
}
.priority-level.rejected {
  background: #FF4141;
}
.view_skills_status {
  cursor: pointer;
  margin-right: 10px;
}
.view_skills_title{
  font-weight: bold;
}