<div class="content-box p-4">
  <div class="head-box d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <mat-icon (click)="cancel()" matTooltip="Back">keyboard_arrow_left</mat-icon>
      <h3 class="px-2 m-0 back_arrow_left">View User Skills</h3>
    </div>
  </div>
  <mat-card class="my-3 log-detail" *ngFor="let user of userDetails">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-md-4 view_skills_title">
            <p>Name</p>
            <p>Email</p>
            <p>Group</p>
            <p>Status</p>
          </div>
          <div class="col-md-8">
            <p>{{user?.Name ? user?.Name : '--'}}</p>
            <p class="cus_text_overflow">{{user?.Email ? user?.Email : '--'}}</p>
            <p>{{user?.Group ? user?.Group : '--'}}</p>
            <p>{{user?.Status ? user?.Status : '--'}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-md-6 view_skills_title">
            <p>Phone Number</p>
            <p>Role</p>
          </div>
          <div class="col-md-6">
            <p>{{user?.['Phone Number'] ? user?.['Phone Number'] : '--'}}</p>
            <p>{{user?.Role ? user?.Role : '--'}}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <div id="impacs-tab">
    <div class="d-flex justify-content-between">
      <h3 class="px-2">Skill Set</h3>
    </div>
  </div>
  <div class="skill-box pb-4  border rounded" id="admin">
    <div class="inner-box ">
      <mat-table class="impacs-table" [dataSource]="dataSource">
        <div *ngFor="let column of displayedColumns">
          <ng-container [matColumnDef]="column"
            *ngIf="column != 'Upload' && column != 'Status' && column != 'Skillset'">
            <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
            <ng-container>
              <mat-cell *matCellDef="let row"> {{row[column]}} </mat-cell>
            </ng-container>
          </ng-container>
          <ng-container [matColumnDef]="column" *ngIf="column == 'Skillset'">
            <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
            <ng-container>
              <mat-cell *matCellDef="let row">
                <span *ngFor="let skills of dropDownValue">
                  <span *ngIf="row[column] == skills.entityId">{{skills?.componentValue}}</span>
                </span>
              </mat-cell>
            </ng-container>
          </ng-container>
          <ng-container [matColumnDef]="column" *ngIf="column == 'Upload'">
            <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
            <ng-container>
              <mat-cell class="firstcell-link" *matCellDef="let row"> <a
                  (click)="preview(row)">{{getPreviewName(row[column])}}</a></mat-cell>
            </ng-container>
          </ng-container> 
          <ng-container [matColumnDef]="column" *ngIf="column == 'Status'">
            <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
            <ng-container>
              <mat-cell *matCellDef="let row" class="view_skills_status" [ngClass]="{'disabled': disabled }"
                (click)="openReasonPopEdit(row[column],row)"> <span
                  [ngClass]="row[column] == 'Open' ? 'priority-level Open' : row[column] == 'Rejected' ? 'priority-level rejected' : row[column] == 'Approved' ? 'priority-level approved' : '' ">{{row[column]}}</span>
              </mat-cell>
            </ng-container>
          </ng-container>
        </div>
        <div class="table-content-wrapper">
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        </div>
        <div class="table-content-wrapper">
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </div>
      </mat-table>

      <ng-container>
        <div  class="text-center my-5" *ngIf="totalData?.Entities?.length === 0">
          No Data Found
      </div>
      </ng-container>

      <ng-container *ngIf="dataSource?.filteredData?.length > 0">
        <app-pagination [paginationList]="totalData" (onPageChanged)="onPageChange($event)"></app-pagination>
      </ng-container>  
      
    </div>
  </div>
</div>