.mat-select{
    position: relative;
    top: 10px;
}
::-webkit-scrollbar {
  height: 10px;
  width: 6px;
  background:  transparent;
} 
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 1ex;
  box-shadow: 0px 1px 2px #ccc;
}  
::-webkit-scrollbar-corner {
  background: #ccc;
}
.createform{
  background: #fff;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed #ccc;
}
.createform h3{
  color: #707070;
  font-weight: 400;
}
.createform button{
  background: #007ACC;
  color: #fff;
  border: transparent;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border-radius: 10px;
}
.form-element{
  background: #fff;
  height: 600px;
}
.form-element .drag-blocks{
  border-right: 1px solid #ccc;
  height: 600px;
}
.form-element h5{
  color: #fff;
}
.drag-drop-title{
  background: #007ACC;
  height: 45px;
  padding: 13px 15px;
}
.drag-drop-title p{
  color: #fff;
  font-weight: 600;
  margin: 0;
}
.drag-drop-title section{
  margin-top: 2rem;
  height: 500px;
  overflow-y: scroll;
}
.before-start-build{
  display: flex;
   align-items: center;
   justify-content: center;
}
.build-box{
  background: #efecec;
   width: 300px;
   padding: 3rem 2rem;
   text-align: center;
   border-radius: 10px;
   position: relative;
  top: 60px;
}
.build-box p{
  color: #333 !important;
  font-weight: 500;
}
.dndDropArea.empty .before-start-build{
  display: flex;
}
.dndDropArea .before-start-build{
  display: none;
}
.field .before-start-build{
  display: none;
}
.drag-field{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.drag-field h6{
  margin: 0;
  padding: 0 10px;
}
.drop-field{
 box-shadow: none;
}
.single-drop-field{
  border: dotted #ddd 2px;
  background: #F3FAFF;
  border-radius: 10px;
  padding: 1rem;
}
.properties-field {
   box-shadow: none;
   height: 520px;
  overflow-x: scroll;
  padding: 0;
  margin: 0;
}
.properties-field .toggle-Wrapper{
  background: transparent;
}
.form-control{
  border: none;
  border-radius: unset;
  font-weight: 500;
}
.check-radio-head{
   background: #007ACC;
   padding: 0.5rem;
  border-radius: 5px;
}
.check-radio-head .col-6{
  display: flex;
  align-items: center;
}
.check-radio-head label{
  color: #fff;
}
.properties{
  margin-top: 2rem;
}
.active{
  border-color: black;
}
.dndDropArea{
  padding: 10px;
}
.action-button {
  background: transparent;
  border: none;
}