 <!-- Create form -->
 <div class="createform my-3" *ngIf="!showDragDropTemplateForm">
    <div>
      <h3>It's now easy to build a form</h3>
      <button class="mt-3" (click)="onLoadForm()">Create Form</button>
    </div>
  </div>
  
  <!-- /** Template Drag & Drop Form */ -->
  <div class="form-element" *ngIf="showDragDropTemplateForm">
    <div class="row m-0">
      <div class="col-md-2 p-0 drag-blocks">
        <div class="drag-drop-title">
          <h5>Form Element</h5>
          <div class="fields mt-4" *ngFor="let item of modelFields">
            <div class="field pointer shadow-bg drag-field" [dndDraggable]="item" [dndEffectAllowed]="'copy'">
              <i [ngClass]="item?.icon" class="fa pull-left"></i>
              <h6>{{item?.componentName}}</h6>
            </div>
          </div>
        </div>
      </div>
      <!-- /** New Form */ -->
      <div class="col-md-5 p-0 drag-blocks">
        <div class="drag-drop-title">
          <h5>New Form</h5>
          <section id="scroll-bar" class="mt-4" [dndDropzone]="[]" (dndDrop)="onDrop($event,model.attributes)"
            class="dndDropArea" [ngClass]="{'empty':model.attributes.length == 0}"
            [style.backgroundColor]="model.theme.bgColor" [style.color]="model.theme.textColor">
            <div class="field drop-field" *ngFor="let item of model.attributes;let i= index;"
              (dndMoved)="onDragged(item, model.attributes, 'move')" [dndEffectAllowed]="'all'" [dndDraggable]="item">
              <div class="row form-group newform-cursor">
                <div class="col-10 single-drop-field" (click)="onSelectedForms(item, i)" [ngClass]="{'active': isSelected == i}">

                <mat-form-field  appearance="fill" *ngIf="item?.componentName==attributeTypeValue?.TEXT_BOX">
                    <mat-label>{{item?.entityTypeAttributeName}}</mat-label>
                    <mat-label *ngIf="item.isRequired" class="text-danger">*</mat-label>
                    <input matInput type="text" disabled autocomplete="off">
                </mat-form-field>

                <mat-form-field appearance="fill" *ngIf="item?.componentName==attributeTypeValue?.TEXT_AREA">
                    <mat-label>{{item?.entityTypeAttributeName}}</mat-label>
                    <mat-label *ngIf="item.isRequired" class="text-danger">*</mat-label>
                    <textarea matInput maxlength="500" disabled autocomplete="off"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill" *ngIf="item?.componentName==attributeTypeValue?.DROP_DOWN">
                    <mat-label>{{item?.entityTypeAttributeName}}</mat-label>
                    <mat-label *ngIf="item.isRequired" class="text-danger">*</mat-label>
                    <mat-select class="form-control" disabled>
                      <mat-option *ngFor="let v of item?.componentVal" [value]="v.value">{{v?.value}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div *ngIf="item?.componentName==attributeTypeValue?.UPLOAD">
                  <mat-label>{{item?.entityTypeAttributeName}}</mat-label>
                  <mat-label *ngIf="item.isRequired" class="text-danger">*</mat-label>
                  <input class="form-control" type="file" disabled>
                </div>

                <div *ngIf="item?.componentName==attributeTypeValue?.CHECK_BOX">
                  <mat-label>{{item?.entityTypeAttributeName}}</mat-label>
                  <mat-label *ngIf="item.isRequired" class="text-danger">*</mat-label>
                  <div class="d-flex flex-wrap">
                    <div *ngFor="let v of item?.componentVal" class="ml-3">
                      <label>
                        <mat-checkbox class="example-margin" color="primary" type="checkbox" [value]="v.value" disabled>{{v.value}}</mat-checkbox>
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>



                </div>
                <div class="col-2">
                  <i (click)="deleteField(i)" class="drop-delete ri-delete-bin-line pull-right"></i>
                </div>
              </div>
            </div>
            <div class="dndPlaceholder" dndPlaceholderRef>
            </div>
            <div class="before-start-build">
              <div class="build-box">
                <h4>Start Building!</h4>
                <p>Drag fields from the left panel and drop here to add them to your form</p>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- /** Form Properties */  -->
      <div class="col-md-5 p-0 drag-blocks">
        <div class="drag-drop-title">
          <h5>Properties</h5>
          <div id="scroll-bar" class="field mt-4 properties-field" *ngFor="let item of propertyModelValue;let i= index;">
            <div class="toggle-Wrapper">
              <mat-form-field appearance="fill">
                <mat-label>Label Name</mat-label>
                <input matInput type="text" [(ngModel)]="item.entityTypeAttributeName" autocomplete="off"/>
              </mat-form-field>

              <div class="properties">
                <mat-label>Required</mat-label>
                <div class="mt-3">
                  <mat-slide-toggle [(ngModel)]="item.isRequired"></mat-slide-toggle>
                </div>        
              </div>
             
              <div class="properties" *ngIf="item?.componentName==attributeTypeValue?.DROP_DOWN || item?.componentName==attributeTypeValue?.CHECK_BOX">
                <div class="row check-radio-head">
                  <div class="col-6">
                          <label>Value</label>
                  </div>
                  <div class="col-4">
                          <label>Action</label>
                  </div>
                </div>
                <div *ngFor="let i of item.componentVal; let valueIndex=index;let last=last" class="row">
                  <div class="col-6">
                      <mat-form-field appearance="fill" class="mt-2">
                          <input matInput type="text" [(ngModel)]="i.value" autocomplete="off"
                          />
                      </mat-form-field>
                  </div>
                  <div class="col-4 d-flex align-items-center"> 
                        <button class="action-button float-left" type="button"(click)="deleteProperty(item?.componentVal,valueIndex)">
                            <i  class="drop-delete ri-delete-bin-line pull-right" matTooltip="Delete"></i>
                        </button>
                        <button class="action-button float-left" type="button" (click)="addValue(item.componentVal)" *ngIf="last">
                            <i  class="drop-add ri-add-circle-fill pull-right" matTooltip="add"></i>
                        </button>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center my-5 form-btn">
    <button mat-raised-button class="modal-submit" (click)="submitTemplate()">Submit</button>
    <button mat-raised-button class="modal-cancel" (click)="cancel()">Cancel</button>
  </div>

