::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: rgb(235, 240, 241);
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgb(16, 167, 10);
}
.mat-select{
  position: relative;
  top: 10px;
}