<app-tab [displayedLables]="labelNames" [selectedIndex]="selectedIndex" (onSelectedTab)="onSelectedTab($event.index)">
</app-tab>
<div class="py-4 mx-4" id="admin">
  <div class="inner-box">
    <mat-card>
      <div class="row my-3">
        <div class="col-md-3 mb-3" *ngFor="let attribute of formResponse">
          <form [formGroup]="profileForm">
            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_BOX">
              <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <input matInput [formControlName]="attribute.entityTypeAttributeName" readonly autocomplete="off"/>
            </mat-form-field>
            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.EMAIL">
              <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <input matInput [formControlName]="attribute.entityTypeAttributeName"  readonly autocomplete="off"/>
            </mat-form-field>
            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.NUMBER">
              <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <input matInput [formControlName]="attribute.entityTypeAttributeName" readonly  autocomplete="off"/>
            </mat-form-field>
            <div
              *ngIf="profileForm?.get(attribute.entityTypeAttributeName)?.touched && profileForm?.get(attribute.entityTypeAttributeName)?.errors?.required">
              <mat-error>{{attribute.entityTypeAttributeName}} is required</mat-error>
            </div>
            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.DROP_DOWN">
              <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <mat-select [formControlName]="attribute.entityTypeAttributeName">
                <ng-container *ngFor="let dropdown of  dropDownResponse">
                  <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown.entityTypeAttributeId"
                    [value]="dropdown.entityId" disabled>
                    {{dropdown?.componentValue}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.DATE_TIME">
              <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <input matInput [ngxMatDatetimePicker]="startPicker" readonly
                [formControlName]="attribute.entityTypeAttributeName">
              <mat-datepicker-toggle matSuffix [for]="$any(startPicker)" readonly></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #startPicker [enableMeridian]="true" readonly></ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_AREA">
              <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <textarea matInput [formControlName]="attribute.entityTypeAttributeName" readonly autocomplete="off"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_FIELD">
              <mat-label>{{attribute.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <input matInput [formControlName]="attribute.entityTypeAttributeName" readonly autocomplete="off"/>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.UPLOAD">
              <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <div class="d-flex p-0">
                <ngx-mat-file-input accept="*" [multiple]=true [formControlName]="attribute.entityTypeAttributeName" readonly>
                </ngx-mat-file-input>
                <i-feather name="upload" matTooltip="File Upload"></i-feather>
              </div>
            </mat-form-field>

            <section *ngIf="attribute.componentName== attributeTypeValue?.TOGGLE">
              <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
              <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
              <div class="mt-3">
                <mat-slide-toggle [formControlName]="attribute.entityTypeAttributeName"  [disabled]="isDisabled" ></mat-slide-toggle>
              </div>
            </section>
          </form>
        </div>
      </div>
    </mat-card>
  </div>

</div>