<div id="impacs-tab">
  <div class="impacs-tab-right d-flex">
    <div class="d-flex">
      <button class="new_case" mat-raised-button (click)="exportFile(labelNames[this.selectedIndex]?.name,labelNames[this.selectedIndex]?.value)"><i-feather name="download" matTooltip="Download"></i-feather>Download</button>
      <mat-icon class="btn-icon" (click)="openDeleteDialog()">
        <i-feather name="trash-2" matTooltip="Delete"></i-feather>
      </mat-icon>
      <button class="new_case" mat-raised-button (click)="onCreateEditClicked()">
        <i-feather name="plus" matTooltip="New {{labelNames[this.selectedIndex]?.name}}"></i-feather>New {{labelNames[this.selectedIndex]?.name}}
      </button>
    </div>
  </div>
 
  <app-tab [displayedLables]="labelNames" [selectedIndex]="selectedIndex" (onSelectedTab)="onSelectedTab($event.index)">
  </app-tab>

  <div class="ml-4 mb-3"><b>Note:</b> {{selectedIndex == 0 ? 'Case type is used as Incident type, Case type, Event type in Incident and Case and Event respectively. If a case type is used in any of these modules, it cannot be deleted. User can also create templates based on the case type which can be used to get custom details in Case and Incident.' : selectedIndex == 1 ? 'Case form is an custom form used to collect desired data in Incident based on Incident type.
    If a case form is used in a incident, it cannot be deleted.' : selectedIndex == 2 ? '  Investigation template is an custom form used to collect desired data in Case based on Case type.
    If a Investigation template is used in a incident, it cannot be deleted.' : selectedIndex == 3 ? 'Tags are used in Resources, Blogs, Skills to categorize and search better. If a Tag is used in these modules, It cannot be deleted.' : selectedIndex == 4 ? 'Used to categorize Skills that users have. If users have Skills, they cannot be deleted.' : ''}}</div>

  <app-table [observableData]="dataSource" [displayedColumnswidth]="displayedColumnswidth"
    [customTableColumnSize]="customTableColumnSize" [displayedColumns]="displayedColumns"
    (onCreateEditClicked)="onCreateEditClicked($event)" (onRowCheck)="onSelected($event)" (onSorted)="onSorted($event)" (onSearched)="onSearched($event)" (onPageChanged)="onPageChanged($event)" [searchKeyValue]="searchKey" [menuName]="menuName"></app-table>
</div>