#footer {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #007ACC;
    color: #fff;
    border-top: 4px solid #eacc03;
}
#footer ul li{
    color: #fff;
    padding: 0 2rem;
    font-family: Roboto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
 }