<div id="footer" class="d-flex justify-content-center align-items-center">
    <ul class="d-flex">
        <li>FAQs</li>
        <li>Disclaimer</li>
        <li>Privacy Notice</li>
        <li>About CARICOM IMPACS/RIFC and DFMP </li>
    </ul>

</div>