<div class="modal-head">
    <h5>{{data?.headers}}</h5>
</div>
<button mat-icon-button class="close-button" (click)="onNoClick()">
    <mat-icon class="close-icon" color="warn" matTooltip="Close">close</mat-icon>
</button>

<div mat-dialog-content class="text-center p-3 del-body" >
    <div class="d-flex justify-content-center p-3">
      <div *ngIf="data?.selectedStatusName == 'Approved'" class="approve-icon">
        <i-feather name="check-square" matTooltip="Approve"></i-feather>
      </div>
      <div *ngIf="data?.selectedStatusName == 'Rejected'" class="delete-icon">
        <i-feather name="x-square" matTooltip="Reject"></i-feather>
      </div>
    </div>
  <p > {{data?.selectedStatusName == 'Approved' ? 'Are you sure, you want to Approve'+ ' this ' : 'Are you sure, you want to Reject'+ ' this '}}{{data?.moduleName=='Policies' ? 'Policy' :  data?.moduleName}}?</p>
  </div>

  <div class="my-3 text-center policy-bn">
    <button mat-button class="btn modal-submit mr-3" (click)="update()">Yes</button>
    <button mat-button class="btn modal-cancel" (click)="onNoClick()">No</button>
</div>