<div class="content-box p-4">
  <form [formGroup]="roleForm" class="modal-form">
    <div class="head-box d-flex justify-content-between">
      <div class="d-flex">
        <mat-icon (click)="cancel()" matTooltip="Back">keyboard_arrow_left</mat-icon>
        <h3 class="back_arrow_left">Create Roles And Permission</h3>
      </div>
    </div>

    <mat-card class="my-3">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Role Name<span class="text-danger">*</span></mat-label>
            <input matInput formControlName="roleName" minLength="4" maxLength="60" (keypress)="onkeypress($event)" autocomplete="off">
          </mat-form-field>
          <mat-error *ngIf="roleForm.controls['roleName'].touched && roleForm.controls['roleName']?.errors?.required">Role Name is Required.
          </mat-error>
        </div>

        <div class="col-md-4">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Role Description<span class="text-danger">*</span></mat-label>
            <textarea matInput formControlName="roleDescription" (keyup)="onKeyuptextarea($event)" maxlength="500" autocomplete="off"></textarea>
          </mat-form-field>
          <mat-error *ngIf="roleForm.controls['roleDescription'].touched && roleForm.controls['roleDescription']?.errors?.required">Role Description is Required.
          </mat-error>
        </div>

      </div>
    </mat-card>

    <div class="d-flex justify-content-center my-5 form-btn" *ngIf="!showPermission">
      <button mat-raised-button class="modal-submit" (click)="createRole()">Submit</button>
      <button mat-raised-button class="modal-cancel" (click)="cancel()">Cancel</button>
    </div>

  </form> 

  <div *ngIf="showPermission">
    <b>Note:</b>
    <div class="row">
      <div class="col-6">
        <p><b>Create</b> - Giving access to create, enables users to create an record in a specific module</p>
        <p><b>Read</b> - Giving access to read, enables users to read records in a specific module</p>
      </div>
      <div class="col-6">
        <p><b>Update</b> - Giving access to update, enables users to update an record in a specific module</p>
        <p><b>Delete</b> - Giving access to delete, enables users to delete records in a specific module</p>
      </div>
      <div class="col-6">
        <p><b>--</b> - User does not have permission</p>
      </div>
    </div>
    <div class="example-container mat-elevation-z8">
      <mat-table class="impacs-table" [dataSource]="dataSource">
        <ng-container *ngFor="let column of displayedColumns">
          <ng-container [matColumnDef]="column" *ngIf="column == 'displayName'">
            <mat-header-cell *matHeaderCellDef class="text-capitalize">{{column}}</mat-header-cell>
            <ng-container>
              <mat-cell *matCellDef="let row"> {{row[column]}} </mat-cell>
            </ng-container>
          </ng-container>

          <ng-container [matColumnDef]="column" *ngIf="column != 'displayName'">
            <mat-header-cell *matHeaderCellDef class="text-capitalize">{{column}}</mat-header-cell>
            <ng-container>
              <mat-cell *matCellDef="let row">
                <section class="example-section" *ngIf="row?.menuAction?.[column] !='--'">
                  <mat-checkbox class="example-margin" [checked]="row?.menuAction?.[column]"
                    (change)="onChangePermission(row,$event,column)">
                  </mat-checkbox>
                </section>
                <div *ngIf="row?.menuAction?.[column] =='--'"> --</div>
              </mat-cell>
            </ng-container>
          </ng-container>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <div class="table-content-wrapper">
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </div>
      </mat-table>
    </div>

    <div class="d-flex justify-content-center my-5 form-btn">
      <button mat-raised-button class="modal-submit" (click)="createPermission()">Submit</button>
      <button mat-raised-button class="modal-cancel" (click)="cancel()">Cancel</button>
    </div>

  </div>
</div>