.header-color {
    background-color: #007ACC;
    padding: 1.3rem 1rem;
}
.dialog-title{
    margin-bottom: 0;
    line-height: 1.5;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
}
.close-icon {
    top:5px;
}
.mat-select{
    position: relative;
    top: 10px;
}