<div class="header-color pl-4">
  <h5 class="dialog-title">Filter</h5>
  <button mat-icon-button class="close-button" (click)="onNoClick()">
    <mat-icon class="close-icon" matTooltip="Close" >close</mat-icon>
  </button>
</div>
<form [formGroup]="FilterForm" class="px-3 pl-4">
  <div class="popform" *ngFor="let attribute of FilterDisplayesColumns">
    <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.DROP_DOWN">
      <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
      <mat-select [formControlName]="attribute.entityTypeAttributeName">
        <ng-container *ngFor="let dropdown of dropDownResponse">
          <mat-option *ngIf="attribute.entityTypeAttributeId == dropdown?.entityTypeAttributeId"
            [value]="dropdown?.entityId">
            {{dropdown?.componentValue}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.DATE_TIME">
      <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
      <input matInput [ngxMatDatetimePicker]="startPicker"
        [formControlName]="attribute.entityTypeAttributeName">
      <mat-datepicker-toggle matSuffix [for]="$any(startPicker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #startPicker></ngx-mat-datetime-picker>
    </mat-form-field>
  </div>
  <div class="my-3 text-center">
    <button mat-button class="btn modal-submit mr-3" (click)="createFilter()">Filter</button>
    <button mat-button class="btn modal-cancel" (click)="onNoClick()">Cancel</button>
  </div>
</form>
