<div class="content-box py-4" id="impacs-tab">

  <div class="head-box d-flex justify-content-between mx-4 mb-2">
    <div class="d-flex">
      <h3>Skills</h3>
    </div>

    <div class="d-flex">
      <mat-form-field appearance="fill" >
        <mat-label>Member State</mat-label>
        <mat-select [(ngModel)]="selectedMemeberstateId" (selectionChange)="onChangeMemberState($event.value,memberstates)">
            <mat-option *ngFor="let state of memberstates" [value]="state.EntityId">
             {{state?.['Member State']}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
  </div>

  <app-table [observableData]="dataSource" [customTableColumnSize]="customTableColumnSize"
     [displayedColumns]="displayedColumns" (onSorted)="onSorted($event)"
    (onSearched)="onSearched($event)" (onPageChanged)="onPageChanged($event)" [searchKeyValue]="searchKey" [menuName]="menuName"></app-table>

</div>