<mat-tab-group animationDuration="0ms"  [selectedIndex]="selectedIndex" (selectedTabChange)="onTabClicked($event)" >
  <mat-tab *ngFor="let labels of displayedLables" [label]="labels.name">
  </mat-tab>

</mat-tab-group>
