::ng-deep .mat-tab-label {
    min-width: 100px !important;
    margin-right: 3rem;
    padding: 0 !important;
}
::ng-deep .mat-tab-label .mat-tab-label-content{
    font-size: 1.1rem;
    font-weight: 500;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: #eacc03 !important;
}
::ng-deep .mat-tab-header{
    padding: 0 1.5rem;
    margin: 1rem 0;
}
