<div id="impacs-tab">
  <div class="impacs-tab-right d-flex">
    <div class="d-flex" *ngIf="selectedIndex!=2">
      <button class="new_case" mat-raised-button (click)="exportFile(labelNames[this.selectedIndex]?.name,labelNames[this.selectedIndex]?.value)"><i-feather name="download" matTooltip="Download"></i-feather>Download</button>
      <mat-icon class="btn-icon" (click)="openDeleteDialog()">
        <i-feather name="trash-2" matTooltip="Delete"></i-feather>
      </mat-icon>
      <button class="new_case" mat-raised-button (click)="onCreateEditClicked()">
        <i-feather name="plus" matTooltip="New {{labelNames[this.selectedIndex]?.name}}"></i-feather>New {{labelNames[this.selectedIndex]?.name}}
      </button>
    </div> 
  </div>

  <app-tab [displayedLables]="labelNames" [selectedIndex]="selectedIndex" (onSelectedTab)="onSelectedTab($event.index)">
  </app-tab>

  <app-table *ngIf="selectedIndex!=2" [iskey]="iskey" [entityTypeAttribute]="entityTypeAttribute"
    [RadioDisplayedAttributesID]="RadioDisplayedAttributesID" [customTableColumnSize]="customTableColumnSize"
    [observableData]="dataSource" [displayedColumns]="displayedColumns"
    (onCreateEditClicked)="onCreateEditClicked($event)" (onRowCheck)="onSelected($event)" (onSorted)="onSorted($event)"
    (onSearched)="onSearched($event)" (onPageChanged)="onPageChanged($event)" [searchKeyValue]="searchKey"
    [selectedIndex]="selectedIndex" [entityTypeId]="entityTypeID" [menuName]="this.labelNames[this.selectedIndex].name"  [displayedColumnswidth]="displayedColumnswidth">
  </app-table>

</div>