<div class="content-box p-4" id=impacs-tab>

    <div *ngIf="rssFeedsDetail?.length > 0">
        <div *ngFor="let rssFeeds of rssFeedsDetail">
            <div class="head-box d-flex justify-content-between">
                <div class="d-flex">
                    <mat-icon (click)="cancel()" matTooltip="Back">keyboard_arrow_left</mat-icon>
                    <h4 class="back_arrow_left">{{rssFeeds?.Title ? rssFeeds?.Title : '--'}}</h4>
                </div>
                <span>Type: {{rssFeeds?.Type ? rssFeeds?.Type : '--'}}</span>
            </div>
            <mat-card class="mt-3">
                <div class="row">
                    <div class="col-md-8 media-text scrollbar">
                        <div [innerHTML]="addMedia">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="type-tags">
                            <h4>Tags</h4>
                            <div class="d-flex flex-wrap">
                              <button>{{rssFeeds?.Tags ? rssFeeds?.Tags : '--'}}</button>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                       <p>Created By: {{rssFeeds?.['Created By'] ? rssFeeds?.['Created By'] : '--'}}</p>
                       <p>Created On: {{rssFeeds?.['Created On'] | date:'yyyy-MM-dd h:mm a'}}</p>
                  </div>
                  <div class="col-md-4">
                      <p>Member State: {{rssFeeds?.['Member State'] ? rssFeeds?.['Member State'] : '--'}}</p>
                  </div>
                </div>
            </mat-card>
      </div>
    </div>

    <div class="text-center my-5 nodata_display_blog" *ngIf="rssFeedsDetail?.length == 0">
        No Data Found
    </div>
</div>
