.head-box h4{
  font-weight: 600;
}
.type-tags button{
  background: #cccccc73;
  color: #707070;
  padding: 0.2rem 0.7rem;
  border-radius: 50px;
  font-weight: 500;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border: transparent;
}
.type-tags button:hover,.type-tags button.active{
  background: #007ACC;
  color: #fff;
}
.type-tags mat-divider{
  position: relative;
}
.col-md-8.media-text.scrollbar{
  height: 350px;
}
