<div id="side-menu" class="page-wrapper default-theme sidebar-bg toggled pinned">
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
          <div class=" sidebar-item sidebar-menu">
              <ul>
                <li class="sidebar-dropdown dropdown_item" *ngFor="let menu of sidebarMenuList"  routerLinkActive="active-menu"  id="dropdownMenuOffset"  aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                        <a [routerLink]="menu?.['SideBar Url']">
                        <span  [innerHTML]="menu?.['SideBar Icon']"></span>
                        <p class="mt-2">{{menu?.['SideBar Name']}}</p>
                        </a>
<!-- /** SubMenu */      -->
                        <ul class="dropdown-menu_item custom-menu-item"  aria-labelledby="dropdownMenuOffset">
                            <li *ngFor="let submenu of sidebarSubmenu">
                            <a *ngIf="submenu?.EntityId == menu?.EntityId" class="dropdown-item" [routerLink]="submenu?.url">
                                {{submenu?.option}}
                            </a>
                            </li>
                        </ul>

 <!-- /** Case Management */      -->
                    <span  *ngIf="activeRouterURL == menuRoutingUrls?.createCase || activeRouterURL == menuRoutingUrls?.editCase || activeRouterURL == menuRoutingUrls?.taskTemplateCase || activeRouterURL == menuRoutingUrls?.viewCase || activeRouterURL == menuRoutingUrls?.infoCase || activeRouterURL == menuRoutingUrls?.publicIncidentView ">
                        <span *ngIf="menu?.['SideBar Name'] == 'Case Management'" [routerLink]="activeRouterURL" [routerLinkActive]="['menu_class']"  #menuRouter="routerLinkActive">
                    </span>
                    </span>
<!-- /** Policies & Legislation */      -->
                    <span  *ngIf="activeRouterURL == menuRoutingUrls?.createPolicy || activeRouterURL == menuRoutingUrls?.editPolicy || activeRouterURL == menuRoutingUrls?.viewPolicy">
                        <span *ngIf="menu?.['SideBar Name'] == 'Policies & Legislation'" [routerLink]="activeRouterURL" [routerLinkActive]="['menu_class']"  #menuRouter="routerLinkActive">
                    </span>
                    </span>
<!-- /** Research */      -->
                    <span  *ngIf="activeRouterURL == menuRoutingUrls?.createRSS || activeRouterURL == menuRoutingUrls?.searchRSS || activeRouterURL == menuRoutingUrls?.viewRSS || activeRouterURL == menuRoutingUrls?.createBlog || activeRouterURL == menuRoutingUrls?.editBlog">
                        <span *ngIf="menu?.['SideBar Name'] == 'Research'" [routerLink]="activeRouterURL" [routerLinkActive]="['menu_class']"  #menuRouter="routerLinkActive">
                    </span>
                    </span>

<!-- /** Skills */      -->
                    <span  *ngIf="activeRouterURL == menuRoutingUrls?.viewSkills">
                        <span *ngIf="menu?.['SideBar Name'] == 'Skills'" [routerLink]="activeRouterURL" [routerLinkActive]="['menu_class']"  #menuRouter="routerLinkActive">
                    </span>
                    </span>

<!-- /** Admin */      -->
                    <span  *ngIf="activeRouterURL == menuRoutingUrls?.createRole || activeRouterURL == menuRoutingUrls?.viewRole || activeRouterURL == menuRoutingUrls?.audit || activeRouterURL == menuRoutingUrls?.createAdmin || activeRouterURL == menuRoutingUrls?.editAdmin">
                        <span *ngIf="menu?.['SideBar Name'] == 'Admin'" [routerLink]="activeRouterURL" [routerLinkActive]="['menu_class']"  #menuRouter="routerLinkActive">
                    </span>
                    </span>

<!-- /** Configuration */      -->
                    <span  *ngIf="activeRouterURL == menuRoutingUrls?.createConfiguration || activeRouterURL == menuRoutingUrls?.editConfiguration">
                        <span *ngIf="menu?.['SideBar Name'] == 'Configuration'" [routerLink]="activeRouterURL" [routerLinkActive]="['menu_class']"  #menuRouter="routerLinkActive">
                    </span>
                    </span>

                </li>
              </ul>

            </div>
          <!-- sidebar-menu  -->
      </div>

  </nav>
    <!-- Main Page content -->
    <div class="page-content scrollbar">
        <div id="overlay" class="overlay"></div>
        <router-outlet></router-outlet>
    </div>
</div>
