/** Sidebar Component scss */
@-webkit-keyframes swing {
  0%, 30%, 50%, 70%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); } }

@keyframes swing {
  0%, 30%, 50%, 70%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); } }

@-webkit-keyframes sonar {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }

@keyframes sonar {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }

.sidebar-wrapper {
  height: 90vh;
  max-height: 100%;
  position: fixed;
  bottom: 0;
  z-index: 999;
  -webkit-transition: left .3s ease, width .3s ease;
  transition: left .3s ease, width .3s ease; 
}
.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}
.sidebar-wrapper a {
  -webkit-transition: color .3s ease;
  transition: color .3s ease; 
}
.sidebar-wrapper .sidebar-item {
  -webkit-transition: all .3s linear;
  transition: all .3s linear; 
}
.sidebar-wrapper .sidebar-content {
  height: calc(100% - 35px);
  overflow-y: initial;
  position: relative;
  scrollbar-width: none;
}
.sidebar-wrapper .sidebar-content.desktop {
  overflow-y: hidden; 
}
.sidebar-wrapper .badge {
  border-radius: 0; 
}
.sidebar-bg .sidebar-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}
.sidebar-bg .sidebar-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
} 
.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}
.sidebar-wrapper .sidebar-menu ul li a p{
  margin: 0;
  color: #fff;
  font-size: 0.8rem;
  line-height: 12px;
}
.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block; 
}
.sidebar-wrapper .sidebar-menu ul li a{
  display: block !important;
}
.sidebar-wrapper .sidebar-menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 1rem 0rem;
  text-align: center;
  width: 100%;
  cursor: pointer;
  word-break: break-word;
}
.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  -webkit-animation: swing ease-in-out .5s 1 alternate;
  animation: swing ease-in-out .5s 1 alternate; 
}
.sidebar-wrapper .sidebar-menu ul li a img {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 10px;
  background-color: transparent;
  padding: 4px;
}
.sidebar-wrapper .sidebar-menu ul li a .menu-text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  overflow: hidden;
  font-weight: 600;
  color: #0a1529;
 }
 .sidebar-dropdown{
  position: relative;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu {
  display: none; }
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0; }
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px; }
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
      .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
        content: "\f111";
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        font-style: normal;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 10px;
        font-size: 8px; }
      .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
      .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
        margin-left: auto; } 
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 15px; }


body {
  font-size: .9rem; }

/*----------------page-wrapper----------------*/

  .page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 2px;
    background-size: cover; }
  
  .page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    -webkit-transition: padding-left .3s ease;
    transition: padding-left .3s ease;
    overflow-x: hidden; }
    .page-wrapper .page-content .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 998;
      background: #F3FAFF;
      opacity: .5;
      display: none; }
  .page-wrapper.toggled .sidebar-wrapper {
    left: 0px; }
  @media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
      padding-left: 280px; } }
  // @media screen and (max-width: 768px) {
  //   .page-wrapper.toggled .page-content .overlay {
  //     display: block; } }
  @media screen and (min-width: 768px) {
    .page-wrapper.toggled.pinned .page-content {
      padding-left: 75px; } }
  .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper {
    width: 75px; }
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
      padding: 10px; }
      .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-pic {
        margin: 0 auto;
        width: 50px;
        float: none; }
        .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-pic img {
          margin: auto; }
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-search input,
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-info,
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu .header-menu,
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu .sidebar-submenu,
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu ul > li > a > span,
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu ul > li > a::after,
   
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-search .input-group-text {
      height: 35px; }
   
  .page-wrapper .mCSB_scrollTools {
    width: 6px; }
  .page-wrapper .mCSB_inside > .mCSB_container {
    margin-right: 0px; }

/*----------sidebar background images --------------*/
.sidebar-bg .sidebar-wrapper {
  background-color: #007ACC;
 }

/*---- border-radius ------*/
.border-radius-on .sidebar-header .user-pic {
  border-radius: 12px; }

.border-radius-on .badge {
  border-radius: 8px; }

.border-radius-on .sidebar-menu ul li i {
  border-radius: 4px; }

.border-radius-on .sidebar-search input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.border-radius-on .sidebar-search .input-group-append .input-group-text {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

///Sub Menu
 .research-submenu.show{
  top: -70px !important;
    background: #003a91;
    left: 65px !important;
}
.dropdown-menu {
  min-width: 6rem;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
.dropdown-menu .dropdown-item{
  font-size: 0.9rem;
    text-align: left !important;
    margin: 0;
    font-weight: 300;
}
.dropdown-menu_item {
  background-color: #eacc03;
}
.navbar-inverse {
  background-image: none;
}
.dropdown-menu_item {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown_item:hover .dropdown-menu_item {
  display: block;
}

.dropdown_item-align{
  margin-left: 75px;
  margin-top: -60px;
  width: 83px;
}

.active-menu{
  background:#EACC03;
}
.active-menu a span{
  color: #fff !important;
}
.active-menu a i{
  color: #fff;
}
.custom-menu-item{
  margin-left: 75px !important; 
  margin-top: -60px !important; 
  width: 83px !important;
}


/* Customize sidemenu scrollbar */

/* total width */
.sidemenu-scrollbar::-webkit-scrollbar {
  background-color:transparent;
  width:5px
}
/* background of the scrollbar except button or resizer */
.sidemenu-scrollbar::-webkit-scrollbar-track {
  background-color:transparent;
}
.sidemenu-scrollbar::-webkit-scrollbar-track:hover {
  background-color:#f4f4f4
}
/* scrollbar itself */
.sidemenu-scrollbar::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:5px;
  border:2px solid transparent;
}
.sidemenu-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color:#a0a0a5;
  border:2px solid #f4f4f4
}
/* set button(top and bottom of the scrollbar) */
.sidemenu-scrollbar::-webkit-scrollbar-button {display:none}
/* div box */
.sidemenu-scrollbar {
  height: 90vh;
  overflow-y: scroll;
  background: transparent;
  overflow-x: hidden;
}