<div id="weblogin">

    <nav class="logo-cursor">
        <div class="logo logo-cursor" (click)="logoRedirect()">
            <img src="../../../../../assets/images/IMPACS_trans.png" alt="impacs">
        </div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i class="ri-menu-2-line"></i>
        </label>
        <ul> 
        <li><a *ngIf="showLoginBtn" [routerLink]="['/login']">Login</a></li>
        <li><a [ngClass]="{'active': currentPageUrl == '/home'}" [routerLink]="['/home']">Home</a></li>
        <li><a [ngClass]="{'active': currentPageUrl == '/about'}" [routerLink]="['/about']">About</a></li>
        <li><a [ngClass]="{'active': currentPageUrl == '/contact'}" [routerLink]="['/contact']">Contact</a></li>
        <li><a [ngClass]="{'active': currentPageUrl == '/get-involved'}" [routerLink]="['/get-involved']">Get Involved</a></li>
        <li><a [ngClass]="{'active': currentPageUrl == '/legal'}" [routerLink]="['/legal']">Legal</a></li>
        </ul>
    </nav>

    <app-login-menupage></app-login-menupage>

    <app-login-footer></app-login-footer>
</div>
