<div id="weblogin">
  <app-login-header></app-login-header>

    <div class="body-impacs-content">
        <div class="login-box">
            <div class="row">
                <div class="col-md-6 p-0">
                    <div class="left-side">
                        <img src="../../../../../assets/images/loginbanner.png" alt="afs">
                        <h3>Welcome to IMPACS</h3>
                    </div>
                </div>
                <div class="col-md-6 p-0 second-col">
                    <div class="right-side h-100">
                        <mat-card class="example-card h-100">
                            <mat-card-header class="heading d-block">

                              <mat-card-title class="my-4">Forgot Password</mat-card-title>
                            </mat-card-header>
                                  <form [formGroup]="emailForm"  class="example-form">
                                    <mat-form-field appearance="fill">
                                      <mat-label>Email</mat-label>
                                      <input matInput formControlName="emailAddress" autocomplete="off">
                                    </mat-form-field>
                                      <mat-error class="pb-2" *ngIf="emailForm.controls['emailAddress'].touched && emailForm.controls['emailAddress']?.errors?.required">  Email is Required.
                                      </mat-error>

                                     
                                      <div class="button-spinners-container">
                                        <div class="spinners-container" *ngIf="isEmailLoading">
                                                Please wait...
                                        <mat-spinner diameter="24"></mat-spinner>
                                        </div>
                                        <button mat-raised-button class="btn-login mt-4" *ngIf="showEmailSubmitBtn" (click)="resendOTP()">Submit</button>
                                    </div>
                                  </form>

                                  <div *ngIf="showOTPVerification">
                                    <form [formGroup]="otpVerificationForm"  class="example-form">
                                      <mat-form-field appearance="fill">
                                        <mat-label>OTP</mat-label>
                                        <input matInput  formControlName="otp" autocomplete="off">
                                      </mat-form-field>
                                      <mat-error class="pb-2" *ngIf="otpVerificationForm.controls['otp'].touched && otpVerificationForm.controls['otp']?.errors?.required">  OTP is Required.
                                      </mat-error>
                                      
                                        <div class="button-spinners-container">
                                          <div class="spinners-container" *ngIf="isOTPLoading">
                                                  Please wait...
                                          <mat-spinner diameter="24"></mat-spinner>
                                          </div>
                                          <button mat-raised-button class="btn-login mt-4" (click)="confirmOTP()">Confirm</button>
                                      </div>

                                    </form>
                                </div>

                                  <div *ngIf="showResetPassword">
                                    <form [formGroup]="forgotPasswordForm"  class="example-form mb-3">

                                      <mat-form-field appearance="fill">
                                          <mat-label>New Password</mat-label>
                                          <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="password" autocomplete="off">
                                          <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
                                            <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                                          </button>
                                      </mat-form-field>
                                        <mat-error class="pb-2" *ngIf="forgotPasswordForm.controls['password'].touched  && forgotPasswordForm.controls['password']?.errors?.required">  New password is Required.
                                        </mat-error>
                                      <mat-form-field appearance="fill">
                                          <mat-label>Confirm Password</mat-label>
                                          <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword" autocomplete="off">
                                          <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                                            <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                                          </button>
                                      </mat-form-field>
                                        <mat-error class="pb-2" *ngIf="forgotPasswordForm.controls['confirmPassword'].touched && forgotPasswordForm.controls['confirmPassword']?.errors?.required">  Confirm Password is Required.
                                        </mat-error>
                                        <mat-error class="pb-2" *ngIf="forgotPasswordForm.controls['confirmPassword']?.errors?.confirmedValidator">New Password and Confirm Password must be match.</mat-error>

                                  
                                    <div class="button-spinners-container">
                                      <div class="spinners-container" *ngIf="isResetLoading">
                                              Please wait...
                                      <mat-spinner diameter="24"></mat-spinner>
                                      </div>
                                      <button mat-raised-button class="btn-login mt-4" (click)="forgotPassword()"> <a >Reset Password</a> </button>
                                    </div>

                                    </form>
                                  </div>

                            <button mat-button class="my-3"> <a [routerLink]="['/login']">Back to Login</a> </button>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-login-footer></app-login-footer>

</div>



