
  <div class="modal-head">
    <h5>Help</h5>
  </div>
  <button mat-icon-button class="close-button" (click)="onNoClick()">
    <mat-icon class="close-icon" color="warn" matTooltip="Close">close</mat-icon>
  </button>
  <div>
    <div mat-dialog-content class="p-3 del-body">
          <div class="pb-3">
            <div class="row"> 
              <div class="col-md-4"><b> Question</b></div>
              <div class="col-md-8"><b>Description</b> </div>
            </div>
          </div>
          <div class="help-body">
            <div class="row align-items-center"> 
              <div class="col-md-4">How to Login?</div>
              <div class="col-md-8">Login with valid crendetials with provided roles and permission.</div>
            </div>
          </div>
          <div class="help-body" *ngFor="let help of helpDetails">
            <div class="row align-items-center" >
              <div class="col-md-4">{{help?.question}}</div>
              <div class="col-md-8"> {{help?.answer}}, <a class="activeLink" (click)="openLink(help?.vedioLink)"> For more details please refer to this video link</a></div>
          </div>
          </div>
      
         
    </div>
  </div>
  
