.activeLink {
    color: #007ACC;
    text-decoration: underline !important;
    cursor: pointer;
}  
.help-body{
    border-width: 0;
    border-top-width: 1px;
    border-style: solid;
    align-items: center;
    box-sizing: border-box;
    border-top-color: rgba(0,0,0,.12);
    padding: 5px 0;
}
.mat-dialog-content {
    display: block;
    margin: 0 35px;
    padding: 1rem !important;
    max-height: none;
    overflow: auto;
    overflow-x: hidden;
}