<div *ngIf="!formResponse?.escalate">
    <div class="modal-head">
      <h5>{{formResponse?.headers}}</h5>
    </div>
    <button mat-icon-button class="close-button" (click)="onNoClick()">
      <mat-icon class="close-icon" color="warn" matTooltip="Close">close</mat-icon>
    </button>
    <form [formGroup]="modalForm" class="px-3">
      <div class="popform" *ngFor="let attribute of formResponse.result">
        <mat-form-field class="example-full-width mb-3" appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_BOX">
          <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
          <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
          <input matInput [formControlName]="attribute.entityTypeAttributeName" minLength="4" maxLength="60" (keypress)="onkeypress($event)" autocomplete="off"/>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_AREA">
          <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
          <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
          <textarea matInput [formControlName]="attribute.entityTypeAttributeName" maxlength="500"
            (keyup)="onKeyuptextarea($event)" autocomplete="off"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_FIELD">
          <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
          <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
          <input matInput [formControlName]="attribute.entityTypeAttributeName" minLength="4" maxLength="60" (keypress)="onkeypressTextField($event)" autocomplete="off"/>
        </mat-form-field>
        <div
          *ngIf="modalForm?.get(attribute?.entityTypeAttributeName)?.touched && modalForm?.get(attribute?.entityTypeAttributeName)?.errors?.required">
          <mat-error>{{attribute?.entityTypeAttributeName}} is required</mat-error>
        </div>
      </div>
      <div class="my-3 text-center">
        <button mat-button class="btn modal-submit mr-3" (click)="createUpdate()">Submit</button>
        <button mat-button class="btn modal-cancel" (click)="onNoClick()">Cancel</button>
      </div>
    </form>
</div>

<div *ngIf="formResponse?.escalate">
  <div class="modal-head">
    <h5>{{'Escalate '+formResponse?.moduleName}}
    </h5>
  </div>
  <button mat-icon-button class="close-button" (click)="onNoClick()">
    <mat-icon class="close-icon" color="warn" matTooltip="Close">close</mat-icon>
  </button>
  <div mat-dialog-content class="text-center p-3 del-body" >
       <p> {{'Are you sure, you want to Escalate this ' + formResponse?.moduleName}}?</p>
  </div>
  <div mat-dialog-actions >
    <button mat-button class="btn modal-submit px-5" (click)="escalate()">Yes</button>
    <button mat-button class="btn modal-cancel px-5" (click)="onNoClick()">No</button>
  </div>
</div>