/* You can add global styles to this file, and also import other style files */
html, body{
   margin: 0;
   padding: 0;
   background: #F3FAFF;
   scrollbar-width: none;
   font-family: Roboto;
   font-size: 14px;
 }
 img{
    width: 25%;
 }
 a{
    text-decoration: none !important;
    word-break: break-all;
 }
 a:hover {
    color: #0056b3;
    text-decoration: none !important;
 }
 label{
    font-weight: 600;
 }
 .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: unset;
 }
 .mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
    background: #E8F3FB !important;
 }
 .mat-option.mat-active {
    background: #E8F3FB !important;
 }
 /* ========================================== Login ============================================ */
 #weblogin{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
 }
 #weblogin nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    box-shadow: 0px 0px 10px #ccc;
  }
  #weblogin nav .logo{
    color: #fff;
    width: 75px;
  }
  #weblogin nav .logo img{
      width: 100%;
  }
  #weblogin nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  #weblogin nav ul li{
    margin: 0 5px;
  }
  #weblogin nav ul li a{
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: Roboto;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  #weblogin nav ul li a.active,
  #weblogin nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  #weblogin nav .menu-btn i{
   //  color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  @media (max-width: 1000px){
    #weblogin  nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    #weblogin nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: " ";
      background: url('/assets/images/x.svg');
      display: block;
      width: 20px;
     height: 20px;
    }
    #weblogin nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #F3FAFF;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    #weblogin nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    #weblogin nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    #weblogin nav ul li a.active,
    #weblogin nav ul li a:hover{
      background: none;
      color: cyan;
    }
  }
  .body-impacs-content{
    position: absolute;
    top: 80px;
    top: 45px;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
    padding: 50px 70px;
    color: #1b1b1b;
    overflow: hidden;
  }
  .left-side{
    position: relative;
  }
  .left-side h3{
     position: absolute;
     bottom: 40px;
     left: 50px;
     color: #fff;
  }
  .left-side img{
      width: 100%;
  }
  .login-box .second-col{
      background: #fff;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  .right-side .mat-card{
      box-shadow: none;
      border-radius: 0;
     padding: 3rem 6rem;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
  }
  .right-side .mat-card-title{
      font-size: 2rem !important;
      font-weight: 600;
  }
  .btn-login{
    width: 100%;
    background: #eacc03 !important;
    font-weight: 600 !important;
  }
  .forgot-pwd a{
    font-weight: 600 !important;
  }
 span.fa.fa-fw.fa-eye.field-icon.toggle-password{
    color: #1877f2;
 }
 .form-control:focus {
    color: #000;
    background-color: #fff;
    border-color: #1F4384;
    outline: 0;
    box-shadow: unset;
    font-weight: bold;
 }
 .input-group-append img {
    width: 20px !important;
 }
 button:focus{
    outline: unset !important;
 }
 .right-side button .mat-button-wrapper{
    color: #003a91;
 }
 .right-side button{
    font-weight: 600;
 }
 /* ======================================== Dashboard ======================================= */
 .page-content{
   position: absolute;
   top: 10vh;
}
.dropdown-item{
   padding: .8rem 1.5rem;
   color: #fff;
   cursor: pointer;
}
 .priority-level{
    background: #FFA500;
     color: #fff;
     padding: 5px 10px;
     border-radius: 50px;
     font-size: 12px;
     text-align: center;
 }
 .priority-level.low{
    background: #3CC480;
 }
 .priority-level.high{
    background: #FF4141;
 }
 /* ====================================== Configuration ======================================= */
 .mat-icon i-feather{
    position: relative !important;
    height: auto !important;
    font-size: 12px;
 }
 .mat-form-field-underline {
    bottom: 0.04375em !important;
 }
 #impacs-tab .impacs-tab-right {
    padding: 1rem;
     position: absolute;
     right: 0;
     z-index: 10;
 }
 .btn-icon{
    border-radius: 10px;
     background: transparent;
     width: 35px;
     height: 35px;
     margin-left: 0.5rem;
     border: 1px solid #707070;
 }
 .mat-icon{
          width: 35px !important;
          height: 35px !important;
          text-align: center;
          cursor: pointer;
          display: flex !important;
     justify-content: center;
     align-items: center;
 }
 .mat-icon svg{
    width: 17px;
 }
 .impacs-tab-right .new_case{
    width: auto;
    align-items: center;
    background: #eacc03;
    border: transparent;
    margin-left: 0.5rem;
     height: 35px;
 }
 .impacs-tab-right .new_case svg{
    width: 1.5rem;
    padding-right: 3px;
    margin-top: -15px;
 }
 .impacs-table  thead tr th{
    background-color: #007ACC !important;
 }
  .mat-table{
    width: 100%;
    overflow: auto;
    height: 100%;
    border-radius: 10px;
  }
  .example-container{
    position: relative;
    height: 550px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .impacs-table .mat-header-row{
    background-color: #007ACC !important;
    border-top-left-radius: 10px;
     border-top-right-radius: 10px;
  }
  .mat-header-cell {
    color: #fff !important;
    font-size: 1rem !important;
  }
 .mat-tab-group{
    position: relative;
 }
 .modal-head{
    background: #007ACC;
    padding: 1rem 1rem;
 }
 .modal-head h5{
    color: #fff;
    margin: 0;
 }
 .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent !important;
 }
 .modal-cancel{
    color: #707070 !important;
     background: #ccc !important;
 }
 .modal-submit{
    background: #eacc03 !important;
    color: #003a91 !important;
 }
 .mat-form-field{
    width: 100%;
 }
 .mat-dialog-container{
   padding: 0 !important;
}
 textarea.mat-input-element {
    resize: none !important;
 }
 .del-body p{
    font-size: 1.2rem;
 }
 .col-input{
    background: transparent;
     border: transparent;
     border-bottom: 1px solid #fff;
     outline: none;
     color: #fff;
     width: 100%;
 }
 .input-table{
    color: #fff;
     display: grid;
     text-align: left;
     padding-right: 35px;
 }
 .col-input:hover{
    color: #fff;
 }

 .mat-calendar-body-selected {
    background-color: #eacc03 !important;
    color: #003a91 !important;
 }
 .close-button{
    float: right;
    top: -40px;
     right: 0px;
  }
  .close-icon {
   color: #fff !important;
   position: relative;
     bottom: 6px;
  }
  .mat-button-focus-overlay {
    background: transparent !important;
 }
 .mat-error {
    color: #f44336;
    font-size: 0.9rem;
 }
 .content-box{
    color: #333;
 }
 .head-box h3{
    font-weight: 600;
 }
 .head-box .mat-icon{
    font-size: 2rem;
    font-weight: 600;
    color: #003a91;
    cursor: pointer;
 }
 .head-box button{
    background: #eacc03;
    font-weight: 500;
 }
 .form-group .form-control{
     font-size:inherit;
     background-color: inherit;
 }
 .field{
     padding:5px;
     margin-bottom:10px;
     position: relative;
     box-shadow: 1px 1px 4px #ddd;
 }
 .toggle-Wrapper{
     padding: 15px;
     background: #d6d6d629;
 }
 /* ====================================== Admin ======================================= */
 #admin mat-tab-group{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 6px #ccc;
 }
  .form-btn button{
     margin: 0 0.5rem;
     padding: 0 30px;
     border-radius: 10px;
  }
  .modal-submit .mat-button-wrapper{
      color: #003a91;
  }
  .drop-delete{
    color: #FF4141;
    border: 1px solid #FF4141;
    border-radius: 50px;
    padding: 5px;
    font-size: 1.2rem;
 }
 .drop-add{
     color: #007ACC;
     font-size: 2.3rem;
 }
 .date-pick{
    background: #eacc03;
    border-radius: 10px;
    padding: 3px 5px;
    height: 30px;
    width: 30px;
    text-align: center;
 }
 .date-pick i{
    font-size: 1.3rem;
 }
 /* ====================================== Case Management ======================================= */
 .nodata_display{
    background: #fff;
     position: absolute;
     top: 60px;
     left: 0;
     right: 0;
 }
 /* Snack bar */
.success {
   background-color: #01bd88 !important;
 }
 .warning {
   background-color: #ecc106 !important;
 }
 .error {
   background-color: #f15050 !important;
 }
 .info {
   background-color: #00b7df !important;
 }
  .text-danger {
    font-size: 0.875rem;
  }
   // Common input
   .mat-input-element{
     position: relative;
     top: 10px;
   }
 .split {
   height: 100%;
   width: 50%;
   z-index: 1;
   overflow-x: hidden;
   padding-top: 20px;
 }
 
 .left-split-version {
   left: 0;
   background-color: white;
 }
 .right-split-version {
   right: 0;
   background-color: white;
 }
 .right-span-bg-color{
   background-color: #b1d7f3;
 }
 .left-span-bg-color{
   background-color: #b1d7f3;
 }
 .centered{
   border: 1px dashed #707070;
   padding: 1rem;
   border-radius: 10px;
   height: 500px;
   overflow-y: scroll;
   margin-right: 20px;
 }
 textarea.mat-input-element {
    padding: 2px 0 !important;
    margin: -10px 0 !important;
 }
 .back_arrow_left{
    margin-top: 4px;
 }
 .mat-standard-chip .mat-chip-remove.mat-icon, .mat-standard-chip .mat-chip-remove .mat-icon{
    height: 18px !important;
 }
 .logo-cursor{
   cursor: pointer;
}

textarea.mat-input-element{
   height: auto;
}
.spinners-container {
   position: absolute;
   top: 15px;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #ccc;
 }
 
 .button-spinners-container {
   position: relative;
 }
 .map-text{
   overflow-wrap: break-word;  
   cursor: pointer;
   color: #166DFF !important;
 }
.header-color h5{
   color: white; 
   letter-spacing: 1px;
}
.policy-pop label{
   margin-top: 15px;
}
.policy-pop .popform{
   margin-top: 10px;
}
.policy-pop mat-radio-button{
   margin-left: 20px
}
.policy-bn{
   padding-top: 30px;
}
.eye-icon{
   position: relative;
   top: 15px;
}
.note-icon-caret{
   display: none;
}
.sidebar-menu ul li:hover{
   background: #216797 !important;
}
.sidebar-menu ul li a:hover{
   background: #216797 !important;
   color: #fff !important;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
.scrollbar::-webkit-scrollbar {
   background-color:transparent;
   width:10px
}
/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
   background-color:transparent;
}
.scrollbar::-webkit-scrollbar-track:hover {
   background-color:#f4f4f4
}
/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
   background-color:#babac0;
   border-radius:10px;
   border:4px solid transparent;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
   background-color:#a0a0a5;
   border:4px solid #f4f4f4
}
/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {display:none}
/* div box */
.scrollbar {
   height: 90vh;
   overflow-y: scroll;
   background: transparent;
   overflow-x: hidden;
}
.overflow{min-height: 100vh}
body{
   overflow: hidden;
}
.download-icons{
   margin-top: -18px;
   width: 17px!important;

}
.uploaded-file-name-public-incident{
   background: #007ACC;
   color: #ffff;
   padding: 0.2rem 1rem;
   border-radius: 50px;
   margin-right: 1rem;
 } 
@media (max-width: 834px) {
    .mat-tab-label{
      margin-right: 1rem !important;
   }
   
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1180px){

   // ======= Login ======
   .left-side{
      height: 100%;
   }
   .left-side img {
      width: 100%;
      height: 100%;
  }
  .right-side .mat-card{
   padding: 3rem 3rem;
  }
  .body-impacs-content{
    display: flex;
    align-items: center;
    justify-content: center;
  }
   // ======= Dashboard ======   
   .impacs-head{
      height: 5vh !important; 
   }
   .sidebar-wrapper{
      height: 95vh !important;
   }
   .mat-tab-label{
      margin-right: 1rem !important;
   }
   .page-content {
      top: 70px;
   }
   #impacs-tab .impacs-tab-right {
   top: 60px;
   }
   .case-dashboard{
      margin-top: 4rem;
   }
   .dashboard-data h6 {
      height: 40px;
   }
   mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
      padding-left: 10px !important;
   }
   mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
      padding-right: 0px !important;
   }
   .columnrow {
      margin-right: 0 !important;
   }
   .no-data{
      margin:0 !important;
   }
   .no-data-chart{
      height: 250px;
      display: flex;
      align-items: center;
  }
  .impacs-tab-right .example-section .mat-checkbox-layout{
   margin: 0;
  }
  .create-case-form .col-md-3{
   -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .table-casetype{
   margin-top:4rem;
  }
  mat-header-row, mat-row {
   width: 200%;
 }
  //======= Policies and Legislation ======
  .uploaded-file-name span   {
   text-overflow: ellipsis;
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
  }
 // ======= Research =======
 .research-search form.example button{
   width: 20% !important;
   display: flex;
 }
 .research form i-feather {
   width: 20px;
   margin-right: 0.25rem !important;
}
.apptab {
   margin-top: 0 !important;
}
.cus_text_overflow{
   text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 190px;
}
// ======== skillset =======
.skilset-table .col-md-12{
   overflow:auto;
}
}