::ng-deep .mat-paginator-outer-container .mat-form-field-wrapper{
    background: transparent;
    padding-bottom: 0.25em !important;
}
::ng-deep .mat-paginator-container{
    align-items: unset !important;
}
::ng-deep .mat-paginator{
    background: #F3FAFF !important;
}
::ng-deep .mat-paginator-page-size{
    align-items: center !important;
}
::ng-deep .mat-paginator-page-size-select{
    bottom: 5px;
}