.impacs-head{
  height: 10vh;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header-impacs{
  background: #fff;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px #ccc;
}
.header-right a img{
  width: 15px;
}
.header-right .profile-pic{
  width: 40px;
  height: 40px;
  margin-left: 15px;
  border-radius: 50px;
  position: relative;
  top: 5px;
  cursor: pointer;
}
.dropdown-toggle::after{
  display: none;
}
.dropdown-menu{
  min-width: 12rem;
}
.dropdown-menu.show{
  top: -10px !important;
   background: #003a91;
   left: -15px !important;
}
.dropdown-menu .edit_pro{
  border-bottom: 1px solid #ccc !important;
}
.dropdown-item{
  padding: .8rem 1.5rem;
  color: #fff;
  cursor: pointer;
}
.dropdown-item i-feather svg{
  stroke: #fff;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #fff !important;
  text-decoration: none;
  background-color: transparent !important;
}
.profile{
  text-align: right;
}
.profile p{
  margin: 0;
  color: #707070;
  font-size: 0.8rem;
}
.profile h6{
  color: #707070;
  margin: 0;
}
.web-logo{
  position: relative;
  left: 35px;
  display: flex;
  align-items: center;
}
.web-logo img{
  width: 40px;
}
.header-menu{
  margin-left: 2rem;
  background: #f8f9fa2e;
  padding: 0px 6px;
  border-radius: 5px;
}
.header-menu i{
  color: #007ACC;
  font-size: 1.5rem;
}

.header-right{
  position: absolute;
  right: 1.5rem;
  display: flex;
  align-items: center;
}
.header-right .notify{
  width: 30px;
  height: 30px;
  margin-right: 30px;
  border-radius: 4px;
  background-color: #f8f9fa2e;
  align-items: center;
  display: flex;
  justify-content: center;

}
.header-right a i{
  color: #707070;
  font-size: 1.5rem;
  position: relative;
  cursor: pointer;
}
.header-right a i span{
 background: #FF4141;
 color: #fff;
 width: 15px;
 height: 15px;
 border-radius: 50px;
 text-align: center;
 font-size: 0.7rem;
 position: absolute;
 left: 12px;
}
.noti-box {
  position: absolute;
    width: 400px;
    right: 10rem;
    top: 4rem;
    background: #003a91;
    overflow-y: scroll;
    height: 80vh;
}
.noti-box .firstcell-link{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.help-icon i{
  font-size: 1.8rem;
    color: #707070;
    cursor: pointer;
    margin-right: 1rem;
} 
.dropdown-item i{ 
  color: #fff!important;
  padding: 10px;
  position: relative;
  top: 6px;
}
