<div class="impacs-head">
    <div class="header-impacs">
        <div class="web-logo logo-cursor" >
            <img src="../../../../../assets/images/IMPACS_trans.png" alt="afs" [routerLink]="['/case-management/case-mangement-list']">
            <app-page-bread-crumb></app-page-bread-crumb>

        </div>

        <div class="header-right">
            <div class="right-block">
                <div class="help-icon dropdown-toggle d-flex" id="dropdownMenuOffset-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20" >
                    <i class="ri-question-line" matTooltip="Help"></i>

                </div>
                <div class="dropdown-menu p-0" aria-labelledby="dropdownMenuOffset-1">
                    <a class="dropdown-item edit_pro" (click)="chat()">
                        <i class="ri-chat-1-line" matTooltip="Chat"></i>Chat
                    </a>
                    <a class="dropdown-item" (click)="help()">
                        <i class="ri-question-line" matTooltip="Help"></i> Help
                    </a>
                </div>
            </div>
            <a class="notify" (click)="notifyList()">
                <i class="ri-notification-3-line d-flex" matTooltip="Notification">
                    <span *ngIf="notification?.length > 0">{{notification?.length}}</span>
                </i>
            </a>

            <mat-card class="noti-box" *ngIf="showNotifyList">
              <div  class="firstcell-link mb-4" *ngFor="let notificationlist of notification" (click)="notificationRedirect(notificationlist)">{{notificationlist?.entityTypeName}} -- {{notificationlist?.message}}</div>
            </mat-card>

            <div class="right-block">
                <div class="dropdown-toggle d-flex" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                    <div class="profile">
                        <p>Welcome</p>
                        <h6>{{currentUser?.userName | titlecase}}</h6>
                        <p>{{currentUser?.roleName}}</p>
                    </div>
                    <img src="../../../../../assets/images/Users.png" class="profile-pic" alt="afs" matTooltip="Profile">
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                    <a class="dropdown-item edit_pro" [routerLink]="['/profile/my-profile']">
                        <i-feather class="mr-3" name="user" matTooltip="Profile"></i-feather>
                        My Profile
                    </a>
                    <a class="dropdown-item" (click)="logout()">
                        <i-feather class="mr-3" name="log-out" matTooltip="Log Out"></i-feather>
                        Log Out
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
