// mat-tooltip
::ng-deep .mat-tooltip {
  font-size: 15px;
  white-space: pre-wrap;
  color: rgb(237, 231, 231) !important;
  background-color: rgba(14, 12, 12, 0.9);
  border:1px solid gray;
  max-width: unset !important;
 }
::ng-deep .mat-column-select{
  width: 5% !important;
  flex: unset;
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: rgb(235, 240, 241);
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgb(16, 167, 10);
}
::ng-deep .mat-checkbox-frame {
  background-color: #fff !important;
  transition: border-color 90ms cubic-bezier(0, 0, 0.2, 0.1);
  border-width: 1px !important;
  border-style: solid;
  box-shadow: 0px 0px 2px #ccc !important;
  border-color: #ccc !important;
}
.thead-search{
  color: #003a91;
  background: #eacc03;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.icon-group{
  display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 0 !important;
} 
.icon-group button{
  height: 35px;
}
.firstcell-link{
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #007ACC;
  color: #007ACC;
}
/* in global css document: */
/* this makes it so that sort header arrow is always shown: */
::ng-deep .mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
  opacity: 1 !important;
  color: transparent;
}
/* Hide the default sort arrow display: */
::ng-deep .mat-sort-header-stem {
  display: none  !important;
}
::ng-deep .mat-sort-header-pointer-left, .mat-sort-header-pointer-right {
  display: none  !important;
  width: auto !important;
}
::ng-deep .mat-sort-header-pointer-middle{
  width: 0px !important;
  height: 0px !important;
}
/* show two carets on top of each other when not sorted takes place: */
::ng-deep .mat-sort-header-arrow {
       .mat-sort-header-indicator {
         &::before {
           content: "<>"; 
           position: absolute;
           opacity: 1 !important;
           color:  #ffffff8f !important;
           font-size: 1.2em;
           transform: translate(-10%, 20%)   rotate(90deg) !important;
         }
       }
}
.columnrow{
  margin-right: 30px
}
.columrow{
  padding-left: 5px;
}
.skills{
  padding-left: 10px;
  margin-left: 20px;
}
.search-line{
  flex: 0 0 15% !important;
}
.policy-action{
  flex: 0 0 3% !important;
}
.configuration-table{
  margin-right: 5px
}
//scroll bar
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background:  transparent;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 1ex;
  box-shadow: 0px 1px 2px #ccc;
}
::-webkit-scrollbar-corner {
  background: #ccc;
}
.public-Incident-table{
  width: 12.499999995%;
  flex: 0 0 12.499%;
  max-width: 12.499%;
  padding-left: 15px;
}
.uploaded-file-name span{
  background: #007ACC;
  color: #ffff;
  padding: 0.2rem 1rem;
  border-radius: 50px;
  margin-right: 1rem;
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.add-cursor{
  cursor: pointer;
}
.updates-icons{
  width: 125%;
}
