<div class="example-container mat-elevation-z8 table-casetype mx-4 mb-4" >
  <mat-table class="impacs-table"  [dataSource]="dataSource" matSort  (matSortChange)= "onSortColumn($event)" matSortActive="createdOn" matSortDirection="desc">
 
    <form [formGroup]="tableFormGroup">
    <ng-container  *ngFor="let column of displayedColumns; let i= index"  >
      <ng-container [matColumnDef]="column" *ngIf="column == 'select'">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox   color="primary"
            (change)="$event ? masterToggle() : null; onRowChecked()"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container>
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null; onRowChecked()" [checked]="selection.isSelected(row)"
              >
            </mat-checkbox>
          </ng-container>
        </mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="column"  *ngIf="column != 'select' && column != 'Action'  && column != 'Skills'  && column != 'Description' && column != 'search' && column != 'Status' && column != 'Entity Name'  && column != 'Incident ID' && column != 'Case ID' && column != 'Event ID' && column != 'Priority' && column != 'Username' && column != 'Policy ID'  && column != 'Assignee' && column != 'Email' && column != 'Collaborator User' && column != 'Created On' && column != 'Modified On' && column != 'Email Address' && column != 'Submission Id' && column != 'Upload Files here' && column != 'Policy Title' && column !='Role Name' && column !='Entity Type'">
        <mat-header-cell *matHeaderCellDef  class="col-md-{{customTableColumnSize}}"  [ngClass]="selectedTabName == 'Public Incident' ? 'public-Incident-table'  : ''">
          <div class="input-table">
            <div mat-sort-header > {{column}}</div>
          </div>
        </mat-header-cell>
        <mat-cell #tooltip="matTooltip" class="col-md-{{customTableColumnSize}}" matTooltipPosition="right" 
        matTooltip="{{row[column]}}" *matCellDef="let row" [ngClass]="menuName == 'Configuration' ? 'configuration-table' : selectedTabName == 'Public Incident' ? 'public-Incident-table' : ''" > {{row[column] | titlecase}}</mat-cell>
      </ng-container> 


      <ng-container [matColumnDef]="column"  *ngIf="column == 'Incident ID' || column == 'Case ID' || column == 'Event ID'" >
        <mat-header-cell *matHeaderCellDef  >
          <div class="input-table">
            <div mat-sort-header >{{column | titlecase}}</div>
          </div>
        </mat-header-cell>
          <ng-container>
              <mat-cell class="firstcell-link" #tooltip="matTooltip" matTooltip="{{row[column]}}" matTooltipPosition="right" *matCellDef="let row" (click)="caseManagementView(row)"> {{row[column] | titlecase }}</mat-cell>
          </ng-container>
      </ng-container>


      <ng-container [matColumnDef]="column"  *ngIf="column == 'Submission Id'" >
        <mat-header-cell *matHeaderCellDef  >
          <div class="input-table">
            <div mat-sort-header >{{column | titlecase}}</div>
          </div>
        </mat-header-cell>
          <ng-container>
              <mat-cell class="firstcell-link" #tooltip="matTooltip" matTooltip="{{row[column]}}" matTooltipPosition="right" *matCellDef="let row" (click)="publicIncidentView(row)"> {{row[column] | titlecase }}</mat-cell>
          </ng-container>
      </ng-container>

      <ng-container [matColumnDef]="column"  *ngIf="column == 'Policy ID' && menuName != 'Legislation'" >
        <mat-header-cell *matHeaderCellDef [style.flex]="displayedColumnswidth[i-1]" >
          <div class="input-table">
            <div mat-sort-header >{{column}}</div>
          </div>
        </mat-header-cell>
          <ng-container>
              <mat-cell class="firstcell-link" #tooltip="matTooltip" matTooltip="{{row[column]}}" matTooltipPosition="right" *matCellDef="let row"  (click)="policiesView(row)" [style.flex]="displayedColumnswidth[i-1]" > {{row[column] | titlecase}}</mat-cell>
          </ng-container>
      </ng-container>

      <ng-container [matColumnDef]="column"  *ngIf="column == 'Policy ID' && menuName == 'Legislation'" >
        <mat-header-cell *matHeaderCellDef >
          <div class="input-table">
            <div mat-sort-header >{{column}}</div>
          </div>
        </mat-header-cell>
          <ng-container>
              <mat-cell  *matCellDef="let row"> {{row[column] | titlecase}}</mat-cell>
          </ng-container>
      </ng-container>

      <ng-container  [matColumnDef]="column"  *ngIf="column == 'Assignee'" >
        <mat-header-cell *matHeaderCellDef class="columnrow" >
          <div class="input-table">
            <div mat-sort-header >{{column}}</div>
          </div>
        </mat-header-cell>
          <ng-container>
              <mat-cell class="columnrow"  *matCellDef="let row" #tooltip="matTooltip" matTooltipPosition="right" matTooltip="{{row[column]}}"> {{row[column]}}</mat-cell>
          </ng-container>
      </ng-container>

      <ng-container [matColumnDef]="column"  *ngIf="column == 'Entity Name'"  >
        <mat-header-cell *matHeaderCellDef >
          <div class="input-table">
            <div mat-sort-header >Record Name</div>
          </div>
        </mat-header-cell>
          <ng-container>
              <mat-cell class="firstcell-link" #tooltip="matTooltip" matTooltip="{{row[column]}}" matTooltipPosition="right" *matCellDef="let row" (click)="auditLogDetails(row)"> {{row[column] | titlecase}}</mat-cell>
          </ng-container>
      </ng-container>

      <ng-container [matColumnDef]="column"  *ngIf="column == 'Entity Type'"  >
        <mat-header-cell *matHeaderCellDef >
          <div class="input-table">
            <div mat-sort-header >Record Type</div>
          </div>
        </mat-header-cell>
          <ng-container>
              <mat-cell  #tooltip="matTooltip" matTooltip="{{row[column]}}" matTooltipPosition="right" *matCellDef="let row"> {{row[column] | titlecase}}</mat-cell>
          </ng-container>
      </ng-container>

      <ng-container [matColumnDef]="column"  *ngIf="column == 'Priority'"  >
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{column}} </mat-header-cell>
          <ng-container>
              <mat-cell *matCellDef="let row" #tooltip="matTooltip" matTooltip="{{row[column]}}" matTooltipPosition="right"  class="columrow"><span  [ngClass]="row[column] == 'Low' ? 'priority-level low' : row[column] == 'High' ? 'priority-level high' : row[column] == 'Medium' ? 'priority-level' : '' ">{{row[column]}}</span> </mat-cell>
          </ng-container>
      </ng-container>

      <ng-container [matColumnDef]="column"  *ngIf="column == 'Status'" >
        <mat-header-cell *matHeaderCellDef>
          <div class="input-table">
            <div mat-sort-header  > {{column}}</div>
          </div>
        </mat-header-cell>
          <ng-container *ngIf="isToggle == true">
            <mat-cell *matCellDef="let row" class="columrow">
              <section >
                <mat-slide-toggle [checked]="row[column]"  (change)="onChangeStatus($event.checked,row,entityTypeId)">
                </mat-slide-toggle>
              </section>
            </mat-cell>
          </ng-container>
          <ng-container>
              <mat-cell #tooltip="matTooltip" matTooltip="{{row[column]}}" matTooltipPosition="right" *matCellDef="let row" class="columrow"><span  [ngClass]="row[column] == 'Approved' ? 'priority-level low' : row[column] == 'Rejected' ? 'priority-level high' : row[column] == 'Open' ? 'priority-level' : '' " >{{row[column] | titlecase}}</span></mat-cell>
          </ng-container>
      </ng-container>

      <ng-container [matColumnDef]="column"  *ngIf="column == 'Email' || column == 'Email Address'" >
        <mat-header-cell *matHeaderCellDef class="columnrow">
          <div class="input-table">
            <div mat-sort-header >{{column}}</div>
          </div>
        </mat-header-cell>
          <ng-container>
              <mat-cell [ngClass]="menuName == 'Skills' ? 'columrow'  : 'columnrow'"  *matCellDef="let row" matTooltipPosition="right" #tooltip="matTooltip" matTooltip="{{row[column]}}"> {{row[column]}}</mat-cell>
          </ng-container>
      </ng-container>

      <ng-container [matColumnDef]="column"  *ngIf="column == 'Collaborator User'" >
        <mat-header-cell *matHeaderCellDef [style.flex]="displayedColumnswidth[i-1]"  >
          <div class="input-table">
            <div mat-sort-header >{{column}}</div>
          </div>
        </mat-header-cell>
          <ng-container>
              <mat-cell  *matCellDef="let row" #tooltip="matTooltip" matTooltip="{{row[column]}}" matTooltipPosition="right" [style.flex]="displayedColumnswidth[i-1]" > {{row[column]}}</mat-cell>
          </ng-container>
      </ng-container>
      

      <ng-container [matColumnDef]="column"  *ngIf="column == 'Modified On'" >
        <mat-header-cell *matHeaderCellDef >
          <div class="input-table">
            <div mat-sort-header >{{column}}</div>
          </div>
        </mat-header-cell>
          <ng-container>
              <mat-cell  *matCellDef="let row" matTooltipPosition="right" #tooltip="matTooltip" matTooltip="{{row[column]}}" class="columrow"> {{row[column]}}</mat-cell>
          </ng-container>
      </ng-container>
      <ng-container [matColumnDef]="column"  *ngIf="column == 'Created On'" >
        <mat-header-cell *matHeaderCellDef >
          <div class="input-table">
            <div mat-sort-header >{{column}}</div>
          </div>
        </mat-header-cell>
          <ng-container>
              <mat-cell  *matCellDef="let row" matTooltipPosition="right" #tooltip="matTooltip" matTooltip="{{row[column]}}" class="columrow"> {{row[column]}}</mat-cell>
          </ng-container>
      </ng-container>


      <ng-container [matColumnDef]="column"  *ngIf="column == 'Username'" >
        <mat-header-cell *matHeaderCellDef >
          <div class="input-table">
            <div mat-sort-header >{{column}}</div>
          </div>
        </mat-header-cell>
          <ng-container>
              <mat-cell class="firstcell-link" *matCellDef="let row" matTooltipPosition="right" #tooltip="matTooltip" matTooltip="{{row[column]}}" (click)="skillsView(row)" > {{row[column]  | titlecase}}</mat-cell>
          </ng-container>
      </ng-container>
      <ng-container [matColumnDef]="column"  *ngIf="column == 'Skills'" >
        <mat-header-cell *matHeaderCellDef >
          <div class="input-table">
            <div mat-sort-header  >{{column}}</div>
          </div>
        </mat-header-cell>
          <ng-container>
              <mat-cell  matTooltipPosition="right" #tooltip="matTooltip" matTooltip="{{row[column]}}" *matCellDef="let row" class="skills"> {{row[column] | titlecase}}</mat-cell>
          </ng-container>
      </ng-container>


      <ng-container [matColumnDef]="column"  *ngIf="column == 'Upload Files here'" >
        <mat-header-cell *matHeaderCellDef  >
          <div class="input-table">
            <div>{{column}}</div>
          </div>
        </mat-header-cell>
          <ng-container >
              <mat-cell  *matCellDef="let row;let i = index;"> 
                <div class="row">
                  <div class="col-md-12">
                    <div class="row uploaded-file-name" >
                      <span class="add-cursor" *ngFor="let file of fileList[i]"
                    (click)="download(file)">{{file?.fileName ? file?.fileName : '--'}}</span>
                    </div>
                  </div>
               
                  </div>
               </mat-cell>
          </ng-container>
      </ng-container>

      <ng-container  [matColumnDef]="column"  *ngIf="column == 'Policy Title'" >
        <mat-header-cell *matHeaderCellDef >
          <div class="input-table">
            <div mat-sort-header >{{column}}</div>
          </div>
        </mat-header-cell>
          <ng-container>
              <mat-cell *matCellDef="let row" #tooltip="matTooltip" matTooltipPosition="right" matTooltip="{{row[column]}}"> 
                <div class="row">
                  <div class="col-md-12 add-cursor">
                    {{row[column]}}
                  </div>
                </div>
              </mat-cell>
          </ng-container>
      </ng-container>

      <ng-container [matColumnDef]="column"   *ngIf="column == 'Action'" >
        <mat-header-cell *matHeaderCellDef  [style.flex]="displayedColumnswidth[i-1]" [ngClass]="menuName == 'Policies' ? 'policy-action'  : ''"  >{{column}}</mat-header-cell>
        <mat-cell *matCellDef="let row"  [style.flex]="displayedColumnswidth[i-1]" [ngClass]="menuName == 'Policies' ? 'policy-action'  : ''">
          <mat-icon class="btn-icon"  (click)="onEditDeleteClick(row)">
            <i-feather name="edit" matTooltip="Edit"></i-feather>
          </mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container [matColumnDef]="column"  *ngIf="column == 'Role Name'" >
        <mat-header-cell *matHeaderCellDef >
          <div class="input-table">
            <div mat-sort-header >{{column}}</div>
          </div>
        </mat-header-cell>
          <ng-container>
              <mat-cell  *matCellDef="let row" matTooltipPosition="right" #tooltip="matTooltip" matTooltip="{{row[column]}}" class="firstcell-link" (click)="viewRoles_Permission(row.EntityId)"> {{row[column]}}</mat-cell>
          </ng-container>
      </ng-container>

      <ng-container [matColumnDef]="column"  class="col-md-{{customTableColumnSize}}" *ngIf="column == 'Description'" >
        <mat-header-cell *matHeaderCellDef mat-sort-header [style.flex]="displayedColumnswidth[i-1]" >{{column}}</mat-header-cell>
        <mat-cell #tooltip="matTooltip" class="col-md-{{customTableColumnSize}}"
        [style.flex]="displayedColumnswidth[i-1]" matTooltipPosition="right"
        matTooltip="{{row[column]}}" *matCellDef="let row"> {{row[column] | titlecase}}</mat-cell>
      </ng-container>


      <ng-container [matColumnDef]="column"  *ngIf="column == 'search'">
        <mat-header-cell *matHeaderCellDef  class="icon-group search-line">
          <input type="text" class="col-input" *ngIf="showSearchFields" [(ngModel)]="
          searchKeyValue" [ngModelOptions]="{standalone: true}"  #focusSearch >
          <mat-icon class="thead-search" *ngIf="showSearchFields" (click)="search()" matTooltip="Search">search</mat-icon>
          <mat-icon class="thead-search mx-2" *ngIf="showSearchFields" (click)="clear()" matTooltip="Clear">cached</mat-icon>
          <mat-icon class="thead-search" *ngIf="showSearchFields" (click)="close()" matTooltip="Close">close</mat-icon>
          <mat-icon class="thead-search" *ngIf="!showSearchFields" (click)="showSearch()" matTooltip="Search">search</mat-icon></mat-header-cell>
        <mat-cell *matCellDef="let element" class="search-line"></mat-cell>
      </ng-container>

    </ng-container>
    <div class="table-content-wrapper">
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></mat-header-row>
  </div>
    <div class="table-content-wrapper">
    <mat-row  *matRowDef="let row; columns: displayedColumns;" class="text-break"></mat-row>
    </div>

    </form>
  </mat-table>

  <ng-container>
    <div  class="text-center my-5 nodata_display" *ngIf="observableData.filteredData?.Entities?.length === 0">
      No Data Found
  </div>
  </ng-container>
  
  <ng-container *ngIf="observableData.filteredData?.Entities?.length > 0">
    <app-pagination [paginationList]="observableData.filteredData" (onPageChanged)="onPageChange($event)"></app-pagination>
  </ng-container>  

</div>
