
<div class="content-box p-4 ScrollBar-Case" id=impacs-tab *ngFor="let view of viewList">
  <div class="head-box d-flex justify-content-between">
    <div class="d-flex">
      <mat-icon (click)="cancel()" matTooltip="Back">keyboard_arrow_left</mat-icon>
      <h3 class="back_arrow_left">{{view?.['Incident Name'] ? 'Incident': view?.['Case Name'] ? 'Case' : 'Event'}} Info</h3>
    </div>
  </div>
  <div class="incident-info">
    <mat-card class="incident-box">
      <div class="row">
        <div class="col-md-2">
          <h6>{{view?.['Incident Name'] ? 'Incident': view?.['Case Name'] ? 'Case' : 'Event'}} ID</h6>
          <p>{{view?.['Incident ID'] ? view?.['Incident ID'] : view?.['Case ID'] ? view?.['Case ID'] : view?.['Event
            ID']}}</p>
        </div>
        <div class="col-md-3">
          <h6>{{view?.['Incident Name'] ? 'Incident': view?.['Case Name'] ? 'Case' : 'Event'}} Name</h6>
          <p>{{view?.['Incident Name'] ? view?.['Incident Name'] : view?.['Case Name'] ? view?.['Case Name'] :
            view?.['Event Name']}}</p>
        </div>
        <div class="col-md-2">
          <h6>{{view?.['Incident Name'] ? 'Incident': view?.['Case Name'] ? 'Case' : 'Event'}} Type</h6>
          <p>{{view?.['Incident Type'] ? view?.['Incident Type'] : view?.['Case Type'] ? view?.['Case Type'] :
            view?.['Event Type']}}</p>
        </div>
        <div class="col-md-2">
          <h6>Assignee</h6>
          <p>{{view?.['Assignee']}}</p>
        </div>
        <div class="col-md-2">
          <h6>Priority</h6>
          <span
            [ngClass]="view?.['Priority'] == 'Low' ? 'priority-level low' : view?.['Priority'] == 'High' ? 'priority-level high' : view?.['Priority'] == 'Medium' ? 'priority-level' : '' ">{{view?.['Priority']}}</span>
        </div>
      </div>
    </mat-card>
    <div class="mt-3 incident-info-box">
      <app-tab [displayedLables]="labelNames" [selectedIndex]="selectedIndex"
        (onSelectedTab)="onSelectedTab($event.index)"></app-tab>
      <div class="mt-4">
        <div class="row">
          <div class="col-md-6 ml-3">
            <mat-form-field appearance="fill" class="info-search">
              <input matInput placeholder="Search" type="search" [(ngModel)]="searchKey"
                [ngModelOptions]="{standalone: true}" (keyup)="search(searchKey)" autocomplete="off">
              <i-feather class="float-right" name="search" matTooltip="Search"></i-feather>
            </mat-form-field>
          </div>
        </div>
        <h5 class="font-weight-bold m-3">Search Results</h5>
        <div class="search-box m-3">
          <mat-table class="impacs-table" [dataSource]="dataSource">
            <ng-container *ngFor="let column of displayedColumns">
              <ng-container [matColumnDef]="column" *ngIf="column == 'select'">
                <mat-header-cell *matHeaderCellDef>
                  <mat-checkbox color="primary" (change)="$event ? masterToggle() : null; onRowChecked()"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <ng-container>
                    <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null; onRowChecked()"
                      [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                  </ng-container>
                </mat-cell>
              </ng-container>
              <ng-container [matColumnDef]="column" *ngIf="column != 'select'">
                <mat-header-cell *matHeaderCellDef>{{column}} </mat-header-cell>
                <mat-cell #tooltip="matTooltip" matTooltip="{{row[column]}}" *matCellDef="let row"> {{(row[column] !=
                  null)?(row[column].length>12)? (row[column] | slice:0:12)+'..':(row[column]) : "--" }}</mat-cell>
              </ng-container>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <div class="table-content-wrapper">
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </div>
          </mat-table>
          <ng-container>
            <div class="text-center my-5 nodata_display" *ngIf="dataSource.filteredData.length === 0">
              No Data Found
            </div>
          </ng-container>
    
        </div>
        <div class="inci-search-box-paginator">
          <p class="ml-3">Total Data's {{pageLength}}</p>
        </div>
        <ng-container *ngIf="paginationResult?.Entities?.length > 0">
          <app-pagination [paginationList]="paginationResult" (onPageChanged)="onPageChanged($event)"></app-pagination>
        </ng-container>
      </div>
      <div class="mt-4 mb-4 incident-info-form">
        <div class="row">
          <div class=" mb-3 ml-3 col-3" *ngFor="let attribute of mappingField">
            <form [formGroup]="caseManagementForm">
              
                  <mat-form-field class="dynamic-h" appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_FIELD">
                    <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
                    <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
                    <mat-chip-list #chipList aria-label="Mapping selection" >
                      <mat-chip *ngFor="let mapping of mappings; let i = index" [selectable]="selectable"
                        [removable]="removable" (removed)="remove(mapping)"
                        matTooltip="{{mapping.referenceId}}- {{mappingsName[i]}}">
                        {{(mapping.referenceId != null)?(mapping.referenceId?.length>10)? (mapping.referenceId |
                        slice:0:10)+'..':(mapping.referenceId) : "--" }}
                        <!-- {{mapping.referenceId}} - {{mappingsName[i]}} -->
                        <button matChipRemove *ngIf="removable">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip>
                      <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" autocomplete="off">
                    </mat-chip-list>
                  </mat-form-field>
              
                  <mat-form-field appearance="fill" *ngIf="attribute.componentName== attributeTypeValue?.TEXT_AREA">
                    <mat-label>{{attribute?.entityTypeAttributeName}}</mat-label>
                    <mat-label *ngIf="attribute.isRequired" class="text-danger">*</mat-label>
                    <textarea matInput [formControlName]="attribute.entityTypeAttributeName" autocomplete="off"></textarea>
                  </mat-form-field>
    
                  
              <div *ngIf="attribute.componentName=='TextField' && mappings.length == 0 && mappingIdValidation">
                <mat-error>
                  {{attribute?.entityTypeAttributeName}} is required
                </mat-error>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center my-5 form-btn">
      <button mat-raised-button class="modal-submit" (click)="submit()">Submit</button>
      <button mat-raised-button class="modal-cancel" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>