.incident-box h6{
  color: #707070;
} 
.incident-box p{
  color: #000;
  font-weight: 600;
}
.incident-box span{
  color: #fff;
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
  font-size: 0.9rem;
}
.incident-info-box{
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 0.6px 2px 0px #686767;
}
::ng-deep .info-search .mat-form-field-infix{
  margin: 0;
  padding: 0;
}
::ng-deep .info-search .mat-form-field-wrapper{
  padding: 0;
}
::ng-deep .info-search i-feather{
  position: relative;
  bottom: 12px;
  width: 1.5rem;
}
::ng-deep .info-search i-feather svg{
  stroke: #707070;
}
.search-box{
  border: 1px solid #cccc;
  height: 230px;
  border-radius: 10px;
  padding: 0.7rem;
  position: relative;
}
::ng-deep .search-box p{
  margin: 0;
  font-size: 0.9rem;
  position: absolute;
  bottom: 5px;
  left: 15px;
  font-weight: 500;
}
.mat-chip.mat-standard-chip {
  background-color: #007ACC;
  color: #fff;
  font-weight: 400;
  min-height: 35px;
}
::ng-deep input.mat-chip-input{
  bottom: unset;
}
::ng-deep .mat-chip.mat-standard-chip .mat-chip-remove{
  opacity: unset;
}
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background:  transparent;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 1ex;
  box-shadow: 0px 1px 2px #ccc;
}
::-webkit-scrollbar-corner {
  background: #ccc;
}

.mat-standard-chip .mat-chip-remove, .mat-standard-chip .mat-chip-trailing-icon {
  margin-left: 8px !important;
  margin-right: 5px !important;
  width: 18px !important;
  height: 31px !important;
  cursor: pointer;
}
::ng-deep .incident-info-form .mat-form-field.dynamic-h .mat-form-field-wrapper{
  height: 100%;
}