.plus-right{
  float: right;
}
.plus-right .mat-icon{
  background: #fff;
}
.research{
  width: 75%;
  margin: 7rem auto;
}
.research-search form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #ccc;
  float: left;
  width: 80%;
  background: #fff;
  height: 45px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  outline:unset !important;
}
.research-search  form.example button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #eacc03;
  color: #003a91;
  font-size: 17px;
  border: 1px solid #ccc;
  border-left: none;
  cursor: pointer;
  font-weight: 500;
  height: 45px;
  border-bottom-right-radius:5px;
  border-top-right-radius:5px;
}
.research-search  form.example button:hover {
  background: #eacc03;
}
.research-search form.example::after {
  content: "";
  clear: both;
  display: table;
}
.research form i-feather{
  width: 20px;
  margin-right: 1rem;
}
.research-content-type span{
  margin: 0 0.5rem;
  color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 50px;
  font-size: 0.9rem;
}
.type-1,.type-7{
background:#FFA500;
}
.type-2,.type-8{
  background:#007ACC;
}
.type-3,.type-9{
  background:#19BFDA;
}
.type-4,.type-10{
  background:#37C74A;
}
.type-5,.type-11{
  background:#BF67C5;
}
.type-6,.type-12{
  background:#E97575;
}
.clear-btn{
  width: 50px!important;
}