<div class="p-4" id="impacs-tab">
  <div class="plus-right">
      <mat-icon class="btn-icon" (click)="onCreateClicked()">
          <i-feather name="plus" matTooltip="New RSS Feeds"></i-feather>
      </mat-icon>
  </div>
  <div class="research text-center">
      <h2>How can we help?</h2>
      <div class="my-5 research-search">
          <form class="example">
              <input type="text" placeholder="What are you looking for?" name="search" [(ngModel)]="searchKey" #focusSearch  autocomplete="off">
              <button type="button" class="clear-btn" *ngIf="searchKey"  (click)="searchKey=''" > <i-feather name="x" matTooltip="Clear"></i-feather></button>
              <button type="button" (click)="search(searchKey)"> <i-feather name="search" matTooltip="Search"></i-feather>Search</button>
          </form>
      </div> 
      <div class="row">
          <p>Content types:</p>
      <div class="research-content-type" *ngFor="let item of contentTypeLists; let i=index">
          <span class="type-{{i+1}}">{{item?.componentValue}}</span>
      </div>
      </div>
  </div>
</div>
