  <div class="modal-head">
    <h5>{{data?.moduleName == 'Logout' ? data?.moduleName : 'Delete '+data?.moduleName}}
    </h5>
  </div>
  <button mat-icon-button class="close-button" (click)="onNoClick()">
    <mat-icon class="close-icon" color="warn" matTooltip="Close">close</mat-icon>
  </button>
  <div mat-dialog-content class="text-center p-3 del-body" >
    <div class="d-flex justify-content-center p-3" *ngIf = "data?.moduleName != 'Logout'">
      <div class="delete-icon">
       <i-feather name="trash-2" matTooltip="Delete"></i-feather>
      </div>
    </div>
  <p> {{data?.moduleName == 'Logout' ? 'Are you sure, you want to ' + data?.moduleName : data?.moduleName == '' ? 'Are you sure, you want to delete' : 'Are you sure, you want to delete this ' + data?.moduleName}}?</p>
  </div>
  <div mat-dialog-actions >
    <button mat-button class="btn modal-submit px-5" (click)="delete()">Yes</button>
    <button mat-button class="btn modal-cancel px-5" (click)="onNoClick()">No</button>
  </div>
