::ng-deep .delete-icon i-feather{
  position: relative;
  bottom: 3px;
  right: 3px;
}
.mat-dialog-actions{
  justify-content: center;
}
.delete-icon{
  background: #FF4141;
   width: 60px;
   height: 60px;
   text-align: center;
   justify-content: center;
   border-radius: 50px;
   padding: 12px;
}
::ng-deep .delete-icon svg{
  stroke: #fff;
  width: 30px;
}