::ng-deep .custom-dialogbox {
    mat-dialog-container {
        position: fixed !important;
        margin: auto!important;
        width: 350px!important;
        height: 100%!important;
        right: 0!important;
        top: 67px!important;    
    }
}
::ng-deep .example-margin .mat-checkbox-layout{
    margin: 0;
}