<div id="impacs-tab">
  <div class="impacs-tab-right d-flex ">
    <div class="d-flex align-items-center" *ngIf="selectedIndex != 0 && selectedIndex != 4">

      <section class="example-section"  *ngIf="selectedIndex ==1">
        <mat-checkbox class="example-margin" color="primary" [(ngModel)]="checked" (click)="onChangeArchive()">Archive</mat-checkbox>
      </section>

      <button class="new_case" mat-raised-button (click)="exportFile(labelNames[this.selectedIndex]?.name,labelNames[this.selectedIndex]?.value)"><i-feather name="download" matTooltip="Download"></i-feather>Download</button>

      <mat-icon class="btn-icon" (click)="openDeleteDialog()">
        <i-feather name="trash-2" matTooltip="Delete"></i-feather>
      </mat-icon>
      <mat-icon class="btn-icon"
        (click)="openfilterDialog()">
        <i-feather name="filter" matTooltip="Filter"></i-feather>
      </mat-icon>
      <button class="new_case" mat-raised-button (click)="onCreateEditClicked()">
        <i-feather name="plus" matTooltip="New {{labelNames[this.selectedIndex]?.name}}"></i-feather>New {{labelNames[this.selectedIndex]?.name}}
      </button>
    </div>
  </div>
  
  <app-tab [displayedLables]="labelNames" [selectedIndex]="selectedIndex" (onSelectedTab)="onSelectedTab($event.index)">
  </app-tab>

  <div class="case-dashboard mx-4" *ngIf="selected">
      <app-dashboard (chartValues)="chartValues($event)" (selectedMemberId)="selectedMemberId($event)"></app-dashboard>
  </div>

  <div class="case-dashboard" *ngIf="!selected">
    <app-table [observableData]="dataSource" [customTableColumnSize]="customTableColumnSize"
      [displayedColumns]="displayedColumns" (onCreateEditClicked)="onCreateEditClicked($event)"
      (onRowCheck)="onSelected($event)" (onSorted)="onSorted($event)" (onPageChanged)="onPageChanged($event)"
      [selectedIndex]="selectedIndex" [entityTypeId]="entityTypeID" [menuName]="menuName" [selectedTabName]="labelNames[this.selectedIndex].name"></app-table>
  </div>

  <div  *ngIf="openFilterDialogs">
    <app-filter></app-filter>
  </div>
